<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<import resource="classpath:/spring/validation-context.xml" />

  <util:list id="validators" value-type="org.slc.sli.ingestion.validation.SimpleValidatorSpring">
      <bean class="org.slc.sli.ingestion.landingzone.validation.XmlFileValidator" />
  </util:list>

    <bean id="ToolMain" class="org.slc.sli.ingestion.tool.ToolMain">
        <property name="controller" ref="validationController" />
        <property name="appName" value="validationTool" />
        <property name="inputArgumentCount" value="1" />
    </bean>

    <bean id="zipFileValidator" class="org.slc.sli.ingestion.landingzone.validation.ZipFileValidator"/>

    <bean id="zipValidation" class="org.slc.sli.ingestion.tool.ZipValidation">
         <property name="validator" ref="zipFileValidator"/>
         <property name="messageSource" ref="messageSource"/>
    </bean>

     <bean id="ctlFileValidation" class="org.slc.sli.ingestion.tool.ControlFileValidation">
         <property name="assembler">
             <bean class="org.slc.sli.ingestion.landingzone.BatchJobAssembler"/>
         </property>
     </bean>


    <bean id="validationController" class="org.slc.sli.ingestion.tool.ValidationController">
        <property name="zipValidation" ref="zipValidation"/>
        <property name="ctlValidation" ref="ctlFileValidation"/>
        <property name="validators" ref="validators"/>
     </bean>
</beans>