<div class="page-header">
  <h1>Developer Account Registration - Alpha Program Full</h1>
</div>

<p>Thank you for your interest in the SLC Development environment. The program is currently full, please check back for updates.</p>

<div class="form-actions">
  <%= link_to "OK", APP_CONFIG['redirect_slc_url'], :class =>"btn" %>
</div>
<div id="waiting_list_page" class="hidden"></div>