<h1>Waitlist Email</h1>
<p>Thank you for your interest in the SLI Development environment. However, regretfully at this time we are unable to accommodate further account requests. Please enter your email address if you want to be notified of updates.</p>
    
<%= render 'form' %>
