<ul class="nav nav-pills nav-stacked">
  <li>
    <%= link_to('Failing Test Leaderboard', :features, :class => "btn") %>
  </li>
  <li>
    <%= link_to('Local vs. CI Failure Analysis', :components, :class => "btn") %>
  </li>
  <li>
    <%= link_to('CI Node Health Check', :health_index, :class => "btn") %>
  </li>
</ul>