<!DOCTYPE html>
<html>
<head>
  <title>Quantum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>QUANTUM Failure Aggregation Reporting Tool </h1>

<%= yield %>

</body>
</html>
