<div class="page-header">
  <h1>
    Create a Landing Zone for your Data
  </h1>
</div>
<div class="alert alert-success">
    <i class="icon-ok"></i> Your landing zone is being provisioned. You will receive an email with further instructions about uploading the data.
    <p>For support questions, contact <%= APP_CONFIG['support_email'] %></p> 
</div>
<div class="hidden" id="successMessage"/>

<div class="form-actions">
  <%= link_to "OK", APP_CONFIG['portal_url'], :class =>"btn btn-primary" %>
</div>