.settings
.project
.checkstyle
.classpath
.pydevproject
target
.git
#below is to ignore generated junit output
TEST-*.xml
*.tmp
acceptance-tests/test/features/ingestion/test_data/*.zip
acceptance-tests/test/features/ingestion/test_data/temp-*
acceptance-tests/activemq-data/*
ingestion/ingestion-base/src/test/resources/zip/unzip/*
acceptance-tests/vendor/cache/*
domain/src/main/resources/sliModel/SLI.xmi
domain/src/main/resources/sliModel/SLI.xsd
META*
testBundle*.zip
opstools/search-indexer/data/
api/data
api/src/main/resources/is_shards.js
api/src/main/resources/sli-shard-presplit.js
api/src/main/resources/sli_shards.js

config/scripts/vendor/*
config/scripts/.bundle/*

search-indexer/activemq-data
