.settings
.project
.checkstyle
.classpath
.pydevproject
target
.git
#below is to ignore generated junit output
TEST-*.xml
*.tmp
acceptance-tests/test/features/ingestion/test_data/*.zip
acceptance-tests/test/features/ingestion/test_data/temp-*
ingestion/ingestion-base/src/test/resources/zip/unzip/*
acceptance-tests/vendor/cache/*
domain/src/main/resources/sliModel/SLI.xmi
