<%= form_for(@teacher_section_association) do |f| %>
  <% if @teacher_section_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_section_association.errors.count, "error") %> prohibited this teacher_section_association from being saved:</h2>

      <ul>
      <% @teacher_section_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
