##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeAssessmentMetadata xmlns="http://ed-fi.org/0100RFC062811"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://ed-fi.org/0100RFC062811 file:/C:/Users/slee/Desktop/My/MyWorkspace/sli2/sli/sli/common/common-test-data/src/main/resources/schemas/ed-fi/Interchange-AssessmentMetadata-0100RFC062811.xsd">

############end############
</InterchangeAssessmentMetadata>

##########mainTemplate#########
    <AssessmentFamily id="ID001">
        <AssessmentTitle>--AssessmentTitle--</AssessmentTitle>

==AssessmentIdentificationCode==

        <AssessmentCategory>--AssessmentCategory--</AssessmentCategory>
        <AcademicSubject>--AcademicSubject--</AcademicSubject>
        <GradeLevelAssessed>--GradeLevelAssessed--</GradeLevelAssessed>
        <LowestGradeLevelAssessed>--LowestGradeLevelAssessed--</LowestGradeLevelAssessed>
        <TimeOfYear>--TimeOfYear--</TimeOfYear>
        <ContentStandard>--ContentStandard--</ContentStandard>
        <Version>--Version--</Version>
        <RevisionDate>--RevisionDate--</RevisionDate>
        <MaxRawScore>--MaxRawScore--</MaxRawScore>
        <AssessmentItemReference id="ID005" ref="ID005"/>
        <AssessmentRatingStandardReference id="ID009" ref="ID006"/>
        <ObjectiveAssessmentReference id="ID013" ref="ID012"/>
        <AssessmentFamilyReference id="ID015" ref="ID006">
            <AssessmentFamilyIdentity>
                <AssessmentFamilyTitle>--ParentAssessmentFamilyTitle--</AssessmentFamilyTitle>
                <Version>--ParentVersion--</Version>
            </AssessmentFamilyIdentity>
        </AssessmentFamilyReference>
        <Nomenclature>--Nomenclature--</Nomenclature>
    </AssessmentFamily>

##########mainQuery##############

select assmtFamily.AssessmentFamilyTitle as AssessmentTitle
     , ast.CodeValue as AcademicSubject
     , glt.CodeValue as GradeLevelAssessed
     , assmtFamily.Version as Version
     , act.CodeValue as AssessmentCategory
     , lglt.CodeValue as LowestGradeLevelAssessed
     , apd.CodeValue as TimeOfYear
     , cst.CodeValue as ContentStandard
     , assmtFamily.RevisionDate
     , null as MaxRawScore
     , paf.AssessmentFamilyTitle as ParentAssessmentFamilyTitle
     , paf.Version as ParentVersion
     , assmtFamily.Nomenclature
from edfi.AssessmentFamily assmtFamily
  join edfi.AcademicSubjectType ast on ast.AcademicSubjectTypeId = assmtFamily.AcademicSubjectTypeId
  join edfi.GradeLevelType glt on glt.GradeLevelTypeId = assmtFamily.AssessedGradeLevelTypeId
  join edfi.AssessmentCategoryType act on act.AssessmentCategoryTypeId = assmtFamily.AssessmentCategoryTypeId
  left join edfi.GradeLevelType lglt on lglt.GradeLevelTypeId = assmtFamily.LowestAssessedGradeLevelTypeId
  left join edfi.AssessmentFamilyAssessmentPeriod afap on afap.AssessmentFamilyTitle = assmtFamily.AssessmentFamilyTitle
  left join edfi.AssessmentPeriodDescriptor apd on apd.AssessmentPeriodDescriptorId = afap.AssessmentPeriodDescriptorId
  left join edfi.ContentStandardType cst on cst.ContentStandardTypeId = assmtFamily.ContentStandardTypeId
  left join edfi.AssessmentFamily paf on paf.AssessmentFamilyTitle = assmtFamily.parentAssessmentFamilyTitle
order by AssessmentTitle

##########AssessmentIdentificationCodeTemplate##############

        <AssessmentIdentificationCode IdentificationSystem="--IdentificationSystem--" AssigningOrganizationCode="--AssigningOrganizationCode--">
            <ID>--ID--</ID>
        </AssessmentIdentificationCode>

##########AssessmentIdentificationCodeQuery##############

select assmtFamily.AssessmentFamilyTitle as AssessmentTitle
     , ais.CodeValue as IdentificationSystem
     , afic.AssigningOrganizationCode
     , afic.IdentificationCode as ID
from edfi.AssessmentFamily assmtFamily
  join edfi.AssessmentFamilyIdentificationCode afic on afic.AssessmentFamilyTitle = assmtFamily.AssessmentFamilyTitle
  join edfi.AssessmentIdentificationSystemType ais on ais.AssessmentIdentificationSystemTypeId = afic.AssessmentIdentificationSystemTypeId
order by AssessmentTitle

