##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeAssessmentMetadata xmlns="http://ed-fi.org/0100RFC062811" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ed-fi.org/0100RFC062811 file:/C:/Users/slee/Desktop/My/MyWorkspace/sli2/sli/sli/common/common-test-data/src/main/resources/schemas/ed-fi/Interchange-AssessmentMetadata-0100RFC062811.xsd">
############end############
</InterchangeAssessmentMetadata>

##########mainTemplate#########

    <Assessment id="ID001">
        <AssessmentTitle>--AssessmentTitle--</AssessmentTitle>

==AssessmentIdentificationCode==

        <AssessmentCategory>--AssessmentCategory--</AssessmentCategory>
        <AcademicSubject>--AcademicSubject--</AcademicSubject>
        <GradeLevelAssessed>--GradeLevelAssessed--</GradeLevelAssessed>
        <LowestGradeLevelAssessed>--LowestGradeLevelAssessed--</LowestGradeLevelAssessed>
        <TimeOfYear>--TimeOfYear--</TimeOfYear>
        <ContentStandard>--ContentStandard--</ContentStandard>
        <Version>--Version--</Version>
        <RevisionDate>--RevisionDate--</RevisionDate>
        <MaxRawScore>--MaxRawScore--</MaxRawScore>
        <AssessmentItemReference id="ID003" ref="ID003"/>
        <AssessmentRatingStandardReference id="ID009" ref="ID001"/>
        <ObjectiveAssessmentReference id="ID013" ref="ID004"/>
        <AssessmentFamilyReference id="ID015" ref="ID008">
            <AssessmentFamilyIdentity>
                <AssessmentFamilyTitle>--AssessmentFamilyTitle--</AssessmentFamilyTitle>
                <Version>--Version--</Version>
            </AssessmentFamilyIdentity>
        </AssessmentFamilyReference>
        <Nomenclature>--Nomenclature--</Nomenclature>
    </Assessment>

##########mainQuery##############

select assmt.AssessmentTitle as AssessmentTitle
     , ast.CodeValue as AcademicSubject
     , glt.CodeValue as GradeLevelAssessed
     , assmt.Version as Version
     , act.CodeValue as AssessmentCategory
     , lglt.CodeValue as LowestGradeLevelAssessed
     , apd.CodeValue as TimeOfYear
     , cst.CodeValue as ContentStandard
     , assmt.RevisionDate
     , assmt.MaxRawScore
     , afa.AssessmentFamilyTitle
     , assmt.Nomenclature
from edfi.Assessment assmt
  join edfi.AcademicSubjectType ast on ast.AcademicSubjectTypeId = assmt.AcademicSubjectTypeId
  join edfi.GradeLevelType glt on glt.GradeLevelTypeId = assmt.AssessedGradeLevelTypeId
  join edfi.AssessmentCategoryType act on act.AssessmentCategoryTypeId = assmt.AssessmentCategoryTypeId
  left join edfi.GradeLevelType lglt on lglt.GradeLevelTypeId = assmt.LowestAssessedGradeLevelTypeId
  left join edfi.AssessmentPeriodDescriptor apd on apd.AssessmentPeriodDescriptorId = assmt.AssessmentPeriodDescriptorId
  left join edfi.ContentStandardType cst on cst.ContentStandardTypeId = assmt.ContentStandardTypeId
  left join edfi.AssessmentFamilyAssociation afa on afa.AssessmentTitle = assmt.AssessmentTitle and afa.AssessmentAcademicSubjectTypeId = assmt.AcademicSubjectTypeId and afa.AssessmentAssessedGradeLevelTypeId = assmt.AssessedGradeLevelTypeId and afa.AssessmentVersion = assmt.Version
order by AssessmentTitle, AcademicSubject, GradeLevelAssessed, Version

##########AssessmentIdentificationCodeTemplate##############

        <AssessmentIdentificationCode IdentificationSystem="--IdentificationSystem--" AssigningOrganizationCode="--AssigningOrganizationCode--">
            <ID>--ID--</ID>
        </AssessmentIdentificationCode>

##########AssessmentIdentificationCodeQuery##############

select assmt.AssessmentTitle as AssessmentTitle
     , ast.CodeValue as AcademicSubject
     , glt.CodeValue as GradeLevelAssessed
     , assmt.Version as Version
     , ais.CodeValue as IdentificationSystem
     , aic.AssigningOrganizationCode
     , aic.IdentificationCode as ID
from edfi.Assessment assmt
  join edfi.AcademicSubjectType ast on ast.AcademicSubjectTypeId = assmt.AcademicSubjectTypeId
  join edfi.GradeLevelType glt on glt.GradeLevelTypeId = assmt.AssessedGradeLevelTypeId
  join edfi.AssessmentIdentificationCode aic on aic.AssessmentTitle = assmt.AssessmentTitle and aic.AcademicSubjectTypeId = assmt.AcademicSubjectTypeId and aic.AssessedGradeLevelTypeId = assmt.AssessedGradeLevelTypeId and aic.Version = assmt.Version
  join edfi.AssessmentIdentificationSystemType ais on ais.AssessmentIdentificationSystemTypeId = aic.AssessmentIdentificationSystemTypeId
order by AssessmentTitle, AcademicSubject, GradeLevelAssessed, Version

