##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeEducationOrganization xsi:schemaLocation="http://ed-fi.org/0100 Interchange-EducationOrganization.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeEducationOrganization>

##########mainTemplate#########
	<Location id="ID_1">
		<ClassroomIdentificationCode>--ClassroomIdentificationCode--</ClassroomIdentificationCode>
		<MaximumNumberOfSeats>--MaximumNumberOfSeats--</MaximumNumberOfSeats>
		<OptimalNumberOfSeats>--OptimalNumberOfSeats--</OptimalNumberOfSeats>
	</Location>

##########mainQuery##############

select SchoolId
	, ClassroomIdentificationCode
	, MaximumNumberOfSeats
	, OptimalNumberOfSeats 
from edfi.location
order by SchoolId
