##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeStaffAssociation xmlns="http://ed-fi.org/0100RFC062811" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ed-fi.org/0100RFC062811 file:/C:/Users/slee/Desktop/My/MyWorkspace/sli2/sli/sli/common/common-test-data/src/main/resources/schemas/ed-fi/Interchange-StaffAssociation-0100RFC062811.xsd">

############end############
</InterchangeStaffAssociation>

##########mainTemplate#########

    <Staff id="ID003">
        <StaffUniqueStateId>--StaffUniqueStateId--</StaffUniqueStateId>

==StaffIdentificationCode==

        <Name Verification="--Verification--">
            <PersonalTitlePrefix>--PersonalTitlePrefix--</PersonalTitlePrefix>
            <FirstName>--FirstName--</FirstName>
            <MiddleName>--MiddleName--</MiddleName>
            <LastSurname>--LastSurname--</LastSurname>
            <GenerationCodeSuffix>--GenerationCodeSuffix--</GenerationCodeSuffix>
            <MaidenName>--MaidenName--</MaidenName>
        </Name>

==OtherName==

        <Sex>--Sex--</Sex>
        <BirthDate>--BirthDate--</BirthDate>

==Address==

==Telephone==

==ElectronicMail==

        <HispanicLatinoEthnicity>--HispanicLatinoEthnicity--</HispanicLatinoEthnicity>
        <OldEthnicity>--OldEthnicity--</OldEthnicity>
        <Race>
==RacialCategory==
        </Race>

        <HighestLevelOfEducationCompleted>--HighestLevelOfEducationCompleted--</HighestLevelOfEducationCompleted>
        <YearsOfPriorProfessionalExperience>--YearsOfPriorProfessionalExperience--</YearsOfPriorProfessionalExperience>
        <YearsOfPriorTeachingExperience>--YearsOfPriorTeachingExperience--</YearsOfPriorTeachingExperience>

==Credentials==

    </Staff>

##########mainQuery##############

select staf.StaffUSI as StaffUniqueStateId
 , pivt.CodeValue as Verification
 , ptpt.CodeValue as PersonalTitlePrefix
 , staf.FirstName
 , staf.MiddleName
 , staf.LastSurName as LastSurname
 , gcst.CodeValue as GenerationCodeSuffix
 , staf.MaidenName
 , st.CodeValue as Sex
 , staf.BirthDate
 , staf.HispanicLatinoEthnicity
 , oet.CodeValue as OldEthnicity
 , loet.Description as HighestLevelOfEducationCompleted
 , staf.YearsOfPriorProfessionalExperience
 , staf.YearsOfPriorTeachingExperience
from edfi.Staff staf
 left join edfi.PersonalInformationVerificationType pivt on pivt.PersonalInformationVerificationTypeId = staf.PersonalInformationVerificationTypeId
 left join edfi.PersonalTitlePrefixType ptpt on ptpt.PersonalTitlePrefixTypeId = staf.PersonalTitlePrefixTypeId
 left join edfi.GenerationCodeSuffixType gcst on gcst.GenerationCodeSuffixTypeId = staf.GenerationCodeSuffixTypeId
 left join edfi.SexType st on st.SexTypeId = staf.SexTypeId
 left join edfi.OldEthnicityType oet on oet.OldEthnicityTypeId = staf.OldEthnicityTypeId
 left join edfi.LevelOfEducationType loet on loet.LevelOfEducationTypeId = staf.HighestLevelOfEducationCompletedTypeId
order by StaffUniqueStateId


##########StaffIdentificationCodeTemplate##############

        <StaffIdentificationCode IdentificationSystem="--IdentificationSystem--" AssigningOrganizationCode="--AssigningOrganizationCode--">
            <ID>--ID--</ID>
        </StaffIdentificationCode>

##########StaffIdentificationCodeQuery##############

select sic.StaffUSI as StaffUniqueStateId
  , sist.CodeValue as IdentificationSystem
  , sic.AssigningOrganizationCode
  , sic.IdentificationCode as ID
from edfi.StaffIdentificationCode sic
 join edfi.StaffIdentificationSystemType sist on sist.StaffIdentificationSystemTypeId = sic.StaffIdentificationSystemTypeId
order by StaffUniqueStateId

##########OtherNameTemplate##############

        <OtherName OtherNameType="--OtherNameType--">
            <PersonalTitlePrefix>--PersonalTitlePrefix--</PersonalTitlePrefix>
            <FirstName>--FirstName--</FirstName>
            <MiddleName>--MiddleName--</MiddleName>
            <LastSurname>--LastSurname--</LastSurname>
            <GenerationCodeSuffix>--GenerationCodeSuffix--</GenerationCodeSuffix>
        </OtherName>

##########OtherNameQuery##############

select son.StaffUSI as StaffUniqueStateId
 , ont.CodeValue as OtherNameType
 , ptpt.CodeValue as PersonalTitlePrefix
 , son.FirstName
 , son.MiddleName
 , son.LastSurName as LastSurname
 , gcst.CodeValue as GenerationCodeSuffix
from edfi.StaffOtherName son 
 join edfi.OtherNameType ont on ont.OtherNameTypeId = son.OtherNameTypeId
 left join edfi.PersonalTitlePrefixType ptpt on ptpt.PersonalTitlePrefixTypeId = son.PersonalTitlePrefixTypeId
 left join edfi.GenerationCodeSuffixType gcst on gcst.GenerationCodeSuffixTypeId = son.GenerationCodeSuffixTypeId
order by StaffUniqueStateId

##########AddressTemplate##############

        <Address AddressType="--AddressType--">
            <StreetNumberName>--StreetNumberName--</StreetNumberName>
            <ApartmentRoomSuiteNumber>--ApartmentRoomSuiteNumber--</ApartmentRoomSuiteNumber>
            <BuildingSiteNumber>--BuildingSiteNumber--</BuildingSiteNumber>
            <City>--City--</City>
            <StateAbbreviation>--StateAbbreviation--</StateAbbreviation>
            <PostalCode>--PostalCode--</PostalCode>
            <NameOfCounty>--NameOfCounty--</NameOfCounty>
            <CountyFIPSCode>--CountyFIPSCode--</CountyFIPSCode>
            <CountryCode>--CountryCode--</CountryCode>
            <Latitude>--Latitude--</Latitude>
            <Longitude>--Longitude--</Longitude>
        </Address>

##########AddressQuery##############

select sa.StaffUSI as StaffUniqueStateId
 , adt.CodeValue as AddressType
 , sa.StreetNumberName
 , sa.ApartmentRoomSuiteNumber
 , sa.BuildingSiteNumber
 , sa.City
 , sat.CodeValue as StateAbbreviation
 , sa.PostalCode
 , sa.NameOfCounty
 , sa.CountyFIPSCode
 , cct.CodeValue as CountryCode
 , sa.Latitude
 , sa.Longitude
from edfi.StaffAddress sa
 join edfi.AddressType adt on adt.AddressTypeId = sa.AddressTypeId
 left join edfi.CountryCodeType cct on cct.CountryCodeTypeId = sa.CountryCodeTypeId
 left join edfi.StateAbbreviationType sat on sat.StateAbbreviationTypeId = sa.StateAbbreviationTypeId
order by StaffUniqueStateId

##########TelephoneTemplate##############

        <Telephone TelephoneNumberType="--TelephoneNumberType--" PrimaryTelephoneNumberIndicator="--PrimaryTelephoneNumberIndicator--">
            <TelephoneNumber>--TelephoneNumber--</TelephoneNumber>
        </Telephone>

##########TelephoneQuery##############

select st.StaffUSI as StaffUniqueStateId
 , tnt.CodeValue as TelephoneNumberType
 , st.PrimaryTelephoneNumberIndicator
 , st.TelephoneNumber
from edfi.StaffTelephone st 
 join edfi.TelephoneNumberType tnt on tnt.TelephoneNumberTypeId = st.TelephoneNumberTypeId
order by StaffUniqueStateId

##########ElectronicMailTemplate##############

        <ElectronicMail EmailAddressType="--ElectronicMailType--">
            <EmailAddress>--EmailAddress--</EmailAddress>
        </ElectronicMail>

##########ElectronicMailQuery##############

select sem.StaffUSI as StaffUniqueStateId
 , emt.CodeValue as ElectronicMailType
 , sem.ElectronicMailAddress as EmailAddress
from edfi.StaffElectronicMail sem 
 join edfi.ElectronicMailType emt on emt.ElectronicMailTypeId = sem.ElectronicMailTypeId
order by StaffUniqueStateId

##########RacialCategoryTemplate##############

            <RacialCategory>--RacialCategory--</RacialCategory>

##########RacialCategoryQuery##############

select sr.StaffUSI as StaffUniqueStateId
  , rt.CodeValue as RacialCategory
from edfi.StaffRace sr 
 left join edfi.RaceType rt on rt.RaceTypeId = sr.RaceTypeId
order by StaffUniqueStateId

##########CredentialsTemplate##############

        <Credentials>
            <CredentialType>--CredentialType--</CredentialType>
            <Field>--Field--</Field>
            <Level>--Level--</Level>
            <TeachingCredentialType>--TeachingCredentialType--</TeachingCredentialType>
            <CredentialIssuanceDate>--CredentialIssuanceDate--</CredentialIssuanceDate>
            <CredentialExpirationDate>--CredentialExpirationDate--</CredentialExpirationDate>
            <TeachingCredentialBasis>--TeachingCredentialBasis--</TeachingCredentialBasis>
        </Credentials>

##########CredentialsQuery##############

select c.StaffUSI as StaffUniqueStateId
  , ct.CodeValue as CredentialType
  , cfd.Description as Field
  , lt.CodeValue as Level
  , tct.CodeValue as TeachingCredentialType
  , c.CredentialIssuanceDate
  , c.CredentialExpirationDate
  , tcbt.CodeValue as TeachingCredentialBasis
from edfi.Credential c 
 join edfi.CredentialType ct on ct.CredentialTypeId = c.CredentialTypeId
 join edfi.CredentialFieldDescriptor cfd on cfd.CredentialFieldDescriptorId = c.CredentialFieldDescriptorId
 join edfi.LevelType lt on lt.LevelTypeId = c.LevelTypeId
 join edfi.TeachingCredentialType tct on tct.TeachingCredentialTypeId = c.TeachingCredentialTypeId
 left join edfi.TeachingCredentialBasisType tcbt on tcbt.TeachingCredentialBasisTypeId = c.TeachingCredentialBasisTypeId
order by StaffUniqueStateId


