##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeCohort xsi:schemaLocation="http://ed-fi.org/0100 Interchange-Cohort.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeCohort>

##########mainTemplate#########
<StudentCohortAssociation>
	<StudentReference id="ID_1" ref="ID_1">
		<StudentIdentity>
			<StudentUniqueStateId>--StudentUniqueStateId--</StudentUniqueStateId>
		</StudentIdentity>
	</StudentReference>
	
	<CohortReference id="ID_3" ref="ID_0">
		<CohortIdentity>
			<CohortIdentifier>--CohortIdentifier--</CohortIdentifier>
		</CohortIdentity>
	</CohortReference>
	
	<BeginDate>--BeginDate--</BeginDate>
	<EndDate>--EndDate--</EndDate>
</StudentCohortAssociation>

##########mainQuery##############
SELECT a.StudentUSI
	,a.CohortIdentifier as CohortIdentifier
	,a.StudentUSI as StudentUniqueStateId
	,a.BeginDate as BeginDate
	,a.EndDate as EndDate
FROM edfi.StudentCohortAssociation as a
ORDER BY a.StudentUSI, a.CohortIdentifier


