##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeStudentEnrollment xsi:schemaLocation="http://ed-fi.org/0100 Interchange-StudentEnrollment.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeStudentEnrollment>

##########mainTemplate#########
	<StudentSectionAssociation>
		<StudentReference id="ID_1" ref="ID_1">
			<StudentIdentity>
				<StudentUniqueStateId>--StudentUniqueStateId--</StudentUniqueStateId>
			</StudentIdentity>
		</StudentReference>
		<SectionReference id="ID_2" ref="ID_1">
			<SectionIdentity>
==StateOrganizationId==
				<UniqueSectionCode>--UniqueSectionCode--</UniqueSectionCode>
			</SectionIdentity>
		</SectionReference>
		<BeginDate>--BeginDate--</BeginDate>
		<EndDate>--EndDate--</EndDate>
		<HomeroomIndicator>--HomeroomIndicator--</HomeroomIndicator>
		<RepeatIdentifier>--RepeatIdentifier--</RepeatIdentifier>
	</StudentSectionAssociation>


##########mainQuery##############

select ssa.StudentUSI 
	,ssa.SchoolId
	,ssa.ClassPeriodName 
	,ssa.ClassroomIdentificationCode
	,ssa.LocalCourseCode
	,ssa.TermTypeId
	,ssa.SchoolYear
	,ssa.BeginDate

	,ssa.StudentUSI as StudentUniqueStateId
	,s.UniqueSectionCode
	,ssa.BeginDate
	,ssa.EndDate
	,ssa.HomeroomIndicator
	,rit.CodeValue as RepeatIdentifier
from edfi.StudentSectionAssociation as ssa 
left join edfi.Section as s on ssa.SchoolId = s.SchoolId and ssa.ClassPeriodName = s.ClassPeriodName
			and ssa.ClassroomIdentificationCode = s.ClassroomIdentificationCode
			and ssa.LocalCourseCode  = s.LocalCourseCode and ssa.TermTypeId = s.TermTypeId
			and ssa.SchoolYear = s.SchoolYear
left join edfi.RepeatIdentifierType as rit on ssa.RepeatIdentifierTypeId = rit.RepeatIdentifierTypeId	
order by ssa.StudentUSI, ssa.SchoolId, ssa.ClassPeriodName, ssa.ClassroomIdentificationCode, ssa.LocalCourseCode, ssa.TermTypeId, ssa.SchoolYear, ssa.BeginDate



########StateOrganizationIdTemplate#######
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>

########StateOrganizationIdQuery#######
select StudentUSI
	, SchoolId
	, ClassPeriodName
	, ClassroomIdentificationCode
	, LocalCourseCode
	, TermTypeId
	, SchoolYear
	, BeginDate

	,SchoolId as StateOrganizationId
from edfi.StudentSectionAssociation as ssa
order by StudentUSI, SchoolId, ClassPeriodName, ClassroomIdentificationCode, LocalCourseCode, TermTypeId, SchoolYear, BeginDate
