##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeStudentEnrollment xsi:schemaLocation="http://ed-fi.org/0100 Interchange-StudentEnrollment.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeStudentEnrollment>

##########mainTemplate#########
	<StudentSchoolAssociation>
		<StudentReference id="ID_1" ref="ID_1">
			<StudentIdentity>
				<StudentUniqueStateId>--StudentUniqueStateId--</StudentUniqueStateId>
			</StudentIdentity>
		</StudentReference>
		<SchoolReference id="ID_2" ref="ID_1">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</SchoolReference>
		<EntryDate>--EntryDate--</EntryDate>
		<EntryGradeLevel>--EntryGradeLevel--</EntryGradeLevel>
		<EntryType>--EntryType--</EntryType>

		<RepeatGradeIndicator>--RepeatGradeIndicator--</RepeatGradeIndicator>
		<ClassOf>--ClassOf--</ClassOf>
		<SchoolChoiceTransfer>--SchoolChoiceTransfer--</SchoolChoiceTransfer>
		<ExitWithdrawDate>--ExitWithdrawDate--</ExitWithdrawDate>
		<ExitWithdrawType>--ExitWithdrawType--</ExitWithdrawType>
		<EducationalPlans>
==EducationalPlan==
		</EducationalPlans>
		<GraduationPlanReference id="ID_3" ref="ID_1"/>
	</StudentSchoolAssociation>

##########mainQuery##############

select ssa.StudentUSI
	,ssa.SchoolId
	,ssa.EntryDate
		
	,ssa.StudentUSI as StudentUniqueStateId
	,ssa.SchoolId as StateOrganizationId
	,ssa.EntryDate
	,glt.CodeValue as EntryGradeLevel
	,et.CodeValue as EntryType
	,ssa.RepeatGradeIndicator
	,ssa.ClassOf
	,ssa.SchoolChoiceTransfer
	,ssa.ExitWithdrawDate
	,ewt.CodeValue as ExitWithdrawType
from edfi.StudentSchoolAssociation as ssa 
left join edfi.GradeLevelType as glt on ssa.EntryGradeLevelTypeId = glt.GradeLevelTypeId
left join edfi.EntryType as et on ssa.EntryTypeId = et.EntryTypeId
left join edfi.ExitWithdrawType as ewt on ssa.ExitWithdrawTypeId = ewt.ExitWithdrawTypeId
order by ssa.StudentUSI, ssa.SchoolId, ssa.EntryDate




########EducationalPlanTemplate#######
			<EducationalPlan>--EducationalPlan--</EducationalPlan>

########EducationalPlanQuery#######
select ssa.StudentUSI
	,ssa.SchoolId
	,ssa.EntryDate
		
	,ept.CodeValue as EducationalPlan
from edfi.StudentSchoolAssociation as ssa  
left join edfi.StudentSchoolAssociationEducationPlans as ssaep 
		on ssa.StudentUSI = ssaep.StudentUSI and ssa.SchoolId = ssaep.SchoolId and ssa.EntryDate = ssaep.EntryDate
left join edfi.EducationPlansType as ept on ssaep.EducationPlansTypeId = ept.EducationPlansTypeId
order by ssa.StudentUSI, ssa.SchoolId, ssa.EntryDate