##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeStaffAssociation xmlns="http://ed-fi.org/0100RFC062811" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ed-fi.org/0100RFC062811 file:/C:/Users/slee/Desktop/My/MyWorkspace/sli2/sli/sli/common/common-test-data/src/main/resources/schemas/ed-fi/Interchange-StaffAssociation-0100RFC062811.xsd">

############end############
</InterchangeStaffAssociation>

##########mainTemplate#########

    <TeacherSectionAssociation>
        <TeacherReference id="ID001" ref="ID000">
            <StaffIdentity>
                <StaffUniqueStateId>--StaffUniqueStateId--</StaffUniqueStateId>

==StaffIdentificationCode==

                <Name Verification="--Verification--">
                    <PersonalTitlePrefix>--PersonalTitlePrefix--</PersonalTitlePrefix>
                    <FirstName>--FirstName--</FirstName>
                    <MiddleName>--MiddleName--</MiddleName>
                    <LastSurname>--LastSurname--</LastSurname>
                    <GenerationCodeSuffix>--GenerationCodeSuffix--</GenerationCodeSuffix>
                    <MaidenName>--MaidenName--</MaidenName>
                </Name>
                <Sex>--Sex--</Sex>
                <BirthDate>--BirthDate--</BirthDate>
                <HispanicLatinoEthnicity>--HispanicLatinoEthnicity--</HispanicLatinoEthnicity>
                <Race>

==RacialCategory==

                </Race>
            </StaffIdentity>
        </TeacherReference>
        <SectionReference id="ID003" ref="ID000">
            <SectionIdentity>
                <SchoolOrganizationID>--SchoolOrganizationID--</SchoolOrganizationID>
                <UniqueSectionCode>--UniqueSectionCode--</UniqueSectionCode>
                <LocalCourseCode>--LocalCourseCode--</LocalCourseCode>
                <Term>--Term--</Term>
                <ClassPeriodName>--ClassPeriodName--</ClassPeriodName>
                <Location>--Location--</Location>
            </SectionIdentity>
        </SectionReference>
        <ClassroomPosition>--ClassroomPosition--</ClassroomPosition>
        <BeginDate>--BeginDate--</BeginDate>
        <EndDate>--EndDate--</EndDate>
        <HighlyQualifiedTeacher>--HighlyQualifiedTeacher--</HighlyQualifiedTeacher>
    </TeacherSectionAssociation>

##########mainQuery##############

select tsa.StaffUSI as StaffUniqueStateId
 , pivt.CodeValue as Verification
 , ptpt.CodeValue as PersonalTitlePrefix
 , s.FirstName
 , s.MiddleName
 , s.LastSurName as LastSurname
 , gcst.CodeValue as GenerationCodeSuffix
 , s.MaidenName
 , st.CodeValue as Sex
 , s.BirthDate
 , s.HispanicLatinoEthnicity
 , tsa.SchoolId as SchoolOrganizationID
 , sec.UniqueSectionCode
 , sec.LocalCourseCode
 , tt.CodeValue as Term
 , tsa.ClassPeriodName
 , tsa.ClassroomIdentificationCode as Location
 , cpt.CodeValue as ClassroomPosition
 , tsa.BeginDate 
 , tsa.EndDate
 , tsa.HighlyQualifiedTeacher
from edfi.TeacherSectionAssociation tsa
 join edfi.Staff s on s.StaffUSI = tsa.StaffUSI
 left join edfi.PersonalInformationVerificationType pivt on pivt.PersonalInformationVerificationTypeId = s.PersonalInformationVerificationTypeId
 left join edfi.PersonalTitlePrefixType ptpt on ptpt.PersonalTitlePrefixTypeId = s.PersonalTitlePrefixTypeId
 left join edfi.GenerationCodeSuffixType gcst on gcst.GenerationCodeSuffixTypeId = s.GenerationCodeSuffixTypeId
 left join edfi.SexType st on st.SexTypeId = s.SexTypeId
 join edfi.Section sec on sec.SchoolId = tsa.SchoolId and sec.ClassPeriodName = tsa.ClassPeriodName and sec.ClassroomIdentificationCode = tsa.ClassroomIdentificationCode and sec.LocalCourseCode = tsa.LocalCourseCode and sec.TermTypeId = tsa.TermTypeId and sec.SchoolYear = tsa.SchoolYear
 left join edfi.TermType tt on tt.TermTypeId = sec.TermTypeId
 left join edfi.ClassroomPositionType cpt on cpt.ClassroomPositionTypeId = tsa.ClassroomPositionTypeId
order by StaffUniqueStateId, UniqueSectionCode

##########StaffIdentificationCodeTemplate##############

                <StaffIdentificationCode IdentificationSystem="--IdentificationSystem--" AssigningOrganizationCode="--AssigningOrganizationCode--">
                    <ID>--ID--</ID>
                </StaffIdentificationCode>

##########StaffIdentificationCodeQuery##############

select tsa.StaffUSI as StaffUniqueStateId
  , sec.UniqueSectionCode
  , sist.CodeValue as IdentificationSystem
  , sic.AssigningOrganizationCode
  , sic.IdentificationCode as ID
from edfi.TeacherSectionAssociation tsa
 join edfi.StaffIdentificationCode sic on sic.StaffUSI = tsa.StaffUSI
 join edfi.StaffIdentificationSystemType sist on sist.StaffIdentificationSystemTypeId = sic.StaffIdentificationSystemTypeId
 join edfi.Section sec on sec.SchoolId = tsa.SchoolId and sec.ClassPeriodName = tsa.ClassPeriodName and sec.ClassroomIdentificationCode = tsa.ClassroomIdentificationCode and sec.LocalCourseCode = tsa.LocalCourseCode and sec.TermTypeId = tsa.TermTypeId and sec.SchoolYear = tsa.SchoolYear
order by StaffUniqueStateId, UniqueSectionCode

##########RacialCategoryTemplate##############

            <RacialCategory>--RacialCategory--</RacialCategory>

##########RacialCategoryQuery##############

select tsa.StaffUSI as StaffUniqueStateId
  , sec.UniqueSectionCode
  , rt.CodeValue as RacialCategory
from edfi.TeacherSectionAssociation tsa
 join edfi.StaffRace sr on sr.StaffUSI = tsa.StaffUSI
 left join edfi.RaceType rt on rt.RaceTypeId = sr.RaceTypeId
 join edfi.Section sec on sec.SchoolId = tsa.SchoolId and sec.ClassPeriodName = tsa.ClassPeriodName and sec.ClassroomIdentificationCode = tsa.ClassroomIdentificationCode and sec.LocalCourseCode = tsa.LocalCourseCode and sec.TermTypeId = tsa.TermTypeId and sec.SchoolYear = tsa.SchoolYear
order by StaffUniqueStateId, UniqueSectionCode




