*{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}

html,body{
	font-size:14px;
	color:#666;
	background:#fff no-repeat;
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
}

#navigationMenu li{
	list-style:none;
	height:60px;
	padding:2px;
	width:60px;
}

#navigationMenu span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:40px;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
	
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
}

#navigationMenu a{
	
	height:60px;
	width:60px;
	display:block;
	position:relative;
	z-index:99999;
}

/* General hover styles */

#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;
	
	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
	box-shadow:0 0 5px #9ddff5;
}

/* Green Button */
/* section */
.home{
	background-position:0 0;
	background-size:60px 60px;
	background:url('../img/sections.png') no-repeat;
}
.home:hover {	
	background-position:0 -60px;
	background-size:60px 60px;
	background:url('../img/sections.png') no-repeat;
}
/* student */
.about{
	background-position:0 0;
	background-size:60px 60px;
	background:url('../img/students.png') no-repeat;
}
.about:hover {	
	background-position:0 -60px;
	background-size:60px 60px;
	background:url('../img/students.png') no-repeat;
}
/* teacher */
.services{
	background-position:0 0;
	background-size:60px 60px;
	background:url('../img/teachers.png') no-repeat;
}
.services:hover {	
	background-position:0 -60px;
	background-size:60px 60px;
	background:url('../img/teachers.png') no-repeat;
}

/* session */
.contact{
	background-position:0 0;
	background-size:60px 60px;
	background:url('../img/sessions.png') no-repeat;
}
.contact:hover {	
	background-position:0 -60px;
	background-size:60px 60px;
	background:url('../img/sessions.png') no-repeat;
}

/* course */
.course_menu{
	background-position:0 0;
	background-size:60px 60px;
	background:url('../img/courses.png') no-repeat;
}
.course_menu:hover {	
	background-position:0 -60px;
	background-size:60px 60px;
	background:url('../img/courses.png') no-repeat;
}

/*
.home span{
	
	background-color:#7da315;
	color:#3d4f0c;
	text-shadow:1px 1px 0 #99bf31;
}*/

/* Blue Button */
/*
#navigationMenu .about { background-position:-38px 0;}
#navigationMenu .about:hover { background-position:-38px -39px;}
#navigationMenu .about span{
	background-color:#1e8bb4;
	color:#223a44;
	text-shadow:1px 1px 0 #44a8d0;
}
*/
/* Orange Button */

/*#navigationMenu .services { background-position:-76px 0;}
#navigationMenu .services:hover { background-position:-76px -39px;}
#navigationMenu .services span{
	background-color:#c86c1f;
	color:#5a3517;
	text-shadow:1px 1px 0 #d28344;
}
*/
/* Yellow Button */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}
#navigationMenu .portfolio span{
	background-color:#d0a525;
	color:#604e18;
	text-shadow:1px 1px 0 #d8b54b;
}

/* Purple Button */
/*
#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
	background-color:#af1e83;
	color:#460f35;
	text-shadow:1px 1px 0 #d244a6;
}*/

/* The styles below are only needed for the demo page */

#menu{
	margin:100px auto;
	position:relative;
}
.circle{
	background: no-repeat transparent;
	/* CSS3 Radial Gradients */
	background-image:-moz-radial-gradient(center --100px 45deg, circle farthest-corner, #eee 150px, #fff 300px);
	/*background-image:-webkit-gradient(radial, 70% 0, 150, 50% 0, 600, from(#444), to(#111));*/
	background-image: -webkit-radial-gradient(center center, circle farthest-corner, #063 -100%, white 80%); /* New WebKit syntax */
	height:100%;  

}
.studentList{
	list-style:none;
}
.sectionList{
	list-style:none;
}
.details_box{
    position:absolute;
    top:10px;
    right:10px;
    height:50px;
    width: 250px;
    color: #8e8e8e;
    margin-top: 10px;
}
.details_box_expanded{
    position:absolute;
    top:0px;
    left:50%;
    margin-left: -500px;
    padding: 5px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #333;
    background: #FFFFFF;
    z-index: 99999;
    height: 80%;
    width: 1000px;
    overflow: auto;
}
.nameCard{
  display:block;	
	text-decoration: none;	
	height:60px;
	line-height:30px;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	text-align: center;
	z-index:99998;
	color:#666666;    
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border: 0px solid #000000;
	width:180px;	
	text-align: center;		
  font-family: helvetica;
  cursor: -webkit-grab;
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #50B3B3 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #50B3B3 100%);
  -webkit-box-shadow:0 0 5px #9ddff5;
  margin-bottom: 5px;
  text-shadow: 5px 5px 5px #50B3B3;   
}

/*
.nameCard:hover {
    height: 70px;
	width: 190px;
	margin-left: 20px;
}*/

.studentItem{	
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border: 0px solid #000000;
	height:60px;
	width:180px;	
	text-align: center;
	color:#666666;
	display: table-cell;
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F0FFFF 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F0FFFF 100%);
	-webkit-box-shadow:0 0 5px #9ddff5;	
	text-shadow: 5px 5px 5px #F0FFFF;
}

.classroom{
	display: table;
	margin-left: auto;
    margin-right: auto;    
}

.row  {
    display: table-row;
}

.teacher_row{
	display: table-row;
	margin-left: auto;
    margin-right: auto;
}

.redGroup{
    border:5px solid red;
}

.cat{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000000;
}

.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    z-index: 9999999;
}

.modal h2 {
    background:url(../img/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}

