<StudentSectionAssociation>
  <StudentReference>
    <StudentIdentity>
      <StudentUniqueStateId>{{studentId}}</StudentUniqueStateId>
    </StudentIdentity>
  </StudentReference>
  <SectionReference>
    <SectionIdentity>
      <EducationalOrgReference>
        <EducationalOrgIdentity>
        <StateOrganizationId>{{edOrgId}}</StateOrganizationId>
        </EducationalOrgIdentity>
      </EducationalOrgReference>
      <UniqueSectionCode>{{sectionId}}</UniqueSectionCode>
    </SectionIdentity>
  </SectionReference>
  <BeginDate>2011-09-01</BeginDate>
</StudentSectionAssociation>

