<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	                    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   <listener>
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   </listener>

   <servlet>
      <servlet-name>Jersey Web Application</servlet-name>
      <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
      <init-param>
         <param-name>com.sun.jersey.config.property.packages</param-name>
         <param-value>org.slc.api</param-value>
      </init-param>
      <init-param>
         <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
         <param-value>true</param-value>
      </init-param>
      <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
         <param-value>org.slc.sli.api.jersey.VersionFilter, org.slc.sli.api.jersey.DateSearchFilter, org.slc.sli.api.jersey.PreProcessFilter</param-value>
      </init-param>
      <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
         <param-value>org.slc.sli.api.jersey.PostProcessFilter</param-value>
      </init-param>
      <init-param>
         <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
         <param-value>org.slc.sli.api.resources.generic.config.ResourceRegisterConfig</param-value>
      </init-param>
      <init-param>
         <param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
         <param-value>org.slc.sli.api.security.RightCheckFilterFactory</param-value>
      </init-param>
      

      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>Jersey Web Application</servlet-name>
      <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>oauth</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>2</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>oauth</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>

    <error-page>
       <error-code>500</error-code>
       <location>/WEB-INF/jsp/error_500.jsp</location>
    </error-page>
    
    <error-page>
       <error-code>403</error-code>
       <location>/WEB-INF/jsp/error_403.jsp</location>
    </error-page>
    
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/applicationContext.xml</param-value>
   </context-param>

</web-app>
