<%= form_for(:eula) do |f| %>
  <div class="actions">
    <div class="field">
      <table style="border: 1px solid">
        <tr>
          <td>
            <pre width="80" style="height: 400px; overflow-y: scroll; background-color:#FFFFFF">
                <%= render :file => '../../public/license.txt' %>
            </pre>
          </td>
        </tr>
      </table>
    </div>
    <br/>

    <%= f.submit "Accept", 
      :id => "acceptEulaButton" %>
    <%= f.submit "Reject", 
      :id => "rejectEulaButton" %>
  </div>
<% end %>
