<h1>Listing eulas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>Return to main screen</td>
  </tr>

</table>

<br />

<%= link_to 'Terms of Service', new_eula_path %>
