*.pyc
*.swp
*~
bin
logs
.DS_Store
*.log
target
.settings
.classpath
.project
.idea/
*.iml
.pmd/
sli/dashboard/maven-eclipse.xml
sli/ingestion/ingestion-service/src/main/resources/ingestion-dev.properties
Demo/EdFiSampleData/
sli/dashboard/src/main/resources/local.properties
sli/databrowser/log
tools/jobReport/server/node_modules
