<%= select_tag :mapping, options_for_select(@sli_roles)  %>
<div class="client-roles">
<% @mapping.each do |mapping| %>
<%= select_tag mapping[:name], options_for_select(mapping[:mappings]), :size => mapping.length%>
<% end %>
</div>
<div id="new-role">
	<%=label_tag :new_role, "New role: " %>
	<%=text_field_tag :new_role %>
	<button id="add-button">Add</button>
	<button id="remove-button">Remove</button>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		hideAll();
		
		//make options of default select item visible
		$("#" + $('select#mapping').val().replace(' ', '_')).fadeIn();

		$('select#mapping').change(function() {
			var $option = $(this).val();
			$option = $option.replace(' ', '_');
			console.log($option);
			hideAll();
			$("#" + $option).fadeIn();

		});
		$('button#add-button').click(function() {
			var sli_role = $('select#mapping').val();
			var new_role = $('input#new_role').val();
			$("#" + sli_role.replace(' ', '_')).append($("<option></option>", {value: new_role}).text(new_role));
			//$.post('add', {"sli_role": sli_role, "new_role": })
		});
		$('button#remove-button').click(function() {
			var sli_role = $('select#mapping').val();
			$("#" + sli_role.replace(' ', '_') + " option:selected").remove();
		});

		function hideAll() {
			$('div.client-roles').find('select').hide();
		}
	});

</script>
