<ul class="unstyled clear">
  <% results.each do |lea| %>
    <li id="<%= lea["id"]%>">
      <label class="checkbox inline">
      <input type="checkbox"><%=lea["name"]%></input>
      </label>
      </li>
  <% end %>
</ul>
