<h1>Edit Application</h1>
<h4>Change your application details</h4>
<div class="content">
<%= render :partial => 'edit_form', :locals => {:app => @app}%>
</div>

<%= link_to "Done", :back, :class => "btn" %>