<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <context-param>
        <param-name>debug</param-name>
        <param-value>false</param-value>
    </context-param>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <servlet>
        <display-name>CRUD Consistency Test Servlet</display-name>
        <servlet-name>CRUD Consistency Test</servlet-name>
        <servlet-class>org.slc.sli.shtick.test.CrudConsistencyTestServlet</servlet-class>
        <init-param>
            <param-name>sleep-time-in-seconds</param-name>
            <param-value>10</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CRUD Consistency Test</servlet-name>
        <url-pattern>/crud-consistency</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>Field Level Test Servlet</display-name>
        <servlet-name>Field Level Test</servlet-name>
        <servlet-class>org.slc.sli.shtick.test.FieldLevelTestServlet</servlet-class>
        <init-param>
            <param-name>sleep-time-in-seconds</param-name>
            <param-value>10</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Field Level Test</servlet-name>
        <url-pattern>/field-level</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>