<% tableFields = get_table_fields(entities) %>

<table id="simple">
  <thead>
      <% tableFields.each do |field| %>
      <th><%= t(field.split('/').last) %></th>
      <% end %>
  </thead>
  <tbody>
    <% entities.each do |entity| %>
    <tr>
      <% tableFields.each do |field| %>
      <td><%= value_for_table_view(field, entity) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>


