<%= form_tag '/entities', :method => 'get' do %>
  
  
  <%= select_tag "search_type","
    <option value=\"students\">Student</option>
    <option value=\"studentById\">Student - By ID</option>

    <option value=\"staff\">Staff</option>
    <option value=\"staffById\">Staff - By ID</option>

    <option value=\"educationOrganizations\">Education Organization</option>
    <option value=\"edOrgById\">Education Organization - By ID</option>

    <option value=\"parents\">Parent - parentUniqueStateId</option>
    <option value=\"parentsById\">Parent - By ID</option>
    ".html_safe %>
  <%= text_field_tag :search_id, params[:search_id], :placeholder => "Enter the ID or Name here" %>
  
  <%= submit_tag "Search", :name=>nil %>
<% end %>