<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<configuration scan="true" debug="false">
  <!-- TODO in production mode disable the scan -->

  <property file="${sli.conf}" />

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logging.path}/ingestion.log</File>
    <Append>true</Append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${logging.path}/ingestion-%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="org.slc.sli.common.util.logging.CommonPatternLayout" />
    </encoder>

  </appender>

  <appender name="PERF_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logging.path}/performance.log</File>
    <Append>true</Append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${logging.path}/performance-%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <Pattern>%d - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <appender name="SECURITY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logging.path}/Security.log</File>
    <Append>true</Append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${logging.path}/Security-%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <Pattern>%d - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <appender name="PERFORMANCE_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logging.path}/performanceStatistics.log</File>
    <Append>true</Append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${logging.path}/performanceStatistics-%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <Pattern>%d - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="org.slc.sli.common.util.logging.CommonPatternLayout" />
    </encoder>
  </appender>

  <!-- jsa: temporarily debugging issues on deving1. -->
  <root level="info">
<!--       <appender-ref ref="STDOUT"/>  -->
      <appender-ref ref="FILE"/>
  </root>

   <logger name="org.slc.sli.ingestion.util.ExecutionMonitor" level="DEBUG" >
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="FILE"/>
   </logger>

  <logger name="Job.PerformanceMonitor" level="INFO">
    <appender-ref ref="PERF_FILE" />
  </logger>

  <logger name="SecurityMonitor" level="INFO">
    <appender-ref ref="SECURITY_FILE" />
  </logger>

  <logger name="PerformanceLogger" level="INFO">
    <appender-ref ref="PERFORMANCE_LOGGER" />
  </logger>
  
</configuration>