.error-container {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
}

.error-header {
        padding-left: 0;
        padding-top: 12px;
        line-height: 28px;
        border-bottom: 2px solid #CCCCCC;
        color: #D8D8D8;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 36px;
        font-weight: normal;
}

.error-content {

}