<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<property file="${sli.conf}"/>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File >${sli.bulk.extract.log.path}/bulk-extract.log</File>
		<Append>true</Append>
		<encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="org.slc.sli.common.util.logging.CommonPatternLayout" />
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${sli.bulk.extract.log.path}/bulk-extract-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

        <encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.slc.sli.common.util.logging.CommonPatternLayout" />
        </encoder>
    </appender>
    <appender name="SECURITY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${sli.bulk.extract.log.path}/Security.log</File>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${sli.bulk.extract.log.path}/Security-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <Pattern>%d - %msg%n
            </Pattern>
        </encoder>
    </appender>
	<root level="INFO">
		<appender-ref ref="FILE"/>
		<appender-ref ref="STDOUT"/>
	</root>
	
    <logger name="org.slc.sli" level="${sli.bulk.extract.log.level}" />
    <logger name="SecurityMonitor" level="INFO">
        <appender-ref ref="SECURITY_FILE" />
    </logger>
</configuration>