{{#entity}}
<AssessmentFamily>
    <AssessmentFamilyTitle>{{assessmentFamilyTitle}}</AssessmentFamilyTitle>
    {{#assessmentFamilyIdentificationCode}}
    <AssessmentFamilyIdentificationCode IdentificationSystem="{{assessmentIdentificationSystemType}}">
        <ID>{{code}}</ID>
    </AssessmentFamilyIdentificationCode>
    {{/assessmentFamilyIdentificationCode}}
    {{#assessmentCategoryType}}
    <AssessmentCategory>{{assessmentCategoryType}}</AssessmentCategory>
    {{/assessmentCategoryType}}
    {{#academicSubject}}
    <AcademicSubject>{{academicSubject}}</AcademicSubject>
    {{/academicSubject}}
    {{#gradeLevelAssessed}}
    <GradeLevelAssessed>{{gradeLevelAssessed}}</GradeLevelAssessed>
    {{/gradeLevelAssessed}}
    {{#lowestGradeLevelAssessed}}
    <LowestGradeLevelAssessed>{{lowestGradeLevelAssessed}}</LowestGradeLevelAssessed>
    {{/lowestGradeLevelAssessed}}
    {{#contentStandard}}
    <ContentStandard>{{contentStandard}}</ContentStandard>
    {{/contentStandard}}
    {{#version}}
    <Version>{{version}}</Version>
    {{/version}}
    {{#revisionDate}}
    <RevisionDate>{{revisionDate}}</RevisionDate>
    {{/revisionDate}}
    {{#nomenclature}}
    <Nomenclature>{{nomenclature}}</Nomenclature>
    {{/nomenclature}}
    {{#assessmentPeriods}}
    <AssessmentPeriods>
        <AssessmentPeriodDescriptorIdentity>
            <AssessmentPeriodDescriptorCodeValue>{{codeValue}}</AssessmentPeriodDescriptorCodeValue>
        </AssessmentPeriodDescriptorIdentity>
    </AssessmentPeriods>
    {{/assessmentPeriods}}
    {{> Partials/_assessment_family_reference}}
</AssessmentFamily>
{{/entity}}
