{{#entity}}
<BellSchedule>

<BellScheduleName>Bell Schedule {{name}}</BellScheduleName>
<GradeLevels>
    {{#grade_levels}}
    <GradeLevel>{{.}}</GradeLevel>
    {{/grade_levels}}
</GradeLevels>

{{>Partials/_meeting_time_reference}}
{{>Partials/_calendar_date_reference}}

</BellSchedule>
{{/entity}}
