{{#entity}}
<BellSchedule>
  <BellScheduleName>Bell Schedule {{name}}</BellScheduleName>
  <GradeLevels>
    {{#grade_levels}}
    <GradeLevel>{{.}}</GradeLevel>
    {{/grade_levels}}
  </GradeLevels>
  <EducationOrganizationReference>
    <EducationalOrgIdentity>
      <StateOrganizationId>{{ed_org_id}}</StateOrganizationId>
    </EducationalOrgIdentity>
  </EducationOrganizationReference>
  {{>Partials/_meeting_time_reference}}
  {{>Partials/_calendar_date_reference}}
</BellSchedule>
{{/entity}}
