{{#entity}}
<BellSchedule>

<BellScheduleName>Bell Schedule {{name}}</BellScheduleName>
<GradeLevels>
	{{#gradeLevels}}
	<GradeLevel>{{.}}</GradeLevel>
	{{/gradeLevels}}
	</GradeLevels>
<WeeksInCycle>{{weeksInCycle}}</WeeksInCycle>

{{>partials/_session_reference}}
{{>partials/_meeting_time_reference}}
{{>partials/_calendar_date_reference}}

</BellSchedule>
{{/entity}}