{{! 
Copyright 2012-2013 inBloom, Inc. and its affiliates.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limita tions under the License.
}}
{{#entity}}
  <Course>
    <CourseTitle>{{title}}</CourseTitle>
    <NumberOfParts>1</NumberOfParts>
    <CourseCode IdentificationSystem="School course code">
      <ID>{{id}}</ID>
    </CourseCode>
    {{#course_level}}
    <CourseLevel>{{level}}</CourseLevel>
    <CourseLevelCharacteristics>
    <CourseLevelCharacteristic>{{level_char}}</CourseLevelCharacteristic>
    </CourseLevelCharacteristics>
    {{/course_level}}
    {{#grades_offered}}
    <GradesOffered>
    <GradeLevel>{{grades_offered}}</GradeLevel>
    </GradesOffered>
    {{/grades_offered}}
    {{#subject_area}}
    <SubjectArea>{{subject_area}}</SubjectArea>
    {{/subject_area}}
    {{#description}}
    <CourseDescription>{{description}}</CourseDescription>
    {{/description}}
    <DateCourseAdopted>2000-06-19</DateCourseAdopted>
    <HighSchoolCourseRequirement>false</HighSchoolCourseRequirement>
    {{#gpa_appl}}
    <CourseGPAApplicability>{{gpa_appl}}</CourseGPAApplicability>
    {{/gpa_appl}}
    {{#defined_by}}
    <CourseDefinedBy>{{defined_by}}</CourseDefinedBy>
    {{/defined_by}}
    <MinimumAvailableCredit>
      <Credit>3</Credit>
    </MinimumAvailableCredit>
    <MaximumAvailableCredit>
      <Credit>3</Credit>
    </MaximumAvailableCredit>
    {{#career_path}}
    <CareerPathway>{{career_path}}</CareerPathway>
    {{/career_path}}
    <EducationOrganizationReference>
      <EducationalOrgIdentity>
        <StateOrganizationId>{{edOrg}}</StateOrganizationId>
      </EducationalOrgIdentity>
    </EducationOrganizationReference>
    {{#learning_objectives}}
    <LearningObjectiveReference>
    <LearningObjectiveIdentity>
    <Objective>{{objective}}</Objective>
    <AcademicSubject>{{academic_subject}}</AcademicSubject>
    <ObjectiveGradeLevel>{{objective_grade_level}}</ObjectiveGradeLevel>
    </LearningObjectiveIdentity>
    </LearningObjectiveReference>
    {{/learning_objectives}}
    {{#competency_levels}}
    <CompetencyLevels>
    <CodeValue>{{.}}</CodeValue>
    </CompetencyLevels>
    {{/competency_levels}}
    <UniqueCourseId>{{id}}</UniqueCourseId>
  </Course>
{{/entity}}
