{{#entity}}
<Parent>
  <ParentUniqueStateId>{{id}}</ParentUniqueStateId>
  <Name{{#nameVerification}} Verification="{{nameVerification}}"{{/nameVerification}}>
    {{#prefix}}
    <PersonalTitlePrefix>{{prefix}}</PersonalTitlePrefix>
    {{/prefix}}
    <FirstName>{{firstName}}</FirstName>
    {{#middleName}}
    <MiddleName>{{middleName}}</MiddleName>
    {{/middleName}}
    <LastSurname>{{lastName}}</LastSurname>
    {{#suffix}}
    <GenerationCodeSuffix>{{suffix}}</GenerationCodeSuffix>
    {{/suffix}}
  </Name>
  {{#otherName}}
  <OtherName OtherNameType="{{otherNameType}}">
    {{#prefix}}
    <PersonalTitlePrefix>{{prefix}}</PersonalTitlePrefix>
    {{/prefix}}
    <FirstName>{{firstName}}</FirstName>
    {{#middleName}}
    <MiddleName>{{middleName}}</MiddleName>
    {{/middleName}}
    <LastSurname>{{lastName}}</LastSurname>
    {{#suffix}}
    <GenerationCodeSuffix>{{suffix}}</GenerationCodeSuffix>
    {{/suffix}}
  </OtherName>
  {{/otherName}}
  <Sex>{{sex}}</Sex>
  <Address AddressType="Home">
    <StreetNumberName>{{address}}</StreetNumberName>
    <City>{{city}}</City>
    <StateAbbreviation>{{state}}</StateAbbreviation>
    <PostalCode>{{postalCode}}</PostalCode>
  </Address>
  {{#telephone}}
    <Telephone TelephoneNumberType="{{telephoneNumberType}}" PrimaryTelephoneNumberIndicator="{{primaryTelephoneNumberIndicator}}">
      <TelephoneNumber>{{telephoneNumber}}</TelephoneNumber>
    </Telephone>
  {{/telephone}}
  <ElectronicMail EmailAddressType="Home/Personal">
    <EmailAddress>{{email}}</EmailAddress>
  </ElectronicMail>
  {{#loginId}}
  <LoginId>{{loginId}}</LoginId>
  {{/loginId}}
  </Parent>
{{/entity}}
