{{#entity}}
<Program>
  <ProgramId>{{id}}</ProgramId>
  <ProgramType>{{type}}</ProgramType>
  <ProgramSponsor>{{sponsor}}</ProgramSponsor>
  <Services>
    <CodeValue>{{service}}</CodeValue>
  </Services>
</Program>
{{#entity}}
