 <StudentParentAssociation>
 	{{>partials/_student_reference}}
 	{{>partials/_parent_reference}}
   
    <Relation>{{relation}}</Relation>
    <PrimaryContactStatus>{{primaryContactStatus}}</PrimaryContactStatus>
    <LivesWith>{{livesWith}}</LivesWith>
    <EmergencyContactStatus>{{emergencyContactStatus}}</EmergencyContactStatus>
    <ContactPriority>{{contactPriority}}</ContactPriority>
    <ContactRestrictions>{{contactRestrictions}}</ContactRestrictions>
  </StudentParentAssociation>