{{#entity}}
<StudentSchoolAssociation>
   <StudentReference>
    <StudentIdentity>
      <StudentUniqueStateId>{{studentId}}</StudentUniqueStateId>
    </StudentIdentity>
  </StudentReference>
    <SchoolReference>
      <EducationalOrgIdentity>
        <StateOrganizationId>{{schoolStateOrgId}}</StateOrganizationId>
      </EducationalOrgIdentity>
    </SchoolReference>
    <EntryDate>{{startYear}}-09-01</EntryDate>
    <EntryGradeLevel>{{startGrade}}</EntryGradeLevel>
  </StudentSchoolAssociation>
{{/entity}}
