{{#entity}}
  <StudentAssessmentItem>
    <AssessmentResponse>{{response}}</AssessmentResponse>

    {{#responseIndicator}}
      <ResponseIndicator>{{responseIndicator}}</ResponseIndicator>
    {{/responseIndicator}}

    <AssessmentItemResult>{{result}}</AssessmentItemResult>
    
    {{#rawScoreResult}}
    <RawScoreResult>{{rawScoreResult}}</RawScoreResult>
    {{/rawScoreResult}}

    {{#student_assessment}}
      <StudentAssessmentReference>
        <StudentAssessmentIdentity>
          <AdministrationDate>{{date}}</AdministrationDate>
          <StudentReference>
            <StudentIdentity>
              <StudentUniqueStateId>{{studentId}}</StudentUniqueStateId>
            </StudentIdentity>
          </StudentReference>
          {{#assessment}}
            <AssessmentReference>
                <AssessmentIdentity>
                    <AssessmentTitle>{{assessmentTitle}}</AssessmentTitle>
                    {{#academicSubject}}
                    <AcademicSubject>{{academicSubject}}</AcademicSubject>
                    {{/academicSubject}}
                    {{#gradeLevelAssessed}}
                    <GradeLevelAssessed>{{gradeLevelAssessed}}</GradeLevelAssessed>
                    {{/gradeLevelAssessed}}
                    {{#version}}
                    <Version>{{version}}</Version>
                    {{/version}}
                </AssessmentIdentity>
            </AssessmentReference>
          {{/assessment}}
        </StudentAssessmentIdentity>
      </StudentAssessmentReference>
    {{/student_assessment}}
    {{#assessment_item}}
      <AssessmentItemReference>
        <AssessmentItemIdentity>
          <AssessmentItemIdentificationCode>{{identificationCode}}</AssessmentItemIdentificationCode>
        </AssessmentItemIdentity>
      </AssessmentItemReference>
    {{/assessment_item}}
  </StudentAssessmentItem>
{{/entity}}
