{{#entity}}
<StudentSchoolAssociation>
   <StudentReference>
    <StudentIdentity>
      <StudentUniqueStateId>{{studentId}}</StudentUniqueStateId>
    </StudentIdentity>
  </StudentReference>
    <SchoolReference>
      <EducationalOrgIdentity>
        <StateOrganizationId>{{schoolStateOrgId}}</StateOrganizationId>
      </EducationalOrgIdentity>
    </SchoolReference>
    <EntryDate>{{startYear}}-09-01</EntryDate>
    <EntryGradeLevel>{{startGrade}}</EntryGradeLevel>
    {{#gradPlan}}
    <GraduationPlanReference>
      <GraduationPlanIdentity>
        <GraduationPlanType>{{type}}</GraduationPlanType>
        <EducationalOrgReference>
          <EducationalOrgIdentity>
            <StateOrganizationId>{{ed_org_id}}</StateOrganizationId>
          </EducationalOrgIdentity>
        </EducationalOrgReference>
      </GraduationPlanIdentity>
    </GraduationPlanReference>
    {{/gradPlan}}
  </StudentSchoolAssociation>
{{/entity}}
