<div id="notice">
	<%= notice %>
</div>

<div class="page-header">
    <h1>Realm Management For <%= @realm.name %> </h1>
</div>

<%= form_for(@realm, :url => {:controller => 'realm_management', :action => 'update'}, :html => {:class => 'form-horizontal', :role => 'form'} ) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
 