<div id="notice">
	<%= notice %>
</div>

<h1>Realm Management Tool - Create New Realm</h1>
<%= form_for(@realm, :url => {:controller => 'realm_management', :action => 'create'}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

