<div id="notice">
  <%= notice %>
</div>

<div class="page-header">
    <h1>Manage Realm</h1>
</div>

<%= form_for(@realm, :url => {:controller => 'realm_management', :action => 'create'}, :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

