<div class="page-header">
    <h1>Registration Complete</h1>
</div>

<p><b>Step 3 of 3</b></p>

<div class="field well">
  
      <p><b>Email Confirmation</b></p>
      
      <p>When you received a confirmation email, click the link in the email to verify your email address.</p>

      <% if APP_CONFIG['is_sandbox']%><% else %><p>After you have confirmed your email address, your account must be approved by an inBloom Administrator.</p> <% end %>

      <p>To ensure the email does not land in your spam folder, add <%= APP_CONFIG['email_sender_address_user_reg_app'] %> to your list of trusted email contacts.</p>

      <p>For support, contact <%= APP_CONFIG['support_email'] %></p>
  
</div>
