<div class="page-header">
    <h1>Thank You!</h1>
</div>

<p>You are done registering.  Be on the lookout for a confirmation email.</p>

<p><b>Step 3 of 3</b></p>

<p style="color: black">Your request was submitted. You will receive an email asking you to verify your email address, and then provide you with the next steps in the process.</p>

<pre>
  <p>
      <b>What is next?</b>
      
      <% if APP_CONFIG['is_sandbox']%><% else %><b>1)</b> <%end%>We require that you confirm your email address for security reasons.  You should receive an email shortly.  Simply click on the link in the email to confirm your email address.

      <% if APP_CONFIG['is_sandbox']%><% else %><b>2)</b> After you have confirmed your email address, your account must be approved by an Shared Learning Collaborative Administrator.

      <% end %><b>I haven't received my link.  What should I do?</b>

      It is possible that your confirmation email has landed in your spam folder.  To ensure this does not happen, please add <%= APP_CONFIG['support_email'] %> to your list of trusted email contacts

      <b>For other questions:</b>

      If any other support releated questions should arise, feel free to contact customer support at <%= APP_CONFIG['support_email'] %>
  </p>
</pre>