<div class="page-header">
<h1>Update a User</h1>
</div>
<p><%if APP_CONFIG['is_sandbox']%>Update users in your sandbox account<%else%>Manage users that have access to your production environment<%end%></p>
<p>&nbsp;</p>
<% if APP_CONFIG['is_sandbox']%>
<%= render :partial => 'edit_form_sandbox' , :locals => {:user => @user} %>
<%else%>
<%= render :partial => 'edit_form_prod' , :locals => {:user => @user} %>
<%end%>
