<table>
  <tr>
    <td>Full Name</td>
    <td>Email</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.firstName %> <%= user.lastName %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>