<div class="page-header">
<h1>Add a User</h1>
</div>
<p></p>
<h4><%if APP_CONFIG['is_sandbox']%>Add users to your sandbox account<%else%>Manage users that have access to your Production environment<%end%></h4>
<p>&nbsp;</p>
<%= render :partial => 'form', :locals => {:user => @user} %>
