<div class="page-header">
<h1>Add a User</h1>
</div>
<p></p>
<h4><%if APP_CONFIG['is_sandbox']%>Add users to your sandbox account<%else%>Add users to your production account<%end%></h4>
<p>&nbsp;</p>
<%if APP_CONFIG['is_sandbox']%>
<%= render :partial => 'form_sandbox', :locals => {:user => @user} %>
<%else%>
<%= render :partial => 'form_prod', :locals => {:user => @user} %>
<%end%>
