<h2>Modify: {{profile.name}}</h2>
<form>
    <input type="button" ng-click="showDialog()" value="Add Page"> <a ng-click="showJson()">Show json</a>
</form>
<div id="tabs">
    <ul>
        <li class="ui-state-default" ng-repeat="page in pages | filter:checkTab" ng-controller="editorCtrl">
            <div class="view" ng-dblclick="editPage()" ng-hide="editorEnabled">
                {{page.name}}<div class="remove"><a ng-click="pages.splice($index, 1)">X</a></div>
            </div>
            <form ng-submit="savePage()">
                <input type="text" value="{{page.name}}" ng-model="editText" class="edit" ng-show="editorEnabled">
            </form>
        </li>
    </ul>
</div>
<div id="{{profile.id}}Dialog" class="dialogBox">
    <ul>
        <li>
            <label>Title</label>
            <input type="text" ng-model="pageText" required/></li>
        <li>
            <button id="button_add" ng-click="addPages()">Save</button>
        </li>
    </ul>
</div>
