body {
    font-family: sans-serif;
    font-size: 0.85em;
    margin: 2em 2em;
}
.methods {
    margin-left: 2em;
    margin-bottom: 2em;
}
.method {
    background-color: #eef;
    border: 1px solid #DDDDE6;
    padding: .5em;
    margin-bottom: 1em;
    width: 50em
}
.methodNameTable {
    width: 100%;
    border: 0px;
    border-bottom: 2px solid white;
    font-size: 1.4em;
}
.methodNameTd {
    background-color: #eef;
}
h1 {
    font-size: 2m;
    margin-bottom: 0em;
}
h2 {
    border-bottom: 1px solid black;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}
h3 {
    color: #FF6633;
    font-size: 1.35em;
    margin-top: .5em;
    margin-bottom: 0em;
}
h5 {
    font-size: 1.2em;
    color: #99a;
    margin: 0.5em 0em 0.25em 0em;
}
h6 {
    color: #700000;
    font-size: 1em;
    margin: 1em 0em 0em 0em;
}
.h7 {
    margin-top: .75em;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    color: blue;
}
.h8 {
    margin-top: .75em;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    color: black;
}
tt {
    font-size: 1em;
}
table {
    margin-bottom: 0.5em;
    border: 1px solid #E0E0E0;
}
th {
    text-align: left;
    font-weight: normal;
    font-size: 1em;
    color: black;
    background-color: #DDDDE6;
    padding: 3px 6px;
    border: 1px solid #B1B1B8;
}
td {
    padding: 3px 6px;
    vertical-align: top;
    background-color: #F6F6FF;
    font-size: 0.85em;
}
p {
    margin-top: 0em;
    margin-bottom: 0em;
}
td.summary {
    background-color: white;
}
td.summarySeparator {
    padding: 1px;
}
