<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		<layout class="org.slc.sli.util.logging.CommonPatternLayout" />
	</encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
