##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeEducationOrganization xsi:schemaLocation="http://ed-fi.org/0100 Interchange-EducationOrganization.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeEducationOrganization>

##########mainTemplate#########
	<ClassPeriod id="ID_1">
		<ClassPeriodName>--ClassPeriodName--</ClassPeriodName>
	</ClassPeriod>

##########mainQuery##############

select SchoolId
, ClassPeriodName 
from edfi.ClassPeriod
order by SchoolId
