##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeCohort xsi:schemaLocation="http://ed-fi.org/0100 Interchange-Cohort.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeCohort>

##########mainTemplate#########
<Cohort id="ID001">
	<CohortIdentifier>--CohortIdentifier--</CohortIdentifier>
	<CohortDescription>--CohortDescription--</CohortDescription>
	<CohortType>--CohortType--</CohortType>
	<CohortScope>--CohortScope--</CohortScope>
	<AcademicSubject>--AcademicSubject--</AcademicSubject>
	
	<EducationOrgReference id="ID_3" ref="ID_1">
		<EducationalOrgIdentity>
			<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			
			==EducationOrgIdentificationCode==

		</EducationalOrgIdentity>
	</EducationOrgReference>
	
	<ProgramReference id="ID005" ref="ID004">
		<ProgramIdentity>
			<ProgramId>--ProgramId--</ProgramId>
			<ProgramType>--ProgramType--</ProgramType>
		</ProgramIdentity>
	</ProgramReference>
</Cohort>

##########mainQuery##############
SELECT a.CohortIdentifier as CohortIdentifier
,a.CohortDescription as CohortDescription
,b.CodeValue as CohortType
,c.CodeValue as CohortScope
,d.CodeValue as AcademicSubject
,e.StateOrganizationId as StateOrganizationId
,g.ProgramId as ProgramId
,h.CodeValue as ProgramType
FROM edfi.Cohort as a
LEFT JOIN edfi.CohortType as b on a.CohortTypeId= b.CohortTypeId
LEFT JOIN edfi.CohortScopeType as c on a.CohortScopeTypeId = c.CohortScopeTypeId
LEFT JOIN edfi.AcademicSubjectType as d on a.AcademicSubjectTypeId = d.AcademicSubjectTypeId
LEFT JOIN edfi.EducationOrganization as e on a.EducationOrganizationId = e.EducationOrganizationId
LEFT JOIN edfi.CohortProgram as f on a.CohortIdentifier = f.CohortIdentifier
LEFT JOIN edfi.Program as g on f.EducationOrganizationId = g.EducationOrganizationId
LEFT JOIN edfi.ProgramType as h on g.ProgramTypeId = h.ProgramTypeId
ORDER BY a.CohortIdentifier

#######EducationOrgIdentificationCodeTemplate#######
<EducationOrgIdentificationCode IdentificationSystem="--IdentificationSystem--">
	<ID>--ID--</ID>
</EducationOrgIdentificationCode>

#######EducationOrgIdentificationCodeQuery#######
SELECT a.CohortIdentifier
,b.EducationOrgIdentificationCode as ID
,c.CodeValue as IdentificationSystem
FROM edfi.Cohort as a
LEFT JOIN edfi.EducationOrganization as e on a.EducationOrganizationId = e.EducationOrganizationId
LEFT JOIN edfi.EducationOrgIdentificationCode as b on a.EducationOrganizationId = b.EducationOrganizationId
LEFT JOIN edfi.EducationOrgIdentificationSystemType as c on b.EducationOrgIdentificationSystemTypeId = c.EducationOrgIdentificationSystemTypeId
order by a.CohortIdentifier



