###########begin###########
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeEducationOrganization xsi:schemaLocation="http://ed-fi.org/0100 Interchange-EducationOrganization.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
###end###
</InterchangeEducationOrganization>
###mainTemplate###
   <Course>
       <CourseTitle>--CourseTitle--</CourseTitle>
       <NumberOfParts>--NumberOfParts--</NumberOfParts>

==CourseCodes==

       <CourseLevel>--CourseLevel--</CourseLevel>
       <CourseLevelCharacteristics>

==CourseLevelCharacteristics==

       </CourseLevelCharacteristics>
       <GradesOffered>

==GradeLevels==

       </GradesOffered>
       <SubjectArea>--SubjectArea--</SubjectArea>
       <CourseDescription>--CourseDescription--</CourseDescription>
       <DateCourseAdopted>--DateCourseAdopted--</DateCourseAdopted>
       <HighSchoolCourseRequirement>--HighSchoolCourseRequirement--</HighSchoolCourseRequirement>
       <CourseGPAApplicability>--CourseGPAApplicability--</CourseGPAApplicability>
       <CourseDefinedBy>--CourseDefinedBy--</CourseDefinedBy>
       <MinimumAvailableCredit CreditType="--MiniCreditType--" CreditConversion="--MiniCreditConversion--">
           <Credit>--MiniCredit--</Credit>
       </MinimumAvailableCredit>
       <MaximumAvailableCredit CreditType="--MaxCreditType--" CreditConversion="--MaxCreditConversion--">
           <Credit>--MaxCredit--</Credit>
       </MaximumAvailableCredit>
       <CareerPathway>--CareerPathway--</CareerPathway>
       <EducationOrganizationReference>
           <EducationalOrgIdentity>
               <StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
           </EducationalOrgIdentity>
       </EducationOrganizationReference>

==LearningStandardReferences==


==LearningObjectiveReferences==

       <CompetencyLevels>
           <CodeValue>--CompetencyLevelsCodeValue--</CodeValue>
       </CompetencyLevels>
   </Course>
###mainQuery###
SELECT c.EducationOrganizationId
     ,c.EducationOrganizationId as StateOrganizationId
      ,c.IdentityCourseCode
      ,c.CourseTitle
      ,c.NumberOfParts
--      ,c.CourseLevelTypeId
      ,clt.CodeValue as CourseLevel
--      ,c.SubjectAreaTypeId
      ,ast.CodeValue as SubjectArea
      ,c.CourseDescription
      ,c.DateCourseAdopted
      ,c.HighSchoolCourseRequirement
--      ,c.CourseGPAApplicabilityTypeId
      ,cgpaat.CodeValue as CourseGPAApplicability
      ,c.CourseDefinedByTypeId as CourseDefinedBy
      ,c.MinimumAvailableCreditTypeId as MiniCreditType
      ,null as MiniCreditType
      ,c.MinimumAvailableCredit as MiniCredit
      ,null as MiniCreditConversion
      ,c.MaximumAvailableCreditTypeId as MaxCreditType
      ,null as MaxCreditConversion
      ,c.MaximumAvailableCredit as MaxCredit
      ,c.CareerPathwayTypeId as CareerPathway
--      ,c.CompetencyLevelDescriptorId
      ,cld.CodeValue as CompetencyLevelsCodeValue
  FROM EdFi.edfi.Course c
  LEFT JOIN EdFi.edfi.CourseLevelType clt ON c.CourseLevelTypeId = clt.CourseLevelTypeId
  LEFT JOIN EdFi.edfi.AcademicSubjectType ast ON c.SubjectAreaTypeId = ast.AcademicSubjectTypeId
  LEFT JOIN EdFi.edfi.CourseGPAApplicabilityType cgpaat ON c.CourseGPAApplicabilityTypeId = cgpaat.CourseGPAApplicabilityTypeId
  LEFT JOIN EdFi.edfi.CompetencyLevelDescriptor cld ON c.CompetencyLevelDescriptorId = cld.CompetencyLevelDescriptorId
  ORDER BY c.EducationOrganizationId, c.IdentityCourseCode


########CourseCodesTemplate################     
       <CourseCode IdentificationSystem="--IdentificationSystem--" AssigningOrganizationCode="--AssigningOrganizationCode--">
           <ID>--CourseCodeID--</ID>
       </CourseCode>
########CourseCodesQuery################
SELECT c.EducationOrganizationId
      ,c.IdentityCourseCode
      --,ccic.CourseCodeSystemTypeId
      ,ccst.CodeValue as IdentificationSystem
      ,ccic.AssigningOrganizationCode as AssigningOrganizationCode
      ,ccic.IdentificationCode as CourseCodeID
  FROM EdFi.edfi.CourseCodeIdentificationCode ccic
  RIGHT JOIN EdFi.edfi.Course c 
   ON c.EducationOrganizationId = ccic.EducationOrganizationId
      AND c.IdentityCourseCode = ccic.IdentityCourseCode
  LEFT JOIN EdFi.edfi.CourseCodeSystemType ccst ON ccic.CourseCodeSystemTypeId = ccst.CourseCodeSystemTypeId
  ORDER BY c.EducationOrganizationId, c.IdentityCourseCode

########CourseLevelCharacteristicsTemplate########
           <CourseLevelCharacteristic>--CourseLevelCharacteristic--</CourseLevelCharacteristic>
########CourseLevelCharacteristicsQuery########
SELECT c.EducationOrganizationId
      ,c.IdentityCourseCode
      --,clc.CourseLevelCharacteristicsTypeId
      ,clct.CodeValue as CourseLevelCharacteristic
  FROM EdFi.edfi.CourseLevelCharacteristics clc
  RIGHT JOIN EdFi.edfi.Course c 
   ON c.EducationOrganizationId = clc.EducationOrganizationId
       AND c.IdentityCourseCode = clc.IdentityCourseCode
  LEFT JOIN EdFi.edfi.CourseLevelCharacteristicsType clct ON clc.CourseLevelCharacteristicsTypeId = clct.CourseLevelCharacteristicsTypeId
  ORDER BY c.EducationOrganizationId, c.IdentityCourseCode
  
########GradeLevelsTemplate########
           <GradeLevel>--GradeLevel--</GradeLevel>
########GradeLevelsQuery########
SELECT c.EducationOrganizationId
      ,c.IdentityCourseCode
      --,cgo.GradesOfferedTypeId
      ,glt.CodeValue as GradeLevel
  FROM EdFi.edfi.CourseGradesOffered cgo
  RIGHT JOIN EdFi.edfi.Course c 
	ON c.EducationOrganizationId = cgo.EducationOrganizationId
		AND c.IdentityCourseCode = cgo.IdentityCourseCode
  LEFT JOIN EdFi.edfi.GradeLevelType glt ON cgo.GradesOfferedTypeId = glt.GradeLevelTypeId
  ORDER BY c.EducationOrganizationId, c.IdentityCourseCode
  
########LearningStandardReferencesTemplate########
       <LearningStandardReference>
           <LearningStandardIdentity>
               <LearningStandardId ContentStandardName="--LearningStandardIdContentStandardName--">
                   <IdentificationCode>--LearningStandardIdIdentificationCode--</IdentificationCode>
               </LearningStandardId>
           </LearningStandardIdentity>
       </LearningStandardReference>
########LearningStandardReferencesQuery########
SELECT c.EducationOrganizationId
       ,c.IdentityCourseCode
       ,cls.LearningStandardId as LearningStandardIdIdentificationCode
       ,cst.CodeValue as LearningStandardIdContentStandardName
  FROM EdFi.edfi.CourseLearningStandard cls
  RIGHT JOIN EdFi.edfi.Course c 
	ON c.EducationOrganizationId = cls.EducationOrganizationId
		AND c.IdentityCourseCode = cls.IdentityCourseCode
  LEFT JOIN EdFi.edfi.LearningStandard ls ON cls.LearningStandardId = ls.LearningStandardId
  LEFT JOIN EdFi.edfi.ContentStandardType cst ON ls.ContentStandardTypeId = cst.ContentStandardTypeId
  ORDER BY c.EducationOrganizationId, c.IdentityCourseCode
  
########LearningObjectiveReferencesTemplate########
       <LearningObjectiveReference>
           <LearningObjectiveIdentity>
               <LearningObjectiveId ContentStandardName="--ContentStandardName--">
                   <IdentificationCode>--IdIdentificationCode--</IdentificationCode>
               </LearningObjectiveId>
           </LearningObjectiveIdentity>
       </LearningObjectiveReference>
########LearningObjectiveReferencesQuery########
SELECT c.EducationOrganizationId
      ,c.IdentityCourseCode
      ,c.IdentityCourseCode as IdIdentificationCode
      ,clo.Objective as ContentStandardName
      --,clo.AcademicSubjectTypeId
      --,clo.ObjectiveGradeLevelTypeId
  FROM EdFi.edfi.CourseLearningObjective clo
  RIGHT JOIN EdFi.edfi.Course c 
	ON c.EducationOrganizationId = clo.EducationOrganizationId
		AND c.IdentityCourseCode = clo.IdentityCourseCode
  ORDER BY c.EducationOrganizationId, c.IdentityCourseCode
