##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeMasterSchedule xsi:schemaLocation="http://ed-fi.org/0100 Interchange-MasterSchedule.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeMasterSchedule>

##########mainTemplate#########
	<CourseOffering id="ID_1">
		<LocalCourseCode>--LocalCourseCode--</LocalCourseCode>
		<LocalCourseTitle>--LocalCourseTitle--</LocalCourseTitle>
		<SchoolReference id="ID_2" ref="ID_1">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</SchoolReference>
		<SessionReference id="ID_3" ref="ID_1">
			<SessionIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
				<SessionName>--SessionName--</SessionName>
			</SessionIdentity>
		</SessionReference>
		<CourseReference id="ID_4" ref="ID_4">
			<CourseIdentity>
==CourseCode==
			</CourseIdentity>
		</CourseReference>
	</CourseOffering>


##########mainQuery##############
select co.SchoolId
		,co.TermTypeId
		,co.SchoolYear
		,co.LocalCourseCode

		,co.LocalCourseCode
		,co.LocalCourseTitle
		,eo.StateOrganizationId
		,eo.StateOrganizationId
		,s.SessionName		
from edfi.CourseOffering as co
left join edfi.Session as s on co.SchoolId = s.EducationOrganizationId
	  and co.TermTypeId = s.TermTypeId and co.SchoolYear = s.SchoolYear 
left join edfi.EducationOrganization as eo on s.EducationOrganizationId = eo.EducationOrganizationId
order by co.SchoolId, co.TermTypeId, co.SchoolYear, co.LocalCourseCode

#######CourseCodeTemplate#######
				<CourseCode IdentificationSystem="--IdentificationSystem--" AssigningOrganizationCode="--AssigningOrganizationCode--">
					<ID>--ID--</ID>
				</CourseCode>


#######CourseCodeQuery#######
select co.SchoolId
		,co.TermTypeId
		,co.SchoolYear
		,co.LocalCourseCode
		
,ccst.CodeValue as IdentificationSystem
		,ccic.AssigningOrganizationCode as AssigningOrganizationCode
		,ccic.IdentificationCode as ID
from edfi.CourseOffering as co
left join EdFi.edfi.CourseCodeIdentificationCode as ccic on co.SchoolId = ccic.EducationOrganizationId
			and co.IdentityCourseCode = ccic.IdentityCourseCode
left join EdFi.edfi.CourseCodeSystemType ccst ON ccic.CourseCodeSystemTypeId = ccst.CourseCodeSystemTypeId
order by co.SchoolId, co.TermTypeId, co.SchoolYear, co.LocalCourseCode