##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeEducationOrganization xsi:schemaLocation="http://ed-fi.org/0100 Interchange-EducationOrganization.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeEducationOrganization>

##########mainTemplate#########
	<LocalEducationAgency id="ID_1">
		<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>

==EducationOrgIdentificationCode==


		<NameOfInstitution>--NameOfInstitution--</NameOfInstitution>
		<ShortNameOfInstitution>--ShortNameOfInstitution--</ShortNameOfInstitution>
		<OrganizationCategories>
==OrganizationCategory==
		</OrganizationCategories>
==Address==
==Telephone==
		<WebSite>--WebSite--</WebSite>
		<OperationalStatus>--OperationalStatus--</OperationalStatus>
==AccountabilityRatings==
==ProgramReference==

==EducationOrganizationPeerReference==

		<LEACategory>--LEACategory--</LEACategory>
		<CharterStatus>--CharterStatus--</CharterStatus>

		<LocalEducationAgencyReference id="ID_6" ref="ID_4">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</LocalEducationAgencyReference>

		<EducationServiceCenterReference id="ID_7" ref="ID_4">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</EducationServiceCenterReference>
		<StateEducationAgencyReference id="ID_8" ref="ID_4">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</StateEducationAgencyReference>
	</LocalEducationAgency>

##########mainQuery##############

select lea.LocalEducationAgencyId

		,eo.StateOrganizationId
		,eo.NameOfInstitution
		,eo.ShortNameOfInstitution
		,eo.WebSite
		,ost.CodeValue as OperationalStatus	
		,lct.CodeValue as LEACategory
		,cst.CodeValue as CharterStatus	
		,eo.EducationOrganizationId
		,eo.EducationOrganizationId
		,eo.EducationOrganizationId
from edfi.LocalEducationAgency as lea
left join edfi.EducationOrganization as eo on lea.StateEducationAgencyId = eo.EducationOrganizationId
left join edfi.OperationalStatusType as ost on eo.OperationalStatusTypeId = ost.OperationalStatusTypeId
left join edfi.LEACategoryType as lct on lea.LEACategoryTypeId = lct.LEACategoryTypeId
left join edfi.CharterStatusType as cst on lea.CharterStatusTypeId = cst.CharterStatusTypeId
order by lea.LocalEducationAgencyId 


#######EducationOrgIdentificationCodeTemplate#######
		<EducationOrgIdentificationCode IdentificationSystem="--IdentificationSystem--">
			<ID>--ID--</ID>
		</EducationOrgIdentificationCode>

#######EducationOrgIdentificationCodeQuery#######
select lea.LocalEducationAgencyId
		,eois.CodeValue as IdentificationSystem
		,eoc.EducationOrgIdentificationCode as ID
from edfi.LocalEducationAgency as lea
left join edfi.EducationOrganization as eo on lea.LocalEducationAgencyId = eo.educationOrganizationId
left join edfi.EducationOrgIdentificationCode as eoc on eoc.EducationOrganizationId =eo.EducationOrganizationId
left join  edfi.EducationOrgIdentificationSystemType as eois on eois.EducationOrgIdentificationSystemTypeId = eoc.EducationOrgIdentificationSystemTypeId
order by lea.LocalEducationAgencyId


#######OrganizationCategoryTemplate#######
			<OrganizationCategory>--OrganizationCategory--</OrganizationCategory>

#######OrganizationCategoryQuery#######
select lea.LocalEducationAgencyId
	  ,eoct.OrganizationCategory
from edfi.LocalEducationAgency as lea
left join edfi.EducationOrganization as eo on lea.LocalEducationAgencyId = eo.educationOrganizationId
left join edfi.EducationOrganizationCategory as eoc on eo.EducationOrganizationId = eoc.EducationOrganizationId
left join edfi.EducationOrganizationCategoryType as eoct on eoc.EducationOrganizationCategoryTypeId = eoct.EducationOrganizationCategoryTypeId
order by lea.LocalEducationAgencyId

#######AddressTemplate#######
		<Address AddressType="--AddressType--">
			<StreetNumberName>--StreetNumberName--</StreetNumberName>
			<ApartmentRoomSuiteNumber>--ApartmentRoomSuiteNumber--</ApartmentRoomSuiteNumber>
			<BuildingSiteNumber>--BuildingSiteNumber--</BuildingSiteNumber>
			<City>--City--</City>
			<StateAbbreviation>--StateAbbreviation--</StateAbbreviation>
			<PostalCode>--PostalCode--</PostalCode>
			<NameOfCounty>--NameOfCounty--</NameOfCounty>
			<CountyFIPSCode>--CountyFIPSCode--</CountyFIPSCode>
			<CountryCode>--CountryCode--</CountryCode>
			<Latitude>--Latitude--</Latitude>
			<Longitude>--Longitude--</Longitude>
			<BeginDate>--BeginDate--</BeginDate>
			<EndDate>--EndDate--</EndDate>
		</Address>
#######AddressQuery#######
select lea.LocalEducationAgencyId

		,at.CodeValue as AddressType
		,eoa.StreetNumberName
		,eoa.ApartmentRoomSuiteNumber
		,eoa.BuildingSiteNumber
		,eoa.City
		,sat.CodeValue as StateAbbreviation
		,eoa.PostalCode
		,eoa.NameOfCounty
		,eoa.CountyFIPSCode
		,cct.CodeValue as CountryCode
		,eoa.Latitude
		,eoa.Longitude
		,eoa.BeginDate
		,eoa.EndDate
from edfi.LocalEducationAgency as lea
left join edfi.EducationOrganization as eo on lea.LocalEducationAgencyId = eo.educationOrganizationId
left join edfi.EducationOrganizationAddress as eoa on eo.EducationOrganizationId = eoa.EducationOrganizationId
left join edfi.AddressType as at on eoa.AddressTypeId = at.AddressTypeId
left join edfi.StateAbbreviationType as sat on sat.StateAbbreviationTypeId = eoa.StateAbbreviationTypeId  
left join edfi.CountryCodeType as cct on cct.CountryCodeTypeId = eoa.CountryCodeTypeId
order by lea.LocalEducationAgencyId

#######TelephoneTemplate#######
		<Telephone InstitutionTelephoneNumberType="--InstitutionTelephoneNumberType--">
			<TelephoneNumber>--TelephoneNumber--</TelephoneNumber>
		</Telephone>

#######TelephoneQuery#######
select lea.LocalEducationAgencyId
		,ty.CodeValue as InstitutionTelephoneNumberType
		,eot.TelephoneNumber
from edfi.LocalEducationAgency as lea
left join edfi.EducationOrganization as eo on lea.LocalEducationAgencyId = eo.educationOrganizationId
left join edfi.EducationOrganizationTelephone as eot on eo.EducationOrganizationId = eot.EducationOrganizationId
left join edfi.TelephoneNumberType  as ty on eot.InstitutionTelephoneNumberTypeId = ty.TelephoneNumberTypeId
order by lea.LocalEducationAgencyId

#######AccountabilityRatingsTemplate#######
		<AccountabilityRatings>
			<RatingTitle>--RatingTitle--</RatingTitle>
			<Rating>--Rating--</Rating>
			<RatingDate>--RatingDate--</RatingDate>
			<SchoolYear>--SchoolYear--</SchoolYear>
			<RatingOrganization>--RatingOrganization--</RatingOrganization>
			<RatingProgram>--RatingProgram--</RatingProgram>
		</AccountabilityRatings>

#######AccountabilityRatingsQuery#######
SELECT lea.StateEducationAgencyId
      ,ar.RatingTitle
      ,ar.SchoolYear
      ,ar.Rating
      ,ar.RatingDate
      ,ar.RatingOrganization
      ,ar.RatingProgram
  FROM EdFi.edfi.AccountabilityRating ar
  RIGHT JOIN  edfi.LocalEducationAgency as lea ON lea.LocalEducationAgencyId = ar.EducationOrganizationId
  ORDER BY lea.LocalEducationAgencyId
  

#######ProgramReferenceTemplate#######
		<ProgramReference id="ID_2" ref="ID_1">
			<ProgramIdentity>
				<ProgramId>--ProgramId--</ProgramId>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</ProgramIdentity>
		</ProgramReference>

#######ProgramReferenceQuery#######
SELECT lea.LocalEducationAgencyId
		
      ,p.ProgramId
      ,eo.StateOrganizationId
FROM EdFi.edfi.Program as p
right join edfi.LocalEducationAgency as lea on lea.LocalEducationAgencyId = p.EducationOrganizationId
left join edfi.EducationOrganization as eo on eo.EducationOrganizationId = lea.LocalEducationAgencyId
order by lea.LocalEducationAgencyId

#######EducationOrganizationPeerReferenceTemplate#######
		<EducationOrganizationPeerReference id="ID_4" ref="ID_4">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</EducationOrganizationPeerReference>

#######EducationOrganizationPeerReferenceQuery#######
select lea.LocalEducationAgencyId

	,eo.StateOrganizationId
from edfi.LocalEducationAgency as lea
left join edfi.EducationOrganization as eo on lea.LocalEducationAgencyId = eo.EducationOrganizationId
order by lea.LocalEducationAgencyId

