##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeStudentParent xsi:schemaLocation="http://ed-fi.org/0100 Interchange-StudentParent.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeStudentParent>

##########mainTemplate#########
<Parent id="ID_1">
	<ParentUniqueStateId>--ParentUniqueStateId--</ParentUniqueStateId>

	<Name Verification="--Verification--">
		<PersonalTitlePrefix>--PersonalTitlePrefix--</PersonalTitlePrefix>
		<FirstName>--FirstName--</FirstName>
		<MiddleName>--MiddleName--</MiddleName>
		<LastSurname>--LastSurname--</LastSurname>
		<GenerationCodeSuffix>--GenerationCodeSuffix--</GenerationCodeSuffix>
		<MaidenName>--MaidenName--</MaidenName>
	</Name>

	==OtherName==

    <Sex>--Sex--</Sex>

	==Address==

	==Telephone==

	==ElectronicMail==

</Parent>

##########mainQuery##############
SELECT a.ParentUSI
	,a.ParentUSI as ParentUniqueStateId
	,c.CodeValue as PersonalTitlePrefix
	,d.CodeValue as Verification
	,a.FirstName
	,a.MiddleName
	,a.LastSurname
	,e.CodeValue as GenerationCodeSuffix
	,a.MaidenName
	,b.CodeValue as Sex
	,a.LoginId
FROM edfi.Parent as a
LEFT JOIN edfi.SexType as b on a.SexTypeId= b.SexTypeId
LEFT JOIN edfi.PersonalTitlePrefixType as c on a.PersonalTitlePrefixTypeId = c.PersonalTitlePrefixTypeId
LEFT JOIN edfi.PersonalInformationVerificationType as d on a.PersonalInformationVerificationTypeId = d.PersonalInformationVerificationTypeId
LEFT JOIN edfi.GenerationCodeSuffixType as e on a.GenerationCodeSuffixTypeId = e.GenerationCodeSuffixTypeId
ORDER BY a.ParentUSI

#######OtherNameTemplate#######
<OtherName OtherNameType="--OtherNameType--">
	<PersonalTitlePrefix>--PersonalTitlePrefix--</PersonalTitlePrefix>
	<FirstName>--FirstName--</FirstName>
	<MiddleName>--MiddleName--</MiddleName>
	<LastSurname>--LastSurname--</LastSurname>
	<GenerationCodeSuffix>--GenerationCodeSuffix--</GenerationCodeSuffix>
</OtherName>

#######OtherNameQuery#######
SELECT a.ParentUSI
	,e.CodeValue as OtherNameType
	,d.CodeValue as PersonalTitlePrefix
	,b.FirstName
	,b.MiddleName
	,b.LastSurname
	,b.GenerationCodeSuffixTypeId as GenerationCodeSuffix
FROM EdFi.Parent AS a
RIGHT JOIN EdFi.ParentOtherName AS b ON a.ParentUSI = b.ParentUSI
LEFT JOIN EdFi.GenerationCodeSuffixType AS c ON b.GenerationCodeSuffixTypeId = c.GenerationCodeSuffixTypeId
LEFT JOIN EdFi.PersonalTitlePrefixType AS d ON a.PersonalTitlePrefixTypeId = d.PersonalTitlePrefixTypeId
LEFT JOIN EdFi.OtherNameType AS e ON b.OtherNameTypeId = e.OtherNameTypeId
ORDER BY a.ParentUSI

########AddressTemplate########
<Address AddressType="--AddressType--">
	<StreetNumberName>--StreetNumberName--</StreetNumberName>
	<ApartmentRoomSuiteNumber>--ApartmentRoomSuiteNumber--</ApartmentRoomSuiteNumber>
	<BuildingSiteNumber>--BuildingSiteNumber--</BuildingSiteNumber>
	<City>--City--</City>
	<StateAbbreviation>--StateAbbreviation--</StateAbbreviation>
	<PostalCode>--PostalCode--</PostalCode>
	<NameOfCounty>--NameOfCounty--</NameOfCounty>
	<CountyFIPSCode>--CountyFIPSCode--</CountyFIPSCode>
	<CountryCode>--CountryCode--</CountryCode>
	<Latitude>--Latitude--</Latitude>
	<Longitude>--Longitude--</Longitude>
	<BeginDate>--BeginDate--</BeginDate>
	<EndDate>--EndDate--</EndDate>
</Address>

########AddressQuery########
SELECT a.ParentUSI
,c.CodeValue as AddressType
,e.StreetNumberName
,e.ApartmentRoomSuiteNumber
,e.BuildingSiteNumber
,e.City
,b.CodeValue as StateAbbreviation
,e.PostalCode
,e.NameOfCounty
,e.CountyFIPSCode
,d.CodeValue as CountryCode
,e.Latitude
,e.Longitude
,e.BeginDate
,e.EndDate
FROM  edfi.Parent as a
RIGHT JOIN edfi.ParentAddress as e on a.ParentUSI = e.ParentUSI
LEFT JOIN edfi.StateAbbreviationType as b on e.StateAbbreviationTypeId = b.StateAbbreviationTypeId
LEFT JOIN edfi.AddressType as c on e.AddressTypeId = c.AddressTypeId
LEFT JOIN edfi.CountryCodeType as d on e.CountryCodeTypeId = d.CountryCodeTypeId
ORDER BY a.ParentUSI

#######TelephoneTemplate#######
<Telephone TelephoneNumberType="--TelephoneNumberType--" PrimaryTelephoneNumberIndicator="--PrimaryTelephoneNumberIndicator--">
	<TelephoneNumber>--TelephoneNumber--</TelephoneNumber>
</Telephone>

#######TelephoneQuery#######
select a.ParentUSI
	,c.CodeValue as TelephoneNumberType
	,b.PrimaryTelephoneNumberIndicator
	,b.TelephoneNumber
from edfi.Parent a
right join edfi.ParentTelephone as b on a.ParentUSI = b.ParentUSI
left join edfi.TelephoneNumberType as c on b.TelephoneNumberTypeId = c.TelephoneNumberTypeId
order by a.ParentUSI

#######ElectronicMailTemplate#######
<ElectronicMail EmailAddressType="--EmailAddressType--">
	<EmailAddress>--EmailAddress--</EmailAddress>
</ElectronicMail>

#######ElectronicMailQuery#######
SELECT a.ParentUSI
	,b.ElectronicMailAddress as EmailAddress
	,c.CodeValue as EmailAddressType
FROM EDFI.Parent as a
RIGHT JOIN edfi.ParentElectronicMail as b on a.ParentUSI = b.ParentUSI
LEFT JOIN edfi.ElectronicMailType as c on b.ElectronicMailTypeId = c.ElectronicMailTypeId
ORDER BY a.ParentUSI


