##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeEducationOrganization xsi:schemaLocation="http://ed-fi.org/0100 Interchange-EducationOrganization.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


############end############
</InterchangeEducationOrganization>


##########mainTemplate#########
	<School id="ID_1">
		<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>

==EducationOrgIdentificationCode==

		<NameOfInstitution>--NameOfInstitution--</NameOfInstitution>
		<ShortNameOfInstitution>--ShortNameOfInstitution--</ShortNameOfInstitution>

		<OrganizationCategories>
==OrganizationCategory==
		</OrganizationCategories>
==Address==

==Telephone==

		<WebSite>--WebSite--</WebSite>
		<OperationalStatus>--OperationalStatus--</OperationalStatus>

==AccountabilityRatings==

==ProgramReference==

==EducationOrganizationPeerReference==


		<GradesOffered>
==GradeLevel==
		</GradesOffered>

		<SchoolCategories>
==SchoolCategory==
		</SchoolCategories>

		<SchoolType>--SchoolType--</SchoolType>
		<CharterStatus>--CharterStatus--</CharterStatus>
		<TitleIPartASchoolDesignation>--TitleIPartASchoolDesignation--</TitleIPartASchoolDesignation>
		<MagnetSpecialProgramEmphasisSchool>--MagnetSpecialProgramEmphasisSchool--</MagnetSpecialProgramEmphasisSchool>
		<AdministrativeFundingControl>--AdministrativeFundingControl--</AdministrativeFundingControl>
		<LocalEducationAgencyReference id="ID_6" ref="ID_4">
			<EducationalOrgIdentity>
==StateOrganizationId==
			</EducationalOrgIdentity>
		</LocalEducationAgencyReference>
		<ClassPeriodReference id="ID_7" ref="ID_4"/>
		<ClassPeriodReference id="ID_8" ref="ID_4"/>
		<LocationReference id="ID_9" ref="ID_4"/>
		<LocationReference id="ID_10" ref="ID_10"/>
	</School>


##########mainQuery##############

  select eo.StateOrganizationId
		,eo.NameOfInstitution
		,eo.NameOfInstitution
		,eo.ShortNameOfInstitution
		,eo.WebSite
		,ost.CodeValue as OperationalStatus
		,st.CodeValue as SchoolType
		,cst.CodeValue as CharterStatus
		,tpsdt.CodeValue as TitleIPartASchoolDesignation
		,mspet.CodeValue as MagnetSpecialProgramEmphasisSchool
		,afc.CodeValue as AdministrativeFundingControl
from edfi.School as s 
left join edfi.EducationOrganization as eo on s.SchoolId = eo.educationOrganizationId
left join edfi.OperationalStatusType as ost on eo.OperationalStatusTypeId = ost.OperationalStatusTypeId
left join edfi.SchoolType as st on st.SchoolTypeId = s.SchoolTypeId
left join edfi.CharterStatusType as cst on s.CharterStatusTypeId = cst.CharterStatusTypeId
left join edfi.TitleIPartASchoolDesignationType as tpsdt on s.TitleIPartASchoolDesignationTypeId = tpsdt.TitleIPartASchoolDesignationTypeId
left join edfi.edfi.MagnetSpecialProgramEmphasisSchoolType as mspet on s.MagnetSpecialProgramEmphasisSchoolTypeId = mspet.MagnetSpecialProgramEmphasisSchoolTypeId
left join edfi.AdministrativeFundingControlType as afc on s.AdministrativeFundingControlTypeId = afc.AdministrativeFundingControlTypeId
order by s.SchoolId

########EducationOrgIdentificationCodeTemplate#######
		<EducationOrgIdentificationCode IdentificationSystem="--IdentificationSystem--">
			<ID>--ID--</ID>
		</EducationOrgIdentificationCode>
		
#######EducationOrgIdentificationCodeQuery#######
select eois.CodeValue as IdentificationSystem
		,eoc.EducationOrgIdentificationCode as ID
from edfi.School as s
left join edfi.EducationOrganization as eo on s.SchoolId = eo.educationOrganizationId
left join edfi.EducationOrgIdentificationCode as eoc on eoc.EducationOrganizationId =eo.EducationOrganizationId
left join  edfi.EducationOrgIdentificationSystemType as eois on eois.EducationOrgIdentificationSystemTypeId = eoc.EducationOrgIdentificationSystemTypeId
order by s.SchoolId


#######OrganizationCategoryTemplate#######
			<OrganizationCategory>--OrganizationCategory--</OrganizationCategory>
#######OrganizationCategoryQuery#######
select s.SchoolId 
	  ,eoct.OrganizationCategory
from edfi.School as s
left join edfi.EducationOrganization as eo on s.SchoolId = eo.educationOrganizationId
left join edfi.EducationOrganizationCategory as eoc on eo.EducationOrganizationId = eoc.EducationOrganizationId
left join edfi.EducationOrganizationCategoryType as eoct on eoc.EducationOrganizationCategoryTypeId = eoct.EducationOrganizationCategoryTypeId
order by s.SchoolId 

#######AddressTemplate#######
		<Address AddressType="--AddressType--">
			<StreetNumberName>--StreetNumberName--</StreetNumberName>
			<ApartmentRoomSuiteNumber>--ApartmentRoomSuiteNumber--</ApartmentRoomSuiteNumber>
			<BuildingSiteNumber>--BuildingSiteNumber--</BuildingSiteNumber>
			<City>--City--</City>
			<StateAbbreviation>--StateAbbreviation--</StateAbbreviation>
			<PostalCode>--PostalCode--</PostalCode>
			<NameOfCounty>--NameOfCounty--</NameOfCounty>
			<CountyFIPSCode>--CountyFIPSCode--</CountyFIPSCode>
			<CountryCode>--CountryCode--</CountryCode>
			<Latitude>--Latitude--</Latitude>
			<Longitude>--Longitude--</Longitude>
			<BeginDate>--BeginDate--</BeginDate>
			<EndDate>--EndDate--</EndDate>
		</Address>

#######AddressQuery#######
select s.SchoolId
		,at.CodeValue as AddressType
		,eoa.StreetNumberName
		,eoa.ApartmentRoomSuiteNumber
		,eoa.BuildingSiteNumber
		,eoa.City
		,sat.CodeValue as StateAbbreviation
		,eoa.PostalCode
		,eoa.NameOfCounty
		,eoa.CountyFIPSCode
		,cct.CodeValue as CountryCode
		,eoa.Latitude
		,eoa.Longitude
		,eoa.BeginDate
		,eoa.EndDate
from edfi.School s
left join edfi.EducationOrganization as eo on s.SchoolId = eo.educationOrganizationId
left join edfi.EducationOrganizationAddress as eoa on eo.EducationOrganizationId = eoa.EducationOrganizationId
left join edfi.AddressType as at on eoa.AddressTypeId = at.AddressTypeId
left join edfi.StateAbbreviationType as sat on sat.StateAbbreviationTypeId = eoa.StateAbbreviationTypeId  
left join edfi.CountryCodeType as cct on cct.CountryCodeTypeId = eoa.CountryCodeTypeId
order by s.SchoolId

#######TelephoneTemplate#######
		<Telephone InstitutionTelephoneNumberType="--InstitutionTelephoneNumberType--">
			<TelephoneNumber>--TelephoneNumber--</TelephoneNumber>
		</Telephone>

#######TelephoneQuery#######
select s.SchoolId
		,ty.CodeValue as InstitutionTelephoneNumberType
		,eot.TelephoneNumber
from edfi.School as s
left join edfi.EducationOrganization as eo on s.SchoolId = eo.educationOrganizationId
left join edfi.EducationOrganizationTelephone as eot on eo.EducationOrganizationId = eot.EducationOrganizationId
left join edfi.TelephoneNumberType  as ty on eot.InstitutionTelephoneNumberTypeId = ty.TelephoneNumberTypeId
order by s.SchoolId

#######AccountabilityRatingsTemplate#######
		<AccountabilityRatings>
			<RatingTitle>--RatingTitle--</RatingTitle>
			<Rating>--Rating--</Rating>
			<RatingDate>--RatingDate--</RatingDate>
			<SchoolYear>--SchoolYear--</SchoolYear>
			<RatingOrganization>--RatingOrganization--</RatingOrganization>
			<RatingProgram>--RatingProgram--</RatingProgram>
		</AccountabilityRatings>
#######AccountabilityRatingsQuery#######
SELECT s.SchoolId
      ,ar.RatingTitle
      ,ar.SchoolYear
      ,ar.Rating
      ,ar.RatingDate
      ,ar.RatingOrganization
      ,ar.RatingProgram
  FROM EdFi.edfi.AccountabilityRating ar
  RIGHT JOIN EdFi.edfi.School s ON s.SchoolId = ar.EducationOrganizationId
  ORDER BY s.SchoolId

#######ProgramReferenceTemplate#######
		<ProgramReference id="ID_2" ref="ID_1">
			<ProgramIdentity>
				<ProgramId>--ProgramId--</ProgramId>
==ProgramReferenceStateOrganizationId==
			</ProgramIdentity>
		</ProgramReference>

#######ProgramReferenceQuery#######
SELECT s.SchoolId
      ,p.ProgramId
FROM EdFi.edfi.Program as p
right join edfi.School as s on s.SchoolId = p.EducationOrganizationId
order by s.SchoolId


#######ProgramReferenceStateOrganizationIdTemplate#######
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>

#######ProgramReferenceStateOrganizationIdQuery#######
select s.SchoolId
	,eo.StateOrganizationId as StateOrganizationId
from edfi.School as s 
left join edfi.EducationOrganization as eo on s.SchoolId = eo.EducationOrganizationId
order by s.SchoolId


#######EducationOrganizationPeerReferenceTemplate#######
		<EducationOrganizationPeerReference id="ID_4" ref="ID_4">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</EducationOrganizationPeerReference>


#######EducationOrganizationPeerReferenceQuery#######
select s.SchoolId
	,eo.StateOrganizationId
from edfi.School as s 
left join edfi.EducationOrganization as eo on s.SchoolId = eo.EducationOrganizationId
order by s.SchoolId


#######GradeLevelTemplate#######
			<GradeLevel>--GradeLevel--</GradeLevel>

#######GradeLevelQuery#######
  select s.SchoolId
	,gy.CodeValue as GradeLevel 
  from edfi.School as s
  left join edfi.SchoolGradesOffered as sgo on s.SchoolId = sgo.SchoolId
  left join edfi.GradeLevelType as gy on sgo.GradesOfferedTypeId = gy.GradeLevelTypeId
  order by s.SchoolId


#######SchoolCategoryTemplate#######
			<SchoolCategory>--SchoolCategory--</SchoolCategory>

#######SchoolCategoryQuery#######
select sct.CodeValue as SchoolCategory
from edfi.School as s
left join edfi.SchoolCategory as sc on s.SchoolId = sc.SchoolId
left join edfi.SchoolCategoryType as sct on sc.SchoolCategoryTypeId = sct.SchoolCategoryTypeId
order by s.SchoolId


#######StateOrganizationIdTemplate#######
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>

#######StateOrganizationIdQuery#######
select s.SchoolId
	,eo.StateOrganizationId
from edfi.School as s 
left join edfi.EducationOrganization as eo on s.SchoolId = eo.EducationOrganizationId
order by s.SchoolId
