##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeMasterSchedule xsi:schemaLocation="http://ed-fi.org/0100 Interchange-MasterSchedule.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeMasterSchedule>

##########mainTemplate#########
	<Section id="ID_1">
		<UniqueSectionCode>--UniqueSectionCode--</UniqueSectionCode>
		<SequenceOfCourse>--SequenceOfCourse--</SequenceOfCourse>
		<EducationalEnvironment>--EducationalEnvironment--</EducationalEnvironment>
		<MediumOfInstruction>--MediumOfInstruction--</MediumOfInstruction>
		<PopulationServed>--PopulationServed--</PopulationServed>
		<AvailableCredit CreditType="--CreditType--" CreditConversion="0.0">
			<Credit>--Credit--</Credit>
		</AvailableCredit>
		<CourseOfferingReference id="ID_2" ref="ID_1">
			<CourseOfferingIdentity>
				<LocalCourseCode>--LocalCourseCode--</LocalCourseCode>
==CourseCode==
				<Term>--Term--</Term>
				<SchoolYear>--SchoolYear--</SchoolYear>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</CourseOfferingIdentity>
		</CourseOfferingReference>
		<SchoolReference id="ID_3" ref="ID_1">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</SchoolReference>
		<SessionReference id="ID_4" ref="ID_4">
			<SessionIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
				<SessionName>--SessionName--</SessionName>
			</SessionIdentity>
		</SessionReference>
		<LocationReference id="ID_5" ref="ID_4">
			<LocationIdentity>
				<ClassroomIdentificationCode>--ClassroomIdentificationCode--</ClassroomIdentificationCode>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</LocationIdentity>
		</LocationReference>
		<ClassPeriodReference id="ID_6" ref="ID_4">
			<ClassPeriodIdentity>
				<ClassPeriodName>--ClassPeriodName--</ClassPeriodName>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</ClassPeriodIdentity>
		</ClassPeriodReference>

	</Section>

##########mainQuery##############

select s.SchoolId
	,s.ClassPeriodName
	,s.ClassroomIdentificationCode
	,s.LocalCourseCode
	,s.TermTypeId
	,s.SchoolYear

	,s.UniqueSectionCode
	,s.SequenceOfCourse
	,eet.CodeValue as EducationalEnvironment
	,mit.CodeValue as MediumOfInstruction
	,pst.CodeValue as PopulationServed
	,ct.CodeValue as CreditType
	,s.AvailableCredit as Credit 
	,co.LocalCourseCode
	,tt.CodeValue as Term
	,co.SchoolYear
	,eo.StateOrganizationId
	
	,eo.StateOrganizationId
	,ss.SessionName
	
	,eo.StateOrganizationId
	,l.ClassroomIdentificationCode
	
	,eo.StateOrganizationId
	,cp.ClassPeriodName
	
from edfi.Section as s
left join edfi.EducationalEnvironmentType as eet on s.EducationalEnvironmentTypeId = eet.EducationalEnvironmentTypeId
left join edfi.MediumOfInstructionType as mit on s.MediumOfInstructionTypeId = mit.MediumOfInstructionTypeId
left join edfi.PopulationServedType as pst on s.PopulationServedTypeId = pst.PopulationServedTypeId
left join edfi.CreditType as ct on s.AvailableCreditTypeId = ct.CreditTypeId
left join edfi.CourseOffering as co on s.SchoolId = co.SchoolId and s.TermTypeId = co.TermTypeId
		and s.SchoolYear = co.SchoolYear and s.LocalCourseCode = co.LocalCourseCode
left join edfi.TermType as tt on s.TermTypeId = tt.TermTypeId
left join edfi.EducationOrganization as eo on co.SchoolId = eo.EducationOrganizationId
left join edfi.Session as ss on s.SchoolId = ss.EducationOrganizationId 
		and s.TermTypeId = ss.TermTypeId and s.SchoolYear = ss.SchoolYear
left join edfi.Location as l on s.SchoolId = l.SchoolId and s.ClassroomIdentificationCode = l.ClassroomIdentificationCode
left join edfi.ClassPeriod as cp on s.SchoolId = cp.SchoolId and s.ClassPeriodName = cp.ClassPeriodName
order by s.SchoolId,s.ClassPeriodName,s.ClassroomIdentificationCode
	,s.LocalCourseCode,s.TermTypeId,s.SchoolYear

#######CourseCodeTemplate#######
				<CourseCode IdentificationSystem="--IdentificationSystem--" AssigningOrganizationCode="--AssigningOrganizationCode--">
					<ID>--ID--</ID>
				</CourseCode>

#######CourseCodeQuery#######
select s.SchoolId
		,s.ClassPeriodName
		,s.ClassroomIdentificationCode
		,s.LocalCourseCode
		,s.TermTypeId
		,s.SchoolYear

		,ccst.CodeValue as IdentificationSystem
		,ccic.AssigningOrganizationCode as AssigningOrganizationCode
		,ccic.IdentificationCode as ID
from edfi.Section as s
left join EdFi.edfi.CourseCodeIdentificationCode as ccic on s.SchoolId = ccic.EducationOrganizationId
left join EdFi.edfi.CourseCodeSystemType ccst ON ccic.CourseCodeSystemTypeId = ccst.CourseCodeSystemTypeId
order by s.SchoolId,s.ClassPeriodName,s.ClassroomIdentificationCode
		,s.LocalCourseCode,s.TermTypeId,s.SchoolYear


#######ProgramReferenceTemplate#######
		<ProgramReference id="ID_7" ref="ID_4">
			<ProgramIdentity>
				<ProgramId>--ProgramId--</ProgramId>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</ProgramIdentity>
		</ProgramReference>

#######ProgramReferenceQuery#######
select s.SchoolId
		,s.ClassPeriodName
		,s.ClassroomIdentificationCode
		,s.LocalCourseCode
		,s.TermTypeId
		,s.SchoolYear

		,eo.StateOrganizationId
		,p.ProgramId
from edfi.Section as s
left join edfi.EducationOrganization as eo on s.SchoolId = eo.EducationOrganizationId
left join edfi.SectionProgram as sp on s.SchoolId = sp.SchoolId and s.ClassPeriodName = sp.ClassPeriodName
	  and s.ClassroomIdentificationCode = sp.ClassroomIdentificationCode and s.LocalCourseCode = sp.LocalCourseCode
	  and s.TermTypeId = sp.TermTypeId and s.SchoolYear = sp.SchoolYear
left join edfi.Program as p on sp.SchoolId = s.SchoolId
	  and sp.ProgramTypeId = p.ProgramTypeId
order by s.SchoolId,s.ClassPeriodName,s.ClassroomIdentificationCode
		,s.LocalCourseCode,s.TermTypeId,s.SchoolYear