##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeEducationOrgCalendar xsi:schemaLocation="http://ed-fi.org/0100 Interchange-EducationOrgCalendar.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeEducationOrgCalendar>

##########mainTemplate#########
	<Session id="ID_1">
		<SessionName>--SessionName--</SessionName>
		<SchoolYear>--SchoolYear--</SchoolYear>
		<Term>--Term--</Term>
		<BeginDate>--BeginDate--</BeginDate>
		<EndDate>--EndDate--</EndDate>
		<TotalInstructionalDays>--TotalInstructionalDays--</TotalInstructionalDays>
		<EducationOrganizationReference id="ID_2" ref="ID_1">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</EducationOrganizationReference>
==GradingPeriodReference==
		<CalendarDateReference id="ID_5" ref="ID_4"/>
		<CalendarDateReference id="ID_6" ref="ID_4"/>
		<AcademicWeekReference id="ID_7" ref="ID_4"/>
		<AcademicWeekReference id="ID_8" ref="ID_4"/>
	</Session>


##########mainQuery#############
select s.EducationOrganizationId
	,eo.StateOrganizationId
	,s.BeginDate
	,s.SessionName
	,s.SchoolYear
	,s.TermTypeId
	,tt.CodeValue as Term
	,s.BeginDate
	,s.EndDate
	,s.TotalInstructionalDays
	,eo.StateOrganizationId as StateOrganizationId
from edfi.[Session] as s
left join edfi.edfi.TermType as tt on s.TermTypeId = tt.TermTypeId
left join edfi.edfi.EducationOrganization eo ON eo.EducationOrganizationId = s.EducationOrganizationId
order by s.EducationOrganizationId, s.TermTypeId, s.SchoolYear



#######GradingPeriodReferenceTemplate#######
		<GradingPeriodReference id="ID_4" ref="ID_4">
			<GradingPeriodIdentity>
				<GradingPeriod>--GradingPeriod--</GradingPeriod>
				<SchoolYear>--SchoolYear--</SchoolYear>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</GradingPeriodIdentity>

#######GradingPeriodReferenceQuery#######

select s.EducationOrganizationId
	,s.TermTypeId
	,s.SchoolYear
	
	,gpt.CodeValue as GradingPeriod
	,s.SchoolYear
	,eo.StateOrganizationId as StateOrganizationId
from edfi.Session as s
left join edfi.SessionGradingPeriod as gp on s.EducationOrganizationId = gp.EducationOrganizationId 
			and s.TermTypeId = gp.TermTypeId and s.SchoolYear = gp.SchoolYear
left join edfi.GradingPeriodType as gpt on gp.GradingPeriodTypeId = gpt.GradingPeriodTypeId
left join edfi.edfi.EducationOrganization eo ON s.EducationOrganizationId = eo.EducationOrganizationId
order by s.EducationOrganizationId, s.TermTypeId, s.SchoolYear





