##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeStudent xsi:schemaLocation="http://ed-fi.org/0100 Interchange-Student.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeStudent>

##########mainTemplate#########
	<Student id="ID_1">
		<StudentUniqueStateId>--StudentUniqueStateId--</StudentUniqueStateId>
==StudentIdentificationCode==

		<Name Verification="--Verification--">
			<PersonalTitlePrefix>--PersonalTitlePrefix--</PersonalTitlePrefix>
			<FirstName>--FirstName--</FirstName>
			<MiddleName>--MiddleName--</MiddleName>
			<LastSurname>--LastSurname--</LastSurname>
			<GenerationCodeSuffix>--GenerationCodeSuffix--</GenerationCodeSuffix>
			<MaidenName>--MaidenName--</MaidenName>
		</Name>
==OtherName==

		<Sex>--Sex--</Sex>
		<BirthData>
			<BirthDate>--BirthDate--</BirthDate>
			<CityOfBirth>--CityOfBirth--</CityOfBirth>
			<StateOfBirthAbbreviation>--StateOfBirthAbbreviation--</StateOfBirthAbbreviation>
			<CountryOfBirthCode>--CountryOfBirthCode--</CountryOfBirthCode>
			<DateEnteredUS>--DateEnteredUS--</DateEnteredUS>
			<MultipleBirthStatus>--MultipleBirthStatus--</MultipleBirthStatus>
		</BirthData>
==Address==


==Telephone==

==ElectronicMail==
		
		<ProfileThumbnail>--ProfileThumbnail--</ProfileThumbnail>
		<HispanicLatinoEthnicity>--HispanicLatinoEthnicity--</HispanicLatinoEthnicity>
		<OldEthnicity>--OldEthnicity--</OldEthnicity>
		<Race>
==RacialCategory==

		</Race>
		<EconomicDisadvantaged>--EconomicDisadvantaged--</EconomicDisadvantaged>
		<SchoolFoodServicesEligibility>--SchoolFoodServicesEligibility--</SchoolFoodServicesEligibility>
==StudentCharacteristics==

		<LimitedEnglishProficiency>--LimitedEnglishProficiency--</LimitedEnglishProficiency>

		
		<Languages>
==Languages==
		</Languages>


		<HomeLanguages>
==HomeLanguage==
		</HomeLanguages>

==Disabilities==


		<Section504Disabilities>
==Section504Disability==
		</Section504Disabilities>

		
		<DisplacementStatus>--DisplacementStatus--</DisplacementStatus>
==ProgramParticipations==
		<LearningStyles>
			<VisualLearning>--VisualLearning--</VisualLearning>
			<AuditoryLearning>--AuditoryLearning--</AuditoryLearning>
			<TactileLearning>--TactileLearning--</TactileLearning>
		</LearningStyles>

==CohortYears==
==StudentIndicators==

		<LoginId>--LoginId--</LoginId>
	</Student>

##########mainQuery##############

select s.StudentUSI
		,s.StudentUSI as StudentUniqueStateId
		,pivt.CodeValue as Verification 
		,ptpt.CodeValue as PersonalTitlePrefix
		,s.FirstName
		,s.MiddleName
		,s.LastSurname
		,gcst.CodeValue as GenerationCodeSuffix
		,s.MaidenName
		,st.CodeValue as Sex
		,s.BirthDate
		,s.CityOfBirth
		,sat.CodeValue as StateOfBirthAbbreviation
		,cct.CodeValue as CountryOfBirthCode
		,s.DateEnteredUS
		,s.MultipleBirthStatus
		,s.ProfileThumbnail
		,s.HispanicLatinoEthnicity
		,oet.CodeValue as OldEthnicity
		,s.EconomicDisadvantaged
		,sfset.CodeValue as SchoolFoodServicesEligibility
		,lept.CodeValue as LimitedEnglishProficiency
		,s.DisplacementStatusType as DisplacementStatus
		,sls.VisualLearning
		,sls.AuditoryLearning
		,sls.TactileLearning
		,s.LoginId
from edfi.Student as s
left join edfi.PersonalInformationVerificationType as pivt on s.PersonalInformationVerificationTypeId = pivt.PersonalInformationVerificationTypeId 
left join edfi.PersonalTitlePrefixType as ptpt on s.PersonalTitlePrefixTypeId = ptpt.PersonalTitlePrefixTypeId
left join edfi.GenerationCodeSuffixType as gcst on s.GenerationCodeSuffixTypeId = gcst.GenerationCodeSuffixTypeId
left join edfi.SexType as st on s.SexTypeId = st.SexTypeId
left join edfi.StateAbbreviationType as sat on s.StateOfBirthAbbreviationTypeId = sat.StateAbbreviationTypeId 
left join edfi.CountryCodeType as cct on s.CountryOfBirthCodeTypeId = cct.CountryCodeTypeId
left join edfi.OldEthnicityType as oet on s.OldEthnicityTypeId = oet.OldEthnicityTypeId
left join edfi.SchoolFoodServicesEligibilityType as sfset on s.SchoolFoodServicesEligibilityTypeId = sfset.SchoolFoodServicesEligibilityTypeId
left join edfi.LimitedEnglishProficiencyType as lept on s.LimitedEnglishProficiencyTypeId = lept.LimitedEnglishProficiencyTypeId
left join edfi.StudentLearningStyle as sls on s.StudentUSI = sls.StudentUSI
order by s.StudentUSI

########StudentIdentificationCodeTemplate#######
		<StudentIdentificationCode IdentificationSystem="--IdentificationSystem--" AssigningOrganizationCode="--AssigningOrganizationCode--">
			<IdentificationCode>--IdentificationCode--</IdentificationCode>
		</StudentIdentificationCode>
#######StudentIdentificationCodeQuery#######
select s.StudentUSI
		,sisy.CodeValue as IdentificationSystem
		,sic.AssigningOrganizationCode
		,sic.IdentificationCode
from edfi.Student as s
left join edfi.StudentIdentificationCode as sic on s.StudentUSI = sic.Studentusi
left join edfi.StudentIdentificationSystemType as sisy on sic.StudentIdentificationSystemTypeId  = sisy.StudentIdentificationSystemTypeId
order by s.StudentUSI


########OtherNameTemplate#######
		<OtherName OtherNameType="--OtherNameType--">
			<PersonalTitlePrefix>--PersonalTitlePrefix--</PersonalTitlePrefix>
			<FirstName>--FirstName--</FirstName>
			<MiddleName>--MiddleName--</MiddleName>
			<LastSurname>--LastSurname--</LastSurname>
			<GenerationCodeSuffix>--GenerationCodeSuffix--</GenerationCodeSuffix>
		</OtherName>
#######OtherNameQuery#######
select s.StudentUSI
		,ont.CodeValue as OtherNameType
		,ptpt.CodeValue as PersonalTitlePrefix
		,son.FirstName
		,son.MiddleName
		,son.LastSurname
		,gcst.CodeValue as GenerationCodeSuffix
from edfi.Student as s
left join edfi.StudentOtherName as son on s.StudentUSI = son.Studentusi
left join EdFi.GenerationCodeSuffixType AS gcst ON son.GenerationCodeSuffixTypeId = gcst.GenerationCodeSuffixTypeId
left join EdFi.PersonalTitlePrefixType AS ptpt ON son.PersonalTitlePrefixTypeId = ptpt.PersonalTitlePrefixTypeId
left join EdFi.OtherNameType AS ont ON son.OtherNameTypeId = ont.OtherNameTypeId
order by s.StudentUSI

########AddressTemplate#######
		<Address AddressType="--AddressType--">
			<StreetNumberName>--StreetNumberName--</StreetNumberName>
			<ApartmentRoomSuiteNumber>--ApartmentRoomSuiteNumber--</ApartmentRoomSuiteNumber>
			<BuildingSiteNumber>--BuildingSiteNumber--</BuildingSiteNumber>
			<City>--City--</City>
			<StateAbbreviation>--StateAbbreviation--</StateAbbreviation>
			<PostalCode>--PostalCode--</PostalCode>
			<NameOfCounty>--NameOfCounty--</NameOfCounty>
			<CountyFIPSCode>--CountyFIPSCode--</CountyFIPSCode>
			<CountryCode>--CountryCode--</CountryCode>
			<Latitude>--Latitude--</Latitude>
			<Longitude>--Longitude--</Longitude>
			<BeginDate>--BeginDate--</BeginDate>
			<EndDate>--EndDate--</EndDate>
		</Address>
#######AddressQuery#######
select s.StudentUSI
		,at.CodeValue as AddressType 
		,sa.StreetNumberName 
		,sa.ApartmentRoomSuiteNumber 
		,sa.BuildingSiteNumber 
		,sa.City 
		,sat.CodeValue as StateAbbreviation 
		,sa.PostalCode 
		,sa.NameOfCounty 
		,sa.CountyFIPSCode 
		,cct.CodeValue as CountryCode
		,sa.Latitude 
		,sa.Longitude 
		,sa.BeginDate 
		,sa.EndDate 			
from edfi.student as s
left join edfi.StudentAddress as sa on s.StudentUSI = sa.StudentUSI
LEFT JOIN edfi.AddressType as at on sa.AddressTypeId = at.AddressTypeId
LEFT JOIN edfi.StateAbbreviationType as sat on sa.StateAbbreviationTypeId = sat.StateAbbreviationTypeId
LEFT JOIN edfi.CountryCodeType as cct on sa.CountryCodeTypeId = cct.CountryCodeTypeId
order by s.StudentUSI

########TelephoneTemplate#######
		<Telephone TelephoneNumberType="--TelephoneNumberType--" PrimaryTelephoneNumberIndicator="--PrimaryTelephoneNumberIndicator--">
			<TelephoneNumber>--TelephoneNumber--</TelephoneNumber>
		</Telephone>
#######TelephoneQuery#######
select s.StudentUSI
		,tnt.CodeValue as TelephoneNumberType
		,st.PrimaryTelephoneNumberIndicator
		,st.TelephoneNumber		
from edfi.student as s
left join edfi.StudentTelephone as st on s.StudentUSI = st.StudentUSI
left join edfi.TelephoneNumberType tnt on st.TelephoneNumberTypeId = tnt.TelephoneNumberTypeId
order by s.StudentUSI

########ElectronicMailTemplate#######
		<ElectronicMail EmailAddressType="--EmailAddressType--">
			<EmailAddress>--EmailAddress--</EmailAddress>
		</ElectronicMail>
#######ElectronicMailQuery#######
select s.StudentUSI
		,sem.ElectronicMailAddress as EmailAddress
		,emt.CodeValue as EmailAddressType 		
from edfi.student as s
left join edfi.StudentElectronicMail as sem on s.StudentUSI = sem.StudentUSI
left join edfi.ElectronicMailType as emt on sem.ElectronicMailTypeId = emt.ElectronicMailTypeId 
order by s.StudentUSI

########RacialCategoryTemplate#######
			<RacialCategory>--RacialCategory--</RacialCategory>
#######RacialCategoryQuery#######
select s.StudentUSI
		,rt.CodeValue as RacialCategory
from edfi.student as s
left join edfi.StudentRace as sr on s.StudentUSI = sr.StudentUSI
left join edfi.RaceType as rt on sr.RaceTypeId = rt.RaceTypeId
order by s.StudentUSI


########StudentCharacteristicsTemplate#######
		<StudentCharacteristics>
			<Characteristic>--Characteristic--</Characteristic>
			<BeginDate>--BeginDate--</BeginDate>
			<EndDate>--EndDate--</EndDate>
			<DesignatedBy>--DesignatedBy--</DesignatedBy>
		</StudentCharacteristics>
#######StudentCharacteristicsQuery#######
select s.StudentUSI
		,sct.CodeValue as Characteristic
		,sc.BeginDate
		,sc.EndDate
		,sc.DesignatedBy
from edfi.student as s
left join edfi.StudentCharacteristics as sc on s.StudentUSI = sc.StudentUSI
left join edfi.StudentCharacteristicsType as sct on sc.StudentCharacteristicsTypeId = sct.StudentCharacteristicsTypeId
order by s.StudentUSI


########LanguagesTemplate#######
			<Language>--Language--</Language>
#######LanguagesQuery#######
select s.StudentUSI
		,lt.CodeValue as Language
from edfi.student as s
left join  edfi.StudentLanguages as sl on s.StudentUSI = sl.StudentUSI
left join edfi.LanguagesType as lt on sl.LanguageTypeId = lt.LanguageTypeId
order by s.StudentUSI

########HomeLanguageTemplate#######
			<Language>--Language--</Language>
#######HomeLanguageQuery#######
select s.StudentUSI
		,lt.CodeValue as Language
from edfi.student as s
left join  edfi.StudentHomeLanguages as shl on s.StudentUSI = shl.StudentUSI
left join edfi.LanguagesType as lt on shl.LanguageTypeId = lt.LanguageTypeId
order by s.StudentUSI

########DisabilitiesTemplate#######
		<Disabilities>
			<Disability>--Disability--</Disability>
			<DisabilityDiagnosis>--DisabilityDiagnosis--</DisabilityDiagnosis>
			<OrderOfDisability>--OrderOfDisability--</OrderOfDisability>
		</Disabilities>
#######DisabilitiesQuery#######
select s.StudentUSI
		,dt.CodeValue as Disability
		,d.DisabilityDiagnosis
		,d.OrderOfDisability	
from edfi.student as s
left join  edfi.Disability as d on s.StudentUSI = d.StudentUSI
left join edfi.DisabilityType as dt on d.DisabilityTypeId = dt.DisabilityTypeId
order by s.StudentUSI


########Section504DisabilityTemplate#######
			<Section504Disability>--Section504Disability--</Section504Disability>
#######Section504DisabilityQuery#######
select s.StudentUSI
		,sdt.CodeValue as Section504Disability
from edfi.student as s
left join  edfi.Section504Disability as sd on s.StudentUSI = sd.StudentUSI
left join edfi.Section504DisabilityType as sdt on sd.Section504DisabilityTypeId = sdt.Section504DisabilityTypeId
order by s.StudentUSI


########ProgramParticipationsTemplate#######
		<ProgramParticipations>
			<Program>--Program--</Program>
			<BeginDate>--BeginDate--</BeginDate>
			<EndDate>--EndDate--</EndDate>
			<DesignatedBy>--DesignatedBy--</DesignatedBy>
		</ProgramParticipations>
#######ProgramParticipationsQuery#######
select s.StudentUSI
		,pt.CodeValue as Program
		,spp.BeginDate
		,spp.EndDate
		,spp.DesignatedBy
from edfi.student as s
left join edfi.StudentProgramParticipations as spp on s.StudentUSI = spp.StudentUSI
left join edfi.ProgramType as pt on pt.ProgramTypeId = pt.ProgramTypeId
order by s.StudentUSI


########CohortYearsTemplate#######
		<CohortYears CohortYearType="--CohortYearType--">
			<SchoolYear>--SchoolYear--</SchoolYear>
		</CohortYears>
#######CohortYearsQuery#######
select s.StudentUSI
		,cyt.CodeValue as CohortYearType
		,syt.SchoolYear as SchoolYear
from edfi.student as s
left join edfi.StudentCohortYears as scy on s.StudentUSI = scy.StudentUSI
left join edfi.CohortYearType as cyt on scy.CohortYearTypeId = cyt.CohortYearTypeId
left join edfi.SchoolYearType as syt on scy.SchoolYear = syt.SchoolYear
order by s.StudentUSI

########StudentIndicatorsTemplate#######
		<StudentIndicators>
			<IndicatorGroup>--IndicatorGroup--</IndicatorGroup>
			<IndicatorName>--IndicatorName--</IndicatorName>
			<Indicator>--Indicator--</Indicator>
			<BeginDate>--BeginDate--</BeginDate>
			<EndDate>--EndDate--</EndDate>
			<DesignatedBy>--DesignatedBy--</DesignatedBy>
		</StudentIndicators>

#######StudentIndicatorsQuery#######
select s.StudentUSI
		,si.IndicatorGroup
		,si.IndicatorName
		,si.Indicator
		,si.BeginDate
		,si.EndDate
		,si.DesignatedBy		
from edfi.student as s
left join edfi.StudentIndicator as si on s.StudentUSI = si.StudentUSI
order by s.StudentUSI


