##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeStudentParent 
 xsi:schemaLocation="http://ed-fi.org/0100 Interchange-StudentParent.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end=""############
</InterchangeStudentParent>

##########mainTemplate#########
<StudentParentAssociation>
	<StudentReference id="ID_1" ref="ID_1">
		<StudentIdentity>
			<StudentUniqueStateId>--StudentUniqueStateId--</StudentUniqueStateId>
		</StudentIdentity>
	</StudentReference>
	<ParentReference id="ID_3" ref="ID_2">
		<ParentUniqueStateId>--ParentUniqueStateId--</ParentUniqueStateId>
	</ParentReference>

	==Relation==

	<PrimaryContactStatus>--PrimaryContactStatus--</PrimaryContactStatus>
	<LivesWith>--LivesWith--</LivesWith>
	<EmergencyContactStatus>--EmergencyContactStatus--</EmergencyContactStatus>
	<ContactPriority>--ContactPriority--</ContactPriority>
	<ContactRestrictions>--ContactRestrictions--</ContactRestrictions>
</StudentParentAssociation>

##########mainQuery##############
select spa.StudentUSI
	,spa.ParentUSI
	,spa.StudentUSI as StudentUniqueStateId
	,spa.ParentUSI as ParentUniqueStateId
	,spa.PrimaryContactStatus
	,spa.LivesWith
	,spa.EmergencyContactStatus
	,spa.ContactPriority
	,spa.ContactRestrictions
from edfi.StudentParentAssociation as spa
order by spa.StudentUSI, spa.ParentUSI

########RelationTemplate#######
<Relation>--Relation--</Relation>

########RelationQuery#######
select spa.StudentUSI
	,spa.ParentUSI
	,c.CodeValue as Relation
from edfi.StudentParentAssociation as spa
left join edfi.RelationType as c on spa.RelationTypeId = c.RelationTypeId
order by spa.StudentUSI, spa.ParentUSI


