##############begin###############
<?xml version="1.0" encoding="UTF-8"?>
<InterchangeStaffAssociation xsi:schemaLocation="http://ed-fi.org/0100 Interchange-StaffAssociation.xsd" xmlns="http://ed-fi.org/0100" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

############end############
</InterchangeStaffAssociation>

##########mainTemplate#########
	<TeacherSchoolAssociation>
		<TeacherReference id="ID_1" ref="ID_1">
			<StaffIdentity>
				<StaffUniqueStateId>--StaffUniqueStateId--</StaffUniqueStateId>
			</StaffIdentity>
		</TeacherReference>

==SchoolReference==

		<ProgramAssignment>--ProgramAssignment--</ProgramAssignment>


		<InstructionalGradeLevels>
==GradeLevel==
		</InstructionalGradeLevels>


		<AcademicSubjects>
==AcademicSubject==
		</AcademicSubjects>


	</TeacherSchoolAssociation>



##########mainQuery#######
 select tsa.StaffUSI
    ,tsa.StaffUSI AS StaffUniqueStateId
	,pat.CodeValue as ProgramAssignment
  from edfi.TeacherSchoolAssociation as tsa 
  left join edfi.TeacherSchoolAssociationAcademicSubjects as tsaas on tsa.StaffUSI = tsaas.StaffUSI
  left join edfi.ProgramAssignmentType as pat on tsaas.ProgramAssignmentTypeId = pat.ProgramAssignmentTypeId
  order by tsa.StaffUSI

#######SchoolReferenceTemplate#######
		<SchoolReference id="ID_2" ref="ID_1">
			<EducationalOrgIdentity>
				<StateOrganizationId>--StateOrganizationId--</StateOrganizationId>
			</EducationalOrgIdentity>
		</SchoolReference>

########SchoolReferenceQuery#######
 select tsa.StaffUSI
    ,tsa.SchoolId AS StateOrganizationId
  from edfi.TeacherSchoolAssociation as tsa 
  order by tsa.StaffUSI

########GradeLevelTemplate#######
			<GradeLevel>--GradeLevel--</GradeLevel>

########GradeLevelQuery#######
SELECT tsa.StaffUSI
      ,glt.CodeValue as GradeLevel
  FROM EdFi.edfi.TeacherSchoolAssociationInstructionalGradeLevels g
  RIGHT JOIN EdFi.edfi.TeacherSchoolAssociation tsa ON tsa.StaffUSI = g.StaffUSI
  LEFT JOIN EdFi.edfi.GradeLevelType glt ON glt.GradeLevelTypeId = g.InstructionalGradeLevelTypeId
  ORDER BY tsa.StaffUSI

########AcademicSubjectTemplate#######
			<AcademicSubject>--AcademicSubject--</AcademicSubject>

########AcademicSubjectQuery#######
select tsa.StaffUSI
	,ast.CodeValue as AcademicSubject
  from edfi.TeacherSchoolAssociation as tsa
  left join edfi.TeacherSchoolAssociationAcademicSubjects as tsas on tsa.StaffUSI = tsas.StaffUSI
  left join edfi.AcademicSubjectType as ast on tsas.AcademicSubjectTypeId = ast.AcademicSubjectTypeId
  ORDER BY tsa.StaffUSI
