<p id="notice"><%= notice %></p>

<h1>District - <%= Check.get("")["edOrg"].to_s %></h1>
<h3>Please approve SLI applications to access the district's data</h3>


<% @application_authorizations.each do |application_authorization| %>
    <% @application_authorization = application_authorization %>
    <%= render 'form' %>
<% end %>

<br />

