  <Student>
    <StudentUniqueStateId>{{id}}</StudentUniqueStateId>
    <Name>
      <FirstName>{{firstName}}</FirstName>
      <LastSurname>{{lastName}}</LastSurname>
    </Name>
    <Sex>{{sex}}</Sex>
    <BirthData>
      <BirthDate>{{birthYear}}-{{birthDay}}</BirthDate>
    </BirthData>
    <Address AddressType="Home">
      <StreetNumberName>{{address}}</StreetNumberName>
      <City>{{city}}</City>
      <StateAbbreviation>{{state}}</StateAbbreviation>
      <PostalCode>{{postalCode}}</PostalCode>
    </Address>
    <ElectronicMail EmailAddressType="Home/Personal">
      <EmailAddress>{{email}}</EmailAddress>
    </ElectronicMail>
    <HispanicLatinoEthnicity>{{hispanicLatino}}</HispanicLatinoEthnicity>
    <Race/>
    <EconomicDisadvantaged>{{economicDisadvantaged}}</EconomicDisadvantaged>
    <SchoolFoodServicesEligibility>{{schoolFood}}</SchoolFoodServicesEligibility>
    <LimitedEnglishProficiency>{{limitedEnglish}}</LimitedEnglishProficiency>
    <Section504Disabilities/>
  </Student>
