<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<import resource="dal-context.xml"/>
    <context:component-scan base-package="org.slc.sli" >
    		<context:exclude-filter type="regex" expression=".*AvroEntityValidator"></context:exclude-filter>
    </context:component-scan>
	<context:annotation-config />

	<bean id="validator" class = "org.slc.sli.validation.schema.NeutralSchemaValidator"/>

  <bean id="ingestionPropertiesPlaceholder" class="org.slc.sli.ingestion.util.ExposedPropertyPlaceholderConfigurer">

    <!-- this avoids errors with *other* property placeholders -->
    <property name="ignoreUnresolvablePlaceholders" value="true" />

    <!-- this allows using an optional local properties file (ingestion-dev.properties) -->
    <property name="ignoreResourceNotFound" value="true" />

    <property name="locations">
      <list>
        <value>classpath:ingestion.properties</value>
        <!-- create this file with custom settings for your dev environment -->
        <value>classpath:ingestion-dev.properties</value>
      </list>
    </property>
  </bean>

  <bean id="lz" class="org.slc.sli.ingestion.landingzone.LocalFileSystemLandingZone">
    <property name="directory" value="${landingzone.inbounddir}"></property>
  </bean>

  <bean id="tempLz" class="org.slc.sli.ingestion.landingzone.LocalFileSystemLandingZone" />

  <bean id="jms-hornetq" class="org.apache.camel.component.jms.JmsComponent">
    <property name="connectionFactory">
  	  <bean factory-method="createConnectionFactoryWithoutHA" class="org.hornetq.api.jms.HornetQJMSClient">
  	    <constructor-arg>
  		  <util:constant static-field="org.hornetq.api.jms.JMSFactoryType.CF"/>
  		</constructor-arg>
  		<constructor-arg>
  		  <bean class="org.hornetq.api.core.TransportConfiguration" >
		    <constructor-arg index="0">
              <value>org.hornetq.core.remoting.impl.netty.NettyConnectorFactory</value>
	        </constructor-arg>
            <constructor-arg index="1">
              <map>
                <entry key="host" value="${queues.workItem.host}"/>
                <entry key="port" value="${queues.workItem.port}"/>
              </map>
            </constructor-arg>
          </bean>
        </constructor-arg>
      </bean>
    </property>
  </bean>

  <!-- Main application context, contains all other contexts in /spring -->
  <import resource="smooks-context.xml" />
  <import resource="camel-context.xml" />

  <!-- Include resources from DAL -->
  <import resource="classpath:/spring/db.xml" />

  <!-- debugging only <bean id="camelTracer" class="org.apache.camel.processor.interceptor.Tracer"> <property name="traceOutExchanges"
    value="true" /> </bean> <bean id="traceFormatter" class="org.apache.camel.processor.interceptor.DefaultTraceFormatter"> <property
    name="showOutBody" value="true" /> <property name="showOutBodyType" value="true" /> </bean> -->

  <!-- not working yet. <bean id="executionMonitor" class="org.slc.sli.ingestion.util.ExecutionMonitor" /> -->

  <!-- not working yet. <aop:config> <aop:aspect ref="executionMonitor"> <aop:pointcut id="pc" expression="execution(* org.slc.sli.ingestion.landingzone.ControlFile.parse(..))"
    /> <aop:around pointcut-ref="pc" method="aroundExecution" /> </aop:aspect> </aop:config> -->


  <!-- performance tracking -->
  <aop:aspectj-autoproxy/>
  <bean id="ingestionPerformaceTrackingAspect" class="org.slc.sli.ingestion.measurement.IngestionPerformanceTrackingAspect"/>

  <bean id="controlFileValidator" class="org.slc.sli.ingestion.landingzone.validation.ControlFileValidator">
    <property name="ingestionFileValidators">
      <list>
        <bean class="org.slc.sli.ingestion.landingzone.validation.FileFormatValidator" />
        <bean class="org.slc.sli.ingestion.landingzone.validation.FileTypeValidator" />
        <bean class="org.slc.sli.ingestion.landingzone.validation.ChecksumValidator" />
      </list>
    </property>
  </bean>

  <bean id="zipFileValidator" class="org.slc.sli.ingestion.landingzone.validation.ZipFileValidator">
  </bean>

  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>messages</value>
      </list>
    </property>
  </bean>

  <bean id="smooksFileHandler" class="org.slc.sli.ingestion.handler.SmooksFileHandler">
    <property name="sliSmooksFactory">
      <ref bean="sliSmooksFactory" />
    </property>
  </bean>

  <bean id="xmlFileHandler" parent="smooksFileHandler">
    <property name="preValidator">
      <bean class="org.slc.sli.ingestion.landingzone.validation.XmlFileValidator" />
    </property>
  </bean>

  <bean id="csvFileHandler" parent="smooksFileHandler">
    <property name="preValidator">
      <bean class="org.slc.sli.ingestion.landingzone.validation.CsvFileValidator" />
    </property>
  </bean>

  <bean id="matchDiffHandler" class="org.slc.sli.ingestion.handler.MatchDiffHandler" />

  <bean id="edFiProcessor" class="org.slc.sli.ingestion.processors.EdFiProcessor">
    <property name="fileHandlerMap">
      <map>
        <entry key="#{T(org.slc.sli.ingestion.FileFormat).CSV}">
          <ref bean="csvFileHandler" />
        </entry>
        <entry key="#{T(org.slc.sli.ingestion.FileFormat).EDFI_XML}">
          <ref bean="xmlFileHandler" />
        </entry>
      </map>
    </property>
  </bean>


  <bean id="entityPersistHandler" class="org.slc.sli.ingestion.handler.EntityPersistHandler">
    <property name="entityRepository">
      <bean class="org.slc.sli.dal.repository.MongoEntityRepository" />
    </property>
    <property name="messageSource" ref="messageSource" />
  </bean>

  <bean id="persistenceProcessor" class="org.slc.sli.ingestion.processors.PersistenceProcessor">
    <property name="entityPersistHandler">
      <ref bean="entityPersistHandler" />
    </property>
  </bean>
</beans>


