<script type="text/javascript">
    function print(json) {

        return JSON.stringify(json, undefined, 2); // indentation level = 2

    }

    function linkify(text){
        if (text) {
            text = text.replace(
                /((https?\:\/\/)|(www\.))(\S+)(\w{2,4})(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/gi,
                function(url){
                    var full_url = url;
                    if (!full_url.match('^https?:\/\/')) {
                        full_url = 'http://' + full_url;
                    }
                    return '<a href="' + full_url + '">' + url + '</a>';
                }
            );
        }
        return text;
    }

    $(document).ready(function(){
        // var entity = <%= @res %>;
        // $('div#data').append("<pre>" + linkify(print(entity)) + "</pre>");
    });
</script>


Current Entity: <%= request.path %> 
<br>
<div id="data">
	<% def waffles(item)%>
		<% sub_waffles(item) unless item.respond_to?(:each) %>
		<% item %>
	</table>
	<%end%>
	<% def sub_waffles(item) %>
		<% item.each do |sub_item| %>
		<% waffles(item) %>
		<%end%>
	<%end%>
	<table>
		<tr>
			<% @res.each do |key, value|  %>
				<th><%= key %></th>
			<% end %>
		</tr>
		<tr>		
	<% @res.each do |key, value|  %>
		<td><%=waffles(value)%></td>
	<% end %>
	</tr>
	</table>
</div>


