<% if @prod_developer %>
    <ul style="color:red">
      <li>Change password operation is disabled for application developers.  Please use your <a href="<%= APP_CONFIG['devslc_url']%>" style="color:red">sandbox environment</a> to complete this operation.</li>
    </ul>
<% else %>
    <h1>Change Password</h1>
    <br>
    <%= render 'form' %>
<% end %>
