<div class="row">
<div class="span11">
<table id="custom_roles" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Custom Role Name</th>
      <th>Rights</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Custom Name1</td><td>Read Restricted, Write Restricted, Read General, Write General, Read Public, Write Public</td></tr>
    <tr><td>Custom Name1</td><td>Read Restricted, Write Restricted, Read General, Write General, Read Public, Write Public</td></tr>
    <tr><td>Custom Name1</td><td>Read Restricted, Write Restricted, Read General, Write General, Read Public, Write Public</td></tr>
    <tr><td>Custom Name1</td><td>Read Restricted, Write Restricted, Read General, Write General, Read Public, Write Public</td></tr>
  </tbody>
</table>
</div>
</div>

<div class="rowEditTool">Edit X</div>
