<script>
<%
 puts roles.inspect
%>
var roles = <%= roles.roles.to_json.html_safe %>;
</script>
<div class="row">
<div class="span11">
<table id="custom_roles" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style='width: 100px'>Group Name</th>
      <th style='width: 300px'>Roles</th>
      <th>Rights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div>Educator</div></td>
      <td>
        <div><span class="btn btn-small customLabel roleLabel">Educator</span></div>
        <div><span class="btn btn-small customLabel roleLabel">MathTeacher</span></div>
        <div><span class="btn btn-small customLabel roleLabel">Janitor</span></div>
      </td>
      <td>
      </td>
     </tr>
  </tbody>
</table>
</div>
</div>
<div>
  <a href="#" id="addGroupButton" class="btn">Add Role Group</a>
</div>


<div id="components">

<div class="rowEditTool">
  <div class="editButtons btn-group">
    <a href="#" id="rowEditToolEditButton" class="btn btn-small">Edit</a>
    <a href="#" id="rowEditToolDeleteButton" class="btn btn-small"><i class="icon-trash"></i></a>
  </div>
  <div class="saveButtons btn-group">
    <a href="#" id="rowEditToolSaveButton" class="btn btn-small">Save</a>
    <a href="#" id="rowEditToolCancelButton" class="btn btn-small">Cancel</a>
  </div>
</div>

<span id="addRightUi">
    <div class="control-group">
      <label class="control-label" for="addRightSelect">Right Name:</label>
      <div class="controls">
        <div class="input-append">
        <select id="addRightSelect">
        <option value="none">Choose one...</option>
        </select>
        <button class="btn" type="button">Add Right</button>
        </div>
      </div>
    </div>
</span>


<div id="addRoleUi" class="control-group">
  <label class="control-label" for="addRoleInput">Role Name:</label>
  <div class="controls">
    <div class="input-append">
      <input size="16" type="text" id="addRoleInput"><button class="btn" type="button">Add</button>
   </div>
  </div>
</div>

<div id="editableRoleUi" class="control-group">
  <div class="controls">
    <div class="input-append">
      <input type="text"><button class="btn" type="button">&times;</button>
   </div>
  </div>
</div>

<div id="labelUi">
  <span class="btn btn-small customLabel roleLabel">foo</span>
</div>

<!--
<span id="labelUi">
    <input class="roleLabel" type="text" readonly="readonly" value="bar"/>
</span>
-->
<!--
<span id="buttonUi">
    <input class="roleLabel" type="text" readonly="readonly" value="foo"/>
</span>
-->
