<Course>
  <CourseTitle>Course {{id}}</CourseTitle>
  <NumberOfParts>1</NumberOfParts>
  <CourseCode IdentificationSystem="School course code">
    <ID>SCHOOL_COURSE_{{id}}</ID>
  </CourseCode>
  <CourseCode IdentificationSystem="State course code">
    <ID>STATE_COURSE_{{id}}</ID>
  </CourseCode>
  <CourseCode IdentificationSystem="Other">
    <ID>COURSE_{{id}}</ID>
  </CourseCode>
  <DateCourseAdopted>2000-06-19</DateCourseAdopted>
  <HighSchoolCourseRequirement>false</HighSchoolCourseRequirement>
  <MinimumAvailableCredit>
    <Credit>3</Credit>
  </MinimumAvailableCredit>
  <MaximumAvailableCredit>
    <Credit>3</Credit>
  </MaximumAvailableCredit>
  <EducationOrganizationReference>
    <EducationalOrgIdentity>
      <StateOrganizationId>{{edOrg}}</StateOrganizationId>
    </EducationalOrgIdentity>
  </EducationOrganizationReference>
  <UniqueCourseId>{{id}}</UniqueCourseId>
</Course>
