  <LocalEducationAgency>
    <StateOrganizationId>{{stateOrgId}}</StateOrganizationId>
    <NameOfInstitution>Daybreak School District 4529</NameOfInstitution>
    <OrganizationCategories>
      <OrganizationCategory>Local Education Agency</OrganizationCategory>
    </OrganizationCategories>
    <Address>
      <StreetNumberName>123 Street</StreetNumberName>
      <City>Chicago</City>
      <StateAbbreviation>IL</StateAbbreviation>
      <PostalCode>00000</PostalCode>
    </Address>
    <LEACategory>Independent</LEACategory>
    <StateEducationAgencyReference>
      <EducationalOrgIdentity>
        <StateOrganizationId>STANDARD-SEA</StateOrganizationId>
      </EducationalOrgIdentity>
    </StateEducationAgencyReference>
  </LocalEducationAgency>