  <StateEducationAgency>
    <StateOrganizationId>STANDARD-SEA</StateOrganizationId>
    <NameOfInstitution>Standard State Education Agency</NameOfInstitution>
    <OrganizationCategories>
      <OrganizationCategory>State Education Agency</OrganizationCategory>
    </OrganizationCategories>
    <Address>
      <StreetNumberName>123 Street</StreetNumberName>
      <City>Chicago</City>
      <StateAbbreviation>IL</StateAbbreviation>
      <PostalCode>00000</PostalCode>
    </Address>
  </StateEducationAgency>