<Section>
  <UniqueSectionCode>{{id}}</UniqueSectionCode>
  <SequenceOfCourse>{{sequence}}</SequenceOfCourse>
  <EducationalEnvironment>{{environment}}</EducationalEnvironment>
  <MediumOfInstruction>{{medium}}</MediumOfInstruction>
  <PopulationServed>{{population}}</PopulationServed>
    <CourseOfferingReference>
      <CourseOfferingIdentity>
        <LocalCourseCode>{{courseCode}}</LocalCourseCode>
          <SessionReference>
            <SessionIdentity>
              <EducationalOrgReference>
                  <EducationalOrgIdentity>
                    <StateOrganizationId>{{edOrgId}}</StateOrganizationId>
                  </EducationalOrgIdentity>
              </EducationalOrgReference>
              <SessionName>{{session}}</SessionName>
            </SessionIdentity>
          </SessionReference>
          <EducationalOrgReference>
            <EducationalOrgIdentity>
              <StateOrganizationId>{{edOrgId}}</StateOrganizationId>
            </EducationalOrgIdentity>
          </EducationalOrgReference>
        </CourseOfferingIdentity>
    </CourseOfferingReference>
    <SchoolReference>
        <EducationalOrgIdentity>
          <StateOrganizationId>{{edOrgId}}</StateOrganizationId>
        </EducationalOrgIdentity>
    </SchoolReference>
    <SessionReference>
        <SessionIdentity>
            <EducationalOrgReference>
                <EducationalOrgIdentity>
                  <StateOrganizationId>{{edOrgId}}</StateOrganizationId>
                </EducationalOrgIdentity>
            </EducationalOrgReference>
            <SessionName>{{session}}</SessionName>
        </SessionIdentity>
    </SessionReference>
    <ProgramReference>
        <ProgramIdentity>
          <ProgramId>{{program}}</ProgramId>
        </ProgramIdentity>
    </ProgramReference>
  </Section>

