  <StudentSchoolAssociation>
    <StudentReference>
      <StudentIdentity>
        <StudentUniqueStateId>900000000</StudentUniqueStateId>
      </StudentIdentity>
    </StudentReference>
    <SchoolReference>
      <EducationalOrgIdentity>
        <StateOrganizationId>Daybreak Central High</StateOrganizationId>
      </EducationalOrgIdentity>
    </SchoolReference>
    <EntryDate>2011-09-01</EntryDate>
    <EntryGradeLevel>Eleventh grade</EntryGradeLevel>
  </StudentSchoolAssociation>