<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd
    ">

     <bean id="ApplicationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="ignoreResourceNotFound" value="true" />
         <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
         <property name="locations">
             <list>
                 <value>file:${sli.conf}</value>

                 <!--  override specific properties for testing -->
                 <value>file:${sli.test.conf}</value>
                 <value>classpath:api-test.properties</value>
             </list>
         </property>
     </bean>

    <bean id="testingAuthenticationProvider"
        class=" org.springframework.security.authentication.TestingAuthenticationProvider">
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="thread">
                    <bean class="org.slc.sli.common.util.scope.CustomThreadScope"/>
                </entry>
            </map>
        </property>
    </bean>
    
    <bean id="performanceRepo" class="org.slc.sli.validation.DummyEntityRepository" />
    
    <context:component-scan base-package="org.slc">
        <context:exclude-filter type="regex"
            expression=".*CustomImpl" />
            <context:exclude-filter type="regex"
            expression=".*DummyEntityRepository" />
            <context:exclude-filter type="regex"
            expression=".*MongoEntityRepository" />
            <context:exclude-filter type="regex"
            expression=".*AvroEntityValidator" />
            <context:exclude-filter type="regex"
            expression=".*AggregationLoader" />
            <context:exclude-filter type="regex"
            expression=".*NeutralSchemaValidator" />
        <context:exclude-filter type="regex"
            expression=".*DefaultGranularAccessFilterProvider" />
            <context:exclude-filter type="assignable"
            expression="org.slc.sli.api.model.ModelProvider" />
            <context:exclude-filter type="regex"
            expression=".*GenericSuperdocConverter" />
            <context:exclude-filter type="regex"
            expression=".*AssessmentConverter" />
            <context:exclude-filter type="regex"
            expression=".*StudentAssessmentConverter" />
            <context:exclude-filter type="regex"
            expression=".*SuperdocConverterRegistry" />
    </context:component-scan>


    <context:annotation-config />

    <bean id="EntityEncryption" class="org.slc.sli.dal.encrypt.EntityEncryption" />
    <bean id="queryConverterCipher" class="org.slc.sli.dal.encrypt.InsecureCipher" />
    <bean id="testModelProvider" class="org.slc.sli.api.model.TestModelProvider" />


    <import resource="classpath:/spring/db-test.xml" />
    <import resource="classpath:/spring/validation.xml" />
    
    <bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
		<constructor-arg ref="contextSource" />
	</bean>
	<bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
		<property name="url" value="ldap://ldap.slidev.org:389" />
		<property name="base" value="ou=DevTest,dc=slidev,dc=org" />
		<property name="userDn" value="cn=DevLDAP User, ou=People,dc=slidev,dc=org" />
        <property name="password" value="Y;Gtf@w{" />
        <property name="pooled" value="true" />
        
	</bean>
	<bean
		class="org.springframework.ldap.core.support.BaseLdapPathBeanPostProcessor" />
    
    <bean id="apiSchemaAdapter" class="org.slc.sli.api.migration.ApiSchemaAdapter" >
        <property name="upMigrationConfigResource" value="classpath:migration/up-api-migration.json/" />
        <property name="downMigrationConfigResource" value="classpath:migration/down-api-migration.json/" />
        <property name="entityTransformConfigResource" value="classpath:migration/down-api-migration.json/" />
    </bean>
    
    <bean id="apiMigrationAspect" class="org.slc.sli.aspect.ApiMigrationAspect" factory-method="aspectOf">
        <property name="apiSchemaAdapter" ref="apiSchemaAdapter" />
    </bean>
    
</beans>

