<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
	
	http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd
	">


     <bean id="ApplicationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="ignoreResourceNotFound" value="true" />
         <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
         <property name="locations">
             <list>
                 <value>classpath*:/config/${sli.env}/data-access/db.properties</value>
                 <value>classpath*:/config/${sli.env}/api/security/security.properties</value>

                 <!--  override specific properties for testing -->
                 <value>classpath*:/config/${sli.env}/data-access/test.properties</value>
             </list>
         </property>
     </bean>


	<bean id="testingAuthenticationProvider"
		class=" org.springframework.security.authentication.TestingAuthenticationProvider">
	</bean>

	<context:component-scan base-package="org.slc">
		<context:exclude-filter type="regex"
			expression=".*CustomImpl" />
			<context:exclude-filter type="regex"
			expression=".*MongoEntityRepository" />
			<context:exclude-filter type="regex"
			expression=".*AvroEntityValidator" />
	</context:component-scan>


	<context:annotation-config />

    <bean id="roleInitializer" class="org.slc.sli.api.init.RoleInitializer" init-method="init"></bean>

    <bean id="entityServiceAspect" class="org.slc.sli.api.security.aspects.EntityServiceAspect" factory-method="aspectOf">
        <property name="schemaRegistry" ref="avroEntitySchemaRegistry"/>
    </bean>

    <bean id="sliAdminValidator" class="org.slc.sli.api.security.resolve.impl.DefaultSliAdminValidator">
    	<constructor-arg index="0" type="String" value="test"/>
    </bean>
</beans>

