<h3>Modify: {{profile.name}}</h3>

<tabs>
    <pane title="{{page.name}}" ng-repeat="page in pages">
        <div ng-controller="pageCtrl" class="panels">
            <div class="show-{{!checked}}"><strong>Page title:</strong> {{pageName}} <a ng-click="editPageTitle();"><i class="icon-edit"></i></a></div>
            <div class="show-{{checked}}">
                <form ng-submit="savePageTitle();">
                    <input type="text" class="pageName input-medium" ng-model="pageName" value="{{page.name}}" required>
                    <button class="btn btn-primary" ng-click="savePageTitle();" >add</button>
                    <button class="btn" ng-click="cancelPageTitle();" >cancel</button>
                </form>
            </div>
            <br/>
            <div>
                <button class="btn btn-primary btn-block" data-toggle="modal" ng-click="showPanels()" ><i class="icon-plus icon-white"></i> Add available panels</button>
            </div>
            <li ng-repeat="panel in pagePanels">
                <span>{{panel.id}}</span>
            </li>
            <a href="" ng-click="editPage()">View Source Code</a>
            <button class="btn" id="removePage" data-toggle="modal" ng-click="removePage()" ><i class="icon-trash"></i> Remove Page</button>
        </div>
    </pane>
</tabs>


<!-- List of available panels modal box -->
<div class="modal hide" id="allPanelsModal" ng-controller="allPanelListCtrl" >
    <div class="modal-header">
        <button type="button" class="close simplemodal-close" data-dismiss="modal">×</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <div id="errorMessage">Please select the panel.</div>
        <ul>
            <li>
                <div class="educationAgencyName"><strong>Origin</strong></div>
                <div class="panelName"><strong>Panel Name</strong></div>
            </li>
        </ul>
        <ul id="panelSelectable">
            <li ng-repeat="panel in allPanels">
                <div class="educationAgencyName">{{panel.educationAgencyName}}</div>
                <div class="panelName">{{panel.id}}</div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" data-toggle="modal" ng-click="addNewPanel()" id="addNewPanelBtn" ><i class="icon-plus"></i> Add new panel</button>
        <button class="btn simplemodal-close" data-dismiss="modal" tabindex="3">Cancel</button>
        <button class="btn btn-primary" ng-click="addAvailPanels()"  tabindex="4">Save</button>
    </div>
</div>

<!-- Add/edit page/panel modal box -->
<ng-modal></ng-modal>
