body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.85em;
}
h1 {
    font-size: 2em;
    margin-bottom: 0em;
}
h2 {
    border-bottom: 1px solid black;
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.5em;
}
h3 {
    color: #FF6633;
    font-size: 1.35em;
    margin-top: .5em;
    margin-bottom: 0em;
}
h5 {
    font-size: 1.2em;
    color: #99a;
    margin: 0.5em 0em 0.25em 0em;
}
h6 {
    color: #700000;
    font-size: 1em;
    margin: 1em 0em 0em 0em;
}
tt {
    font-size: 1em;
}
table {
    margin-bottom: 0.5em;
    border: 1px solid #E0E0E0;
}
th {
    text-align: left;
    font-weight: normal;
    font-size: 1em;
    color: black;
    background-color: #DDDDE6;
    padding: 3px 6px;
    border: 1px solid #B1B1B8;
}
td {
    padding: 3px 6px;
    vertical-align: top;
    background-color: #F6F6FF;
    font-size: 0.85em;
}
p {
    margin-top: 0em;
    margin-bottom: 0em;
}

#header {
    width: 100%;
    height: 6em;
    margin: .5em;
}

#main {
    clear: both;
    width: 100%;
}

#resource-list {
    float: left;
    height: 80%;
    width: 20em;
    overflow: auto;
    padding: 0 1em 0 1em;
    background-color: #EEEEFF;
}
#resource-list ul {
    list-style: none;
    padding: 0;
}

#resource-details {
    height: 80%;
    width: 70%;
    /* min-width: 600px; */
    overflow: auto;
    margin-left: 21em;
    padding: 0 1em 0 1em;
}

.resourceDetailBlock{
    padding: .5em;
    border-bottom: 1pt solid #333333;
}
.method {
    padding: .5em;
    margin-bottom: 1em;
    background-color: #EEEEEE;
    border: 1px solid #DDDDE6;
}
.methodName {
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 1pt solid #FFFFFF;
}
.request-listing {
    /* placeholder */
}
.response-listing {
    /* placeholder */
}
.infoBlockTitle {
    margin-top: .75em;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
.paramBlock {
    /* placeholder */
}
.representationsBlock {
    /* placeholder */
}

#footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1em; /* shim */
}


