<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

  <bean id="ingestionPropertiesPlaceholder" class="org.slc.sli.ingestion.util.ExposedPropertyPlaceholderConfigurer">

    <!-- this avoids errors with *other* property placeholders -->
    <property name="ignoreUnresolvablePlaceholders" value="true" />

    <!-- this allows using an optional local properties file (ingestion-dev.properties) -->
    <property name="ignoreResourceNotFound" value="true" />

    <property name="locations">
      <list>
        <value>classpath:ingestion.properties</value>
        <!-- create this file with custom settings for your dev environment -->
        <value>classpath:ingestion-dev.properties</value>
      </list>
    </property>
  </bean>

  <import resource="smooks-context.xml" />

  <context:component-scan base-package="org.slc.sli">
    <context:exclude-filter type="regex" expression=".*CustomImpl" />
    <context:exclude-filter type="regex" expression=".*MongoEntityRepository" />
  </context:component-scan>

  <context:annotation-config />

  <bean id="lz" class="org.slc.sli.ingestion.landingzone.LocalFileSystemLandingZone">
    <property name="directory" value="src/test/resources/dummylz"></property>
  </bean>

  <bean id="tempLz" class="org.slc.sli.ingestion.landingzone.LocalFileSystemLandingZone" />


  <bean id="controlFileValidator" class="org.slc.sli.ingestion.landingzone.validation.ControlFileValidator">
    <property name="ingestionFileValidators">
      <list>
        <bean class="org.slc.sli.ingestion.landingzone.validation.FileFormatValidator" />
        <bean class="org.slc.sli.ingestion.landingzone.validation.FileTypeValidator" />
        <bean class="org.slc.sli.ingestion.landingzone.validation.ChecksumValidator" />
      </list>
    </property>
  </bean>

  <bean id="zipFileValidator" class="org.slc.sli.ingestion.landingzone.validation.ZipFileValidator">
  </bean>

  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>messages</value>
      </list>
    </property>
  </bean>

  <camelContext xmlns="http://camel.apache.org/schema/spring">
    <contextScan></contextScan>
  </camelContext>

  <bean id="xmlFileHandler" class="org.slc.sli.ingestion.handler.SmooksFileHandler">
    <property name="preValidator">
      <bean class="org.slc.sli.ingestion.landingzone.validation.XmlFileValidator" />
    </property>
  </bean>

  <bean id="csvFileHandler" class="org.slc.sli.ingestion.handler.SmooksFileHandler">
    <property name="preValidator">
      <bean class="org.slc.sli.ingestion.landingzone.validation.CsvFileValidator" />
    </property>
  </bean>

  <bean id="edFiProcessor" class="org.slc.sli.ingestion.processors.EdFiProcessor">
    <property name="fileHandlerMap">
      <map>
        <entry key="#{T(org.slc.sli.ingestion.FileFormat).CSV}">
          <ref bean="csvFileHandler" />
        </entry>
        <entry key="#{T(org.slc.sli.ingestion.FileFormat).EDFI_XML}">
          <ref bean="xmlFileHandler" />
        </entry>
      </map>
    </property>
  </bean>

</beans>
