// Place all the styles related to the IDP controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.header {
	display:inline-block;
	font-size: 18px;
	width: 500px;
	border-style: solid;
	border-width: 1px;
	margin: 30px 30px;
	padding:30px 30px;
}

form {
	margin: 30px 30px;
}

div.logout {
	position: absolute;
	left: 700px;
	top:  45px;
}

#login_button {
	position: relative;
	left: 200px;
}

.error {
	font-size: 18px;
	color: red;
}