<InterchangeStudentParent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://ed-fi.org/0100"
                          xsi:schemaLocation="http://ed-fi.org/0100 ../../sli/edfi-schema/src/main/resources/edfiXsd/Interchange-StudentParent.xsd">

{{#students}}
  {{> lib/OutputGeneration/XML/interchangeTemplates/Partials/student}}
{{/students}}

</InterchangeStudentParent>
