Hi <%= @fullName  %>,
<br>
<br>
Your password has been successfully changed.<br>
<i>Note:</i> Please contact <a href= "mailto:<%= APP_CONFIG['support_email'] %>" >"inBloom"</a>, if you did not change your password.<br>
<br>
Thank you,<br>
The inBloom.

