{{#assessmentPeriod}}
<AssessmentPeriod>
    <AssessmentPeriodDescriptorIdentity>
        <AssessmentPeriodDescriptorCodeValue>{{codeValue}}</AssessmentPeriodDescriptorCodeValue>
    </AssessmentPeriodDescriptorIdentity>
</AssessmentPeriod>
{{/assessmentPeriod}}
