{{#assessment_items}}
<AssessmentItemReference>
    <AssessmentItemIdentity>
        <AssessmentItemIdentificationCode>{{identificationCode}}</AssessmentItemIdentificationCode>
    </AssessmentItemIdentity>
</AssessmentItemReference>
{{/assessment_items}}
