  <AssessmentPerformanceLevel>
    <PerformanceLevel>
      <CodeValue>{{code_value}}</CodeValue>
      <PerformanceLevelMet>true</PerformanceLevelMet>
    </PerformanceLevel>
    <AssessmentReportingMethod>{{reporting_method}}</AssessmentReportingMethod>
    <MinimumScore>{{min_score}}</MinimumScore>
    <MaximumScore>{{max_score}}</MaximumScore>
  </AssessmentPerformanceLevel>
