{{#assessmentPerformanceLevel}}
<AssessmentPerformanceLevel>
  <PerformanceLevel>
    <CodeValue>{{codeValue}}</CodeValue>
    <PerformanceLevelMet>{{performanceLevelMet}}</PerformanceLevelMet>
  </PerformanceLevel>
  <AssessmentReportingMethod>{{assessmentReportingMethod}}</AssessmentReportingMethod>
  <MinimumScore>{{minScore}}</MinimumScore>
  <MaximumScore>{{maxScore}}</MaximumScore>
</AssessmentPerformanceLevel>
{{/assessmentPerformanceLevel}}
