{{#assessmentFamilyReference}}
<AssessmentFamilyReference>
    <AssessmentFamilyIdentity>
        <AssessmentFamilyTitle>{{assessmentFamilyReference}}</AssessmentFamilyTitle>
        {{#version}}
        <Version>{{version}}</Version>
        {{/version}}
    </AssessmentFamilyIdentity>
</AssessmentFamilyReference>
{{/assessmentFamilyReference}}
