{{#assessment}}
<AssessmentReference>

    <AssessmentIdentity>

        <AssessmentTitle>{{assessmentTitle}}</AssessmentTitle>

        {{#academicSubject}}
        <AcademicSubject>{{academicSubject}}</AcademicSubject>
        {{/academicSubject}}
        {{#gradeLevelAssessed}}
        <GradeLevelAssessed>{{gradeLevelAssessed}}</GradeLevelAssessed>
        {{/gradeLevelAssessed}}
        {{#version}}
        <Version>{{version}}</Version>
        {{/version}}
    </AssessmentIdentity>
</AssessmentReference>
{{/assessment}}
