{{#assessmentItemReference}}
<AssessmentItemReference>
    <AssessmentItemIdentity>
        <AssessmentItemIdentificationCode>{{assessmentItemIdentificationCode}}</AssessmentItemIdentificationCode>
    </AssessmentItemIdentity>
</AssessmentItemReference>
{{/assessmentItemReference}}

