<CalendarDateReference>
  <CalendarDateIdentity>
    <Date>{{calendarDate}}</Date>
    <EducationOrgReference>
      <EducationalOrgIdentity>
	<StateOrganizationId>{{edOrgId}}</StateOrganizationId>
      </EducationalOrgIdentity>
    </EducationOrgReference>
  </CalendarDateIdentity>
</CalendarDateReference>
