<CalendarDateReference>
  <CalendarDateIdentity>
    <Date>{{calendar_date}}</Date>
    <EducationOrgReference>
      <EducationalOrgIdentity>
	<StateOrganizationId>{{ed_org_id}}</StateOrganizationId>
      </EducationalOrgIdentity>
    </EducationOrgReference>
  </CalendarDateIdentity>
</CalendarDateReference>
