    <ClassPeriodReference>
      <ClassPeriodIdentity>
	<ClassPeriodName>{{class_period_name}}</ClassPeriodName>
	<EducationOrganizationReference>
	  <EducationalOrgIdentity>
	    <StateOrganizationId>{{ed_org_id}}</StateOrganizationId>
	  </EducationalOrgIdentity>
	</EducationOrganizationReference>
      </ClassPeriodIdentity>
    </ClassPeriodReference>
