<LearningStandardReference>
    <LearningStandardIdentity>
        <IdentificationCode>{{learningStandardIdentificationCode}}</IdentificationCode>
    </LearningStandardIdentity>
</LearningStandardReference>

