<LearningObjectiveReference>
  <LearningObjectiveIdentity>
    <Objective>{{objective}}</Objective>
    <AcademicSubject>{{academic_subject}}</AcademicSubject>
    <ObjectiveGradeLevel>{{objective_grade_level}}</ObjectiveGradeLevel>
  </LearningObjectiveIdentity>
</LearningObjectiveReference>
