
<MeetingTimeReference>
	<MeetingTimeIdentity>
		<ClassPeriodReference>
			<ClassPeriodIdentity>
				<ClassPeriodName>{{classPeriodName}}</ClassPeriodName>
				<StateOrganizationId>{{edOrgId}}</StateOrganizationId>
			</ClassPeriodIdentity>
		</ClassPeriodReference>
	<WeekNumber>{{weekNumber}}</WeekNumber>
	</MeetingTimeIdentity>
</MeetingTimeReference>
