<ObjectiveAssessmentReference>
    <ObjectiveAssessmentIdentity>
        <ObjectiveAssessmentIdentificationCode>{{identificationCode}}</ObjectiveAssessmentIdentificationCode>
    </ObjectiveAssessmentIdentity>
</ObjectiveAssessmentReference>
