{{#objectiveAssessmentReference}}
<ObjectiveAssessmentReference>
    <ObjectiveAssessmentIdentity>
        <ObjectiveAssessmentIdentificationCode>{{objectiveAssessmentIdentificationCode}}</ObjectiveAssessmentIdentificationCode>
    </ObjectiveAssessmentIdentity>
</ObjectiveAssessmentReference>
{{/objectiveAssessmentReference}}
