{{#objective_assessments}}
<ObjectiveAssessmentReference>
    <ObjectiveAssessmentIdentity>
        <ObjectiveAssessmentIdentificationCode>{{identificationCode}}</ObjectiveAssessmentIdentificationCode>
    </ObjectiveAssessmentIdentity>
</ObjectiveAssessmentReference>
{{/objective_assessments}}
