			<SchoolReference>
                  <EducationalOrgIdentity>
                    <StateOrganizationId>{{edOrgId}}</StateOrganizationId>
                  </EducationalOrgIdentity>
              </SchoolReference>