
 <SectionReference>
    <SectionIdentity>
      <EducationalOrgReference>
        <EducationalOrgIdentity>
        <StateOrganizationId>{{edOrgId}}</StateOrganizationId>
        </EducationalOrgIdentity>
      </EducationalOrgReference>
      <UniqueSectionCode>{{sectionId}}</UniqueSectionCode>
    </SectionIdentity>
  </SectionReference>
 
