		<SessionReference>
            <SessionIdentity>
              {{>partials/_edorg_reference}}
              <SessionName>{{session}}</SessionName>
            </SessionIdentity>
          </SessionReference>