<CourseOffering>
    <LocalCourseCode>LocalCourseCode</LocalCourseCode>
    <LocalCourseTitle>LocalCourseTitle</LocalCourseTitle>
    {{>partials/_school_reference}}
   	{{>partials/_session_reference}}
	{{>partials/_course_reference}}
  </CourseOffering>