  <StudentSchoolAssociation>
   {{>Partials/_student_reference}}
    <SchoolReference>
      <EducationalOrgIdentity>
        <StateOrganizationId>{{schoolStateOrgId}}</StateOrganizationId>
      </EducationalOrgIdentity>
    </SchoolReference>
    <EntryDate>2011-09-01</EntryDate>
    <EntryGradeLevel>Eleventh grade</EntryGradeLevel>
  </StudentSchoolAssociation>
