<h1>Developer Account Registration</h1>

<p>Enter your information below. Once you have confirmed your account, you will be able to get started creating applications for the SLC</p>

<p><b>Step 1 of 3</b></p>

<%= render 'form' %>
