<h1>Provision Landing-Zone</h1>
<div>
	<%= form_tag("provision") %>
		<span>
			<% @edOrgs.each do |org| %>
				<%= radio_button_tag 'ed_org', org %>
				<label for="ed_org_<%= org.gsub(/\s/, '_') %>"><%= org %></label>
			<% end %>
		</span>
		<input id="custom" name="ed_org" type="radio" value="custom" /> <label for="custom">Custom High-Level Ed-Org</label>
		
		<input id="custom_ed_org" name="custom_ed_org" type="text" value="my_custom_edorg" disabled="true" />
		<input name="commit" type="submit" value="Provision" />
		<input name="cancel" type="submit" value="Cancel" />
	</form>
</div>

<script type="application/javascript">
$("#s1").click(function () {
 $("#custom_ed_org").attr("disabled", "disabled");
});
$("#s2").click(function () {
 $("#custom_ed_org").attr("disabled", "disabled");
});
$("#custom").click(function () {
  $("#custom_ed_org").removeAttr("disabled");
});
</script>
