<%= firstName  %>,

Thank you for registering for a developer account with the Shared Learning Collaborative.
      
Please follow this link to confirm that this is your email address.

<%= userEmailValidationLink %>
      
Thanks,
The Shared Learning Collaborative.