<p id="notice"><%= notice %></p>
<%=

if @entity.is_a?(Array) and @entity.any?
	@entity.each do |item|
		display_hash(item).html_safe
	end
else
	if @entity.any?
		display_hash(@entity).html_safe
	else
		"Entity is empty"
	end
end

%>