<!doctype html>
<head>
  <meta charset="utf-8">

  <title>inBloom Dashboard Builder</title>

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/js/libs/jquery-ui/css/custom/jquery-ui-1.8.18.custom.css">
  <link rel="stylesheet" href="css/builder.css">
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-header');
        document.createElement('ng-modal');
        document.createElement('footer');
        document.createElement('tabs');
        document.createElement('pane');

        // Optionally these for CSS
        document.createElement('ng:header');
        document.createElement('ng:modal');

    </script>
    <![endif]-->
</head>
<body ng-app="SLC.builder.app">
    <div role="main" class="wrapper" ng-controller="profileListCtrl">
        <ng-header></ng-Header>

        <div class="profileList clearfix">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Profiles
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <ul class="profile_list">
                                <li ng-repeat="profile in profiles">
                                    <a ng-click="goToProfile('#/profiles/'+profile.id)">{{profile.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Panels
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul class="profile_list">
                                <li ng-repeat="profile in profiles">
                                    <a ng-click="goToProfile('#/panels/'+profile.id)">{{profile.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profilePageWrapper" ng-view></div>
    </div>
    <ng-footer></ng-footer>

    <script src="../static/js/libs/jquery-1.7.2.min.js" sync></script>
    <script src="../static/js/libs/jquery-ui/js/jquery-ui-1.8.18.custom.min.js" sync></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js" sync></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-resource.min.js" sync></script>
    <script src="//cdn.jsdelivr.net/simplemodal/1.4.2/jquery.simplemodal.1.4.2.min.js" sync></script>
    <script src="../static/js/libs/bootstrap-collapse.js" sync></script>


    <script language="javascript">
        function gup( name )
        {
          name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
          var regexS = "[\\?&]"+name+"=([^&#]*)";
          var regex = new RegExp( regexS );
          var results = regex.exec( window.location.href );
          if( results == null )
            return "";
          else
            return results[1];
        }
        function loadBuilderJs() {
            document.write('<script src="js/SLC.builder.app.js" sync><\/script>');
            document.write('<script src="js/SLC.builder.controllers.js" sync><\/script>')
            document.write('<script src="js/SLC.builder.services.js" sync><\/script>')
            document.write('<script src="js/SLC.builder.directives.js" sync><\/script>')
        }
        var minifyJs = gup('minifyJs');

        if (minifyJs === "false" ) {
           loadBuilderJs();
        } else {
            $.ajax({
                url: 'js/builder.js',
                type: 'get',
                async: false,
                success: function(data){
                    document.write('<script language="javascript">'+data+'<\/script>');
                },
                error: loadBuilderJs()
            });
        }
    </script>

</body>
</html>
