<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    	<encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="org.slc.sli.common.util.logging.CommonPatternLayout" />
	    </encoder>
  </appender>

  <logger name="org.springframework" level="warn" />
  
  <logger name="org.slc.sli.api.config" level="warn" />
  <logger name="org.slc.sli.validation" level="warn" />
  <logger name="org.slc.sli.dal.repository" level="warn" />
  <logger name="org.slc.sli.dal.encrypt.EntityEncryption" level="warn" />
  <logger name="audit" level="info" />

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>