/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= jquery.ui.core
 *= jquery.ui.theme
 *= require dataTables/jquery.dataTables
 *= require_tree . 
*/
#header { margin-bottom: 10px;padding-bottom:10px; border-bottom: 1px solid #999; height:50px;}
div.left {float: left;}
div.right {float: right;}
/*div.details {display:none;}*/
/*dt, dd { margin: 0; padding: 0; } dt { float: left; margin-right: 0.3em; }*/
#content { clear:both; margin-top: 20px;}
.flash-notice { background-color: #A4E7A0; border: 1px solid #26722D; }
.flash-error { background-color: #F0A8A8; border: 1px solid #900; }
.flash-notice, .flash-error { width: 90%; margin: 0 auto 10px auto; padding: 5px; }
.flash-notice p, .flash-error p { margin-left: 20px; padding: 0; font-size: .75em; color: #000; }
.flash-notice a, .flash-error a { text-decoration: none; padding: 0 3px; }
.flash-notice a { border: 1px solid #26722D; color: #26722D; }
.flash-error a { border: 1px solid #900; color: #900; }
.flash-notice a:hover, .flash-error a:hover { color: #333; border: 1px solid #333; }
