// Place all the styles related to the entities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:0.8em;}
/*div.details {background-color: rgb(45,73,128);}*/
