// Place all the styles related to the entities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { font-family:Arial, Helvetica, Sans-Serif; font-size:0.8em;}
#simple { border-collapse:collapse;border: 1px solid #999;}
#simple h4 { margin:0px; padding:0px;}
#simple img { float:right;}
#simple ul { margin:10px 0 10px 40px; padding:0px;}
#simple th { background:#7CB8E2 scroll center left; color:#fff; padding:7px 15px; text-align:left;}
#simple td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
#simple tr.odd td { background:#fff repeat-x scroll center left; cursor:pointer; border: 1px solid #999; }
#simple div.arrow { background:transparent no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#simple div.up { background-position:0px 0px;}