<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="validator" class="org.slc.sli.validation.schema.ApiNeutralSchemaValidator" />

	<import resource="applicationContext-main.xml" />
	<import resource="resourceContext.xml" />
	<import resource="securityContext.xml" />
	<import resource="serviceContext.xml" />

	
	<!--  Include resources from DAL -->
	<import resource="classpath:/spring/db.xml" />
	<import resource="classpath:/spring/validation.xml" />
	
</beans>
