		<SessionReference>
            <SessionIdentity>
              <EducationalOrgReference>
                  <EducationalOrgIdentity>
                    <StateOrganizationId>{{edOrgId}}</StateOrganizationId>
                  </EducationalOrgIdentity>
              </EducationalOrgReference>
              <SessionName>{{session}}</SessionName>
            </SessionIdentity>
          </SessionReference>