<h1>Listing roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rights</th>
    <th></th>
    <th>Actions</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= role.rights.join(', ')%></td>
    <td></td>
    <td><%= link_to 'Show', role.id %>, <%= link_to 'Edit', edit_role_path(role.id) %></td>
  </tr>
<% end %>
</table>

<br />
