<h1>Login not implemented.  You should be redirected to the the API instead</h1>

<div>
	<p>Staff Unique State Id: <%= @staffUniqueStateId %></p>
	<p>Roles: <%= @roles %></p>
	<p>Tenant: <%= @tenant %></p>
</div>
