<h1>Listing teacher_school_associations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teacher_school_associations.each do |teacher_school_association| %>
  <tr>
    <td><%= link_to 'Show', teacher_school_association %></td>
    <td><%= link_to 'Edit', edit_teacher_school_association_path(teacher_school_association) %></td>
    <td><%= link_to 'Destroy', teacher_school_association, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher school association', new_teacher_school_association_path %>
