<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
  <property file="${sli.conf}"/>	
	
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>${log.path}/dashboard/dashboard.log</File>
    <Append>true</Append>
    <encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		<layout class="org.slc.sli.common.util.logging.CommonPatternLayout" />
	</encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
   <encoder name="enc" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		<layout class="org.slc.sli.common.util.logging.CommonPatternLayout" />
	</encoder>
  </appender>

  <root level="${log.level}">
      <appender-ref ref="FILE"/>
      <appender-ref ref="STDOUT"/>
  </root>

</configuration>