#{extends 'main.html' /}
#{set title:'Home' /}

#{if districts.size() > 0}
    Select district:
    <select id="state">
        #{list items:districts, as:'district'}
            <option value=${district.id}>${district.state + " " + district.district}</option>
        #{/list}
    </select>

<!-- # {select 'district', items:districts, valueProperty:'state', labelProperty:'state' /} -->
<!-- # {select 'district', items:districts, valueProperty:'state'/} , labelProperty:'name', value:5, class:'test', id:'select2'/} >

#{/if}
#{else}
    No districts. Nothing to do.
#{/else}
