#{extends 'main.html' /}
#{set title:'Redirect' /}

<script type="text/javascript">
    function timer(x)
    {
        window.redirect.clock.value = x;
        window.setTimeout(timer,1000,x-1);
    }
</script>

<script type="text/javascript">
    window.setTimeout(timer,0,${timeout});
</script>

<meta http-equiv="refresh" content="${timeout}; URL=@{Application.idpProxy(district.toString())}" />
<form name="redirect">
    Redirecting to login page for "${district.toString()}" in <output id="clock">${timeout}</output> seconds...
</form>

<br>

<a href="@{Application.index()}">Change realm</a>