/** TODO: structure this in a flexible way. separate layout and style? separate customizable and non-customizable? **/

/**** CSS Reset ****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




body 
{
    font-size:10px;
    margin: 0;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input
{
    font-family:verdana,helvetica,arial,sans-serif;
}

table,td,th
{
    font-size:12px;
}

h1
{
    font-size:24px;
}


#container
{
    background: #fff;
}

#header
{
    background: #000;
    height: 30px;
}

#banner
{
    padding: 10px;
}

#content
{
    clear: left;
    padding: 10px;
}

#populationSelect
{
    padding-top: 10px;
    padding-bottom: 10px;
}

#listView
{
    padding-top: 10px;
}

.perfLevel1
{
    color: #b40610;
}

.perfLevel2
{
    color: #e58829;
}

.perfLevel3
{
    color: #dfc836;
}

.perfLevel4
{
    color: #7fc124;
}

.perfLevel5
{
    color: #438746;
}

.fuelGauge
{
    width: 64px;
}
.fuelGaugeLabel
{
    float: left;
    width: 30px;
}
.fuelGauge, 
.fuelGaugeLabel
{
    font-size:12px;
}
.lozenge
{
    color: #20c7c5;
    font-size: 8px;
    height: 12px;
    width: 22px;
}


/**** styles that will be user-customizable ****/

#banner
{
    background: #90CBD8;
    color: #fff;
}

#studentList th,
#studentList td
{
    padding: 10px;
    border: 1px solid #EEEEEE;
}

