/** TODO: structure this in a flexible way. separate layout and style? separate customizable and non-customizable? **/

/**** CSS Reset ****/
/** Theme */
body {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.panel {
    margin-bottom: 30px;
    margin-left: 0;
    margin-top: 15px;
    padding: 0;
    clear:both;
}
.panel-header {
    border-top: 1px solid #CCCCCC;
    height: 28px;
    margin-left: 0;
    padding-left: 0px;
    padding-top: 8px;
    vertical-align: middle;
}
.panel-content {
    margin-left: 0;
    padding: 5px;
    font-size: 13px;
}
.panel-container {
	position:relative;
}
.panel-container .panel-item {
	float:left;
    top:0;
    right:0;
}
.panel-content .tabular table {
	border-right: 0 solid #DDDDDD;
    border-top: 0 solid #DDDDDD; 
    vertical-align: top;
    font-weight: normal;
    margin-bottom: 18px;
    margin-top: 0;
    table-layout: fixed;
}
.panel-content .tabular table tr td{
    float: right;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-top: 6px;
    text-align: left;
    line-height: 4px;
}
.panel-content .tabular table tr td div{
    padding: 0px 0px 12px 0px;
}
.panel-content .tabular table th{
    color: #999999;
    vertical-align: top; 
    text-align: right;
    font-weight: normal;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-top: 6px;
    line-height: 4px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: bold;
    margin: 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
    font-weight: normal;
}
h1 {
    font-size: 30px;
    line-height: 36px;
}
h1 small {
    font-size: 18px;
}
h2 {
    font-size: 24px;
    line-height: 36px;
}
h2 small {
    font-size: 18px;
}
h3 {
    font-size: 18px;
    line-height: 27px;
}
h3 small {
    font-size: 14px;
}
h4, h5, h6 {
    line-height: 18px;
}
h4 {
    font-size: 14px;
}
h4 small {
    font-size: 12px;
}
h5 {
    font-size: 12px;
}
h6 {
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
}
h7 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: lighter;
}
/** JQueryUI overrides */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #f2f2f2 url(../images/ui-bg_glass_75_f2f2f2_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #000000; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid transparent; background: #dadada url(../images/ui-bg_glass_75_dadada_1x400.png) 100% 100% repeat-x; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-tabs { position: relative;} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; border-bottom: 2px solid #000000; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 2px; margin: 0 .2em 1px 0; padding: 0; white-space: nowrap; background-color: #F2F2F2;}
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; border: 1px solid transparent;border-radius: 0 0 0 0;line-height: 10px;margin-right: 2px;padding-left: 12px;padding-right: 12px;padding-bottom: 9px;padding-top: 9px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 0px;background-color: #FFFFFF;border-color: #000000 #000000 #FFFFFF; border-width: 2px;font-weight: bold;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {  }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {  }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {  }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { }

/** JQGrid overrides */
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column-header {
    background: url("../images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
    border-bottom: 2px solid #000000;
    border-right: 0px none;
    border-top: 0px none;
    border-left: 0px none;
    color: #999999;
    font-weight: normal;
    font-size:13px;
}

th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 2px;
    text-align: left;
}
.ui-jqgrid-bdiv {border-collapse: collapse;}
.ui-widget-no-border .ui-jqgrid tr.jqgrow td {font-size:13px;color: #333333; padding: 4px 5px;border-top: 1px solid #DDDDDD;border-right-style:hidden;white-space: normal !important;}
.ui-widget-no-border .ui-jqgrid tr.jqgrow th { border: 0px none; padding: 4px 5px;}
.ui-widget-no-border .ui-corner-all {border: 0px none;}
.ui-widget-no-border .ui-widget-content a{ color: #000000; text-decoration: none; }
.ui-widget-no-border .ui-state-hover a,.ui-widget-no-border  .ui-state-hover a:hover{ color: #000000; text-decoration: underline; }

/* Custom */
/* Contact Info panel related */
.contactInfoItem {
	width:30%;
}
.contactInfoData {
	width:250px;
}

.lozenge-widget-ell
{
    font-size: 11px;
    font-weight:bold;
    text-decoration:underline;
    color:#20C7C5;
}

.lozenge-widget-fre
{
    font-size: 11px;
    font-weight:bold;
    text-decoration:underline;
    color:#8083fc;
}

/*old*/

.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
#selectapp
{
    font-size:14px;
}


#container
{
    background: #fff;
}

#header
{
    background: #000;
    height: 30px;
}

#banner
{
    padding: 10px;
}

#content
{
    clear: left;
    padding: 10px;
}

#populationSelect
{
    padding-top: 10px;
    padding-bottom: 10px;
}

#listView
{
    padding-top: 10px;
}

.perfLevel1
{
    color: #b40610;
}

.perfLevel2
{
    color: #e58829;
}

.perfLevel3
{
    color: #dfc836;
}

.perfLevel4
{
    color: #7fc124;
}

.perfLevel5
{
    color: #438746;
}

.countLevel1 
{
    color: #438746;
}

.countLevel2 
{
    color: #7FC124;
}

.countLevel3
{
    color: #DFC836;
}

.countLevel4
{
    color: #b40610
}

.fuelGauge
{
    width: 64px;
}
.fuelGaugeLabel
{
    float: left;
    width: 30px;
}
.fuelGauge, 
.fuelGaugeLabel
{
    font-size:12px;
}
.lozenge
{
    font-size: 9px;
    height: 14px;
    width: 24px;
}


/**** styles that will be user-customizable ****/

#banner
{
    background: #90CBD8;
    color: #fff;
}

#studentList th,
#studentList td
{
    padding: 10px;
    border: 1px solid #EEEEEE;
}



.header
{
    font-size:24px;
    
}

.panel
{
    font-size: 24px;
    margin-bottom: 10px;
}

.panelHeader
{
    margin: 5px;
}

.csi
{
    height: 100px;
}
    
.csi .colImage
{
    height:100px;
    width:100px;
    float:left;
}

.csi .colMain
{
    margin-left: 100px;
    width: 900px;
}

.csi .studentName
{
    font-size: 24px;
    height: 40px;
}

.csi .studentInfo span
{
    padding-right: 10px;
}

.csi .studentInfo .col1
{
    float: left;
    width: 500px;
}

.csi .studentInfo .col2
{
    margin-left: 500px;
    width: 500px;
}

.csi .field
{
    font-size: 12px;
    height: 20px;
}
