/** TODO: structure this in a flexible way. separate layout and style? separate customizable and non-customizable? **/

/**** CSS Reset ****/
body {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.panel {
    margin-bottom: 30px;
    margin-left: 0;
    margin-top: 15px;
    padding: 0;
    clear:both;
}
.panel-header {
    border-bottom: 1px solid #CCCCCC;
    height: 28px;
    margin-left: 0;
    padding-left: 6px;
    padding-top: 8px;
    vertical-align: middle;
}
.panel-content {
    margin-left: 0;
    padding: 5px;
    font-size: 13px;
}
.panel-content .tabular table {
	border-right: 0 solid #DDDDDD;
    border-top: 0 solid #DDDDDD; 
    vertical-align: top;
    font-weight: normal;
    margin-bottom: 18px;
    margin-top: 0;
}
.panel-content .tabular table tr td{
    float: right;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-top: 6px;
    text-align: left;
    line-height: 4px;
}
.panel-content .tabular table th{
    color: #999999;
    vertical-align: top; 
    text-align: right;
    font-weight: normal;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-top: 6px;
    line-height: 4px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: bold;
    margin: 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
    font-weight: normal;
}
h1 {
    font-size: 30px;
    line-height: 36px;
}
h1 small {
    font-size: 18px;
}
h2 {
    font-size: 24px;
    line-height: 36px;
}
h2 small {
    font-size: 18px;
}
h3 {
    font-size: 18px;
    line-height: 27px;
}
h3 small {
    font-size: 14px;
}
h4, h5, h6 {
    line-height: 18px;
}
h4 {
    font-size: 14px;
}
h4 small {
    font-size: 12px;
}
h5 {
    font-size: 12px;
}
h6 {
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
}
h7 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    background: url("../images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
    border-bottom: 2px solid #000000;
    border-right: 0px none;
    border-top: 0px none;
    border-left: 0px none;
    color: #999999;
    font-weight: normal;
    font-size:13px;
}
th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 2px;
    text-align: left;
}
.ui-widget-no-border .ui-jqgrid tr.jqgrow td { font-size:13px;color: #333333; padding: 4px 5px;border: 0px none;}
.ui-widget-no-border .ui-jqgrid tr.jqgrow th { border: 0px none; padding: 4px 5px;}
.ui-widget-no-border .ui-corner-all {border: 0px none;}
.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
#selectapp
{
    font-size:14px;
}


#container
{
    background: #fff;
}

#header
{
    background: #000;
    height: 30px;
}

#banner
{
    padding: 10px;
}

#content
{
    clear: left;
    padding: 10px;
}

#populationSelect
{
    padding-top: 10px;
    padding-bottom: 10px;
}

#listView
{
    padding-top: 10px;
}

.perfLevel1
{
    color: #b40610;
}

.perfLevel2
{
    color: #e58829;
}

.perfLevel3
{
    color: #dfc836;
}

.perfLevel4
{
    color: #7fc124;
}

.perfLevel5
{
    color: #438746;
}

.countLevel1 
{
    color: #438746;
}

.countLevel2 
{
    color: #7FC124;
}

.countLevel3
{
    color: #DFC836;
}

.countLevel4
{
    color: #b40610
}

.fuelGauge
{
    width: 64px;
}
.fuelGaugeLabel
{
    float: left;
    width: 30px;
}
.fuelGauge, 
.fuelGaugeLabel
{
    font-size:12px;
}
.lozenge
{
    font-size: 9px;
    height: 14px;
    width: 24px;
}


/**** styles that will be user-customizable ****/

#banner
{
    background: #90CBD8;
    color: #fff;
}

#studentList th,
#studentList td
{
    padding: 10px;
    border: 1px solid #EEEEEE;
}



.header
{
    font-size:24px;
    
}

.panel
{
    font-size: 24px;
    margin-bottom: 10px;
}

.panelHeader
{
    margin: 5px;
}

.csi
{
    height: 100px;
}
    
.csi .colImage
{
    height:100px;
    width:100px;
    float:left;
}

.csi .colMain
{
    margin-left: 100px;
    width: 900px;
}

.csi .studentName
{
    font-size: 24px;
    height: 40px;
}

.csi .studentInfo span
{
    padding-right: 10px;
}

.csi .studentInfo .col1
{
    float: left;
    width: 500px;
}

.csi .studentInfo .col2
{
    margin-left: 500px;
    width: 500px;
}

.csi .field
{
    font-size: 12px;
    height: 20px;
}
.panel-container {
	position:relative;
}
.panel-container .panel-item {
	float:left;
    top:0;
    right:0;
}
.contactInfoItem {
	width:300px;
}
