
.panel-container {
    padding-left: 20px;
    position: relative;
    min-width: 1080px;
}

.panel-header {
	font-size: 30px;
	line-height: 36px;
	color: #333;
	font-weight: bold;
}
.panel-content {
    margin-left: 0;
    padding: 5px;
    font-size: 13px;
    min-width: 0;
}
.panel-container .panel-item {
    float:left;
    top:0;
    right:0;
}

.panel-left {
	float: left;
	width: 300px;
}

.panel-left p {
	color: #999;
	margin-bottom: 9px;
	font-size: 13px;
}
.panel-left input { 
	width: 90px; 
	border-radius: 3px;
	height: 18px;
	border: 1px solid #ccc;
	color: #999;
	padding: 4px;
	margin-bottom: 9px;
}

.panel-right {
    float: left;
    padding-left: 25px;
    
}

#noSearchResultsDiv {
	color: #999;
	font-size: 13px;
	margin-bottom: 9px;
}

#noSearchResultsDiv p, #noSearchResultsDiv ul {
	margin-bottom: 9px;
}

#noSearchResultsDiv a {
	color: #000;
	text-decoration: none;
}

#noSearchResultsDiv a:hover {
	text-decoration: underline;
}


/* Temp style fix for Dashboard Search */

#schoolSelectMenu { display: inline-block; }

.btn-group { width: 48%; }

h4 { display: inline-block; }

#searchResultsSection { display: none; }

#schoolSelectSection { width: 500px; }