#Account_Management_Table{
  border: 1px solid black;
}
#Account_Management_Table td,
#Account_Management_Table th {
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  border: 1px solid black;
   }
#Account_Management_Table #pendingStatus {
  color: blue; }
  
#Account_Management_Table #rejectedStatus,
#Account_Management_Table #disabledStatus {
  color: red; }
