label.required { color: #D00;}
div.field_with_errors input, div.field_with_errors textarea {border-color: red;}
div.yellow {background-color: rgb(246, 248, 191);}
dt {width: 250px;}
ul.clear {list-style: none;}
dl.dl-horizontal dd:after {content: "\0000a0";}
ul.select-list {margin-left: 0px; padding-left:0px;}
div#enable-menu {width: 50%;}
ul.select-list li a {width:100%; display:block;} 
ul.select-list li a:link, a:visited {text-decoration: none;} 
ul.select-list li a:hover {background-color: #888;color: #000;} 
div.clear {clear: both;}
span.district-text {font-weight: bold; color: #7B7B7E;}
div.enable-disable {font-size: 70%;}
