@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  font-family: "Droid Sans", sans-serif;
  color: #63666A;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: 28px;
  line-break: 36px;
  color: #005270;
}

form input {
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  color: #63666A;
  border: 3px solid #D6D2C4;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}

input:focus {
  border: 3px solid #3EB1C8;
}

.actions input {
  background-color: #5D3283;
  border: 3px solid #512B73;
  color: white;
  padding: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.actions input:hover {
  background-color: #512B73;
}

td {
  text-align: right;
}

.actions td {
  padding-right: 12px;
}

.actions {
  margin-top: 12px;
  margin-left: 132px;
}

#error_explanation h2 {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  display: inline-block;
  padding: 12px;
  background-color: #ECA154;
  border: 3px solid #DA8947;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

td#error_explanation {
  color: red;
  text-align: left;
  padding-left: 12px;
}

.field_with_errors input,
.field_with_errors input:focus {
  border-color: red;
}