
#addRightUi {
  display: none
}

#addSelfRightUi {
  display: none
}

#addRoleUi {
  display: none
}

#labelUi {
  display: none
}

#buttonUi {
  display: none
}

#editableRoleUi {
  display: none
}

.customLabel {
  font-size: 12px;
  min-width: 120px;
  background-image: none;
  background-color: #D6D6D6;
  #margin-top: 5px;
  margin-bottom: 5px;
  #margin-right: 5px;
  cursor: default;
  height: 20px;
  padding: 4px 5px;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.editable {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 0px;
}

.customLabel:hover {
  background-color: #D6D6D6;
}

.customLabel:active {
  background-image: none;
  background-color: #D6D6D6;
  box-shadow: none;
}

.groupTitle {
  font-weight:bold;
}


.saveButtons {
  display: none
}

#rowEditTool {
  display: none
}

.input-append {
  padding:5px;
  magin:5px;
}

.btn-dark {
  color: #ffffff;
  background-color: #999999;
  border-color: #7D7D7D;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #757575;
  border-color: #7D7D7D;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}

.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #999999;
  border-color: #7D7D7D;
}

.btn-dark .badge {
  color: #999999;
  background-color: #ffffff;
}

tr td:first-child.highlight {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
 -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  border-style: solid;
  border-color:  rgba(0,0,255, 0.8); 
  border-width: 1px 0px 1px 1px;
}

tr td:last-child.highlight {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  border-style: solid;
  border-color:  rgba(0,0,255, 0.8); 
  border-width: 1px 1px 1px 0px;
}

tr td.highlight:not(:first-child):not(:last-child) {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  border-style: solid;
  border-color:  rgba(0,0,255, 0.8); 
  border-width: 1px 0px 1px 0px;
}
