// Place all the styles related to the landing_zone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.provision {
  overflow:hidden;
  float:left;
}

div.provisionBlock{
  overflow:hidden;
}

div.provisionButtons{
  overflow:hidden;
}

div.edOrgIdSelect{
  overflow:hidden;
}

div.provision label{
  float:left;
  text-align:left;
}

div.provision input{
  display:block;
  float:left;
  margin-left:10px;
}

input.radioButton {
  width:20px;
}

div.edOrgIdSelect label{
  visibility:hidden;
  height:0px;
}

div.rsaKeyBlock{
  overflow:hidden;
  display:block;
  clear:both;
}

div.rsaKeyBlock label{
  color:#0000FF;
  margin-left:10px;
  margin-right:10px;
  cursor: pointer;
}

div.rsaKeyBlock i{
  margin-left:10px;
  margin-right:10px;
}

div.rsaKeyBlock input{
  margin-left:10px;
  margin-right:10px;
}

div#rsaKeyField textarea{
  overflow:hidden;
  display:inline;
  clear:left;
  height:300px;
  width:500px;
}

div#validationErrorsBlock {
  clear:right;
  margin-left:10px;
}

div.provisionButtons input{
  margin-top:18px;
  float:right;
}

div.sidebar {
  float:right
}

div.form-actions{
  clear:both
}

a.tooltip_link{
  color: #0000FF;
}

span#rsa_validation_error_text {
  width: 500px;	    
  background: #FFEEEE; 
}
