// Place all the styles related to the landing_zone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.provision div{
  overflow:hidden;
  width:350px;
}

div.provisionBlock{
  overflow:hidden;
}

div.provisionButtons{
  overflow:hidden;
}

div.edOrgIdSelect{
  overflow:hidden;
}

div.provision label{
  float:left;
  text-align:left;
  width:300px;
}

div.provision input{
  display:block;
  float:left;
  margin-left:10px;
}

div.provisionBlock input{
  width:20px;
}

div.edOrgIdSelect input{
  margin-left:40px;
}

div.edOrgIdSelect label{
  visibility:hidden;
}

div.provisionButtons input{
  float:right;
}
