// Place all the styles related to the mappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

th
{
padding-right:15px;
}
