// Place all the styles related to the TenantMetrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tenant-metrics-table {
  border: 1px solid black;
  width: 80%;
  margin-left:10%;
}

#tenant-metrics-table thead th tfoot tr {
  padding: 1em;
  text-align:center;
  background-color:darkgray;
  border: 1px solid black;
}

#tenant-metrics-table tr td {
  padding: 0.3em;
  padding-right: 0.75em;
}

#tenant-metrics-table tbody tr:hover td,
#tenant-metrics-table tbody tr:hover th {
  background-color: transparent;
}

#tenant-metrics-table.odd {
  background-color:#d3d3d3;
}

#tenant-metrics-table.odd td {
  border-right: 1px solid #f3f3f3;
}

#tenant-metrics-table.even {
  background-color:#f3f3f3;
}

#tenant-metrics-table.even td {
  border-right: 1px solid #d3d3d3;
}

.tenant_metrics_summary {
  color:#ffffff;
  background-color: #6d789c;
  border-top: 1px solid black;
}

.tenant_metrics_collection_name {
  width: 60%;
}

.tenant_metrics_entity_count {
  text-align: right;
}

.tenant_metrics_data_size {
  text-align: right;
}

#metric_value_last {
  text-align: right;
  border-right: 1px solid black;
}
