#Users_Management_Table{
  border: 1px solid black;
}
  
#Users_Management_Table td,
#Users_Management_Table th {
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  border: 1px solid black;
 }

#Search_Box {
  float:right;
}

