<p id="error_notice"><%= @error_notice %></p>
<p id="notice"><%= @notice %></p>

<a href="/tenant_metrics">Summary</a>

<h3>Tenant Collection Information for "<%= params[:id] %>"</h3>

<hr/>

<!-- {:tenantId => {:collection => {:entityCount => 0, :size => 0} } } -->
<table id="tenant-metrics-table">
  <thead>
  <tr>
    <th class='collection_name'>Collection</th>
    <th>Entity Count</th>
    <th>Size (KB)</th>
  </tr>
  </thead>
  <% @tenant_metrics.metrics().each do |tenant_id, tenant_metric| %>

      <tr>

        <% tenant_metric.each do |collectionName, collectionData| %>
            <%
               if collectionName == "== Totals =="
                 @totals = collectionData
               else
                 concat ("<td class='collection_name'>" + collectionName + "</td>").html_safe
                 concat ("<td class='metric_value'>" + collectionData[:entityCount].to_s() + "</td>").html_safe
                 concat ("<td class='metric_value' id='metric_value_last'>" + ("%.2f " % (collectionData[:size] / 1024)) + "</td>").html_safe
               end
            %>
            </tr>
        <% end
           concat ("<tr class='summary'><td><b>Total</b></td>").html_safe
           concat ("<td class='metric_value'><b>" + @totals[:entityCount].to_s() + "</td>").html_safe
           concat ("<td class='metric_value' id='metric_value_last'><b>" + ("%.2f " % (@totals[:size] / 1024)) + "</b></td></tr>").html_safe
        %>
  <% end %>
</table>

<br/>
<br/>
